docker/balluff_NodeRed_x86_64_dev/lib/flows/RasperryPi/Balluff/BAE00TP.json
[{"id":"e53eb6e1.23891","type":"function","z":"e2facc12.5a1d2","name":"ProcessInputs: BAE00TP","func":"if (msg.BNIPort === parseInt(global.get('BAE00TP'),16) && msg.command === 10) {\n    msg.payload = msg.response.substr(15,11);\n} else {return;\n    \n}\n\nreturn msg;\n//{ payload:msg.payload.substr(15,8) };","outputs":1,"noerr":0,"x":450,"y":260,"wires":[["689c6214.302524","c24b2b1e.402308"]]},{"id":"730ac1a1.ef9e1","type":"function","z":"e2facc12.5a1d2","name":"AL_ReadReq BAE Stresslevel","func":"msg.Start = '08 00'; //Startbyte\nmsg.Revision = '02'; //Protokoll Revision 02\nmsg.Command = '02'; // Kommando\nmsg.IOLPort = global.get('BAE00TP'); //Port Nummer\nmsg.LowIndex = '00'; //IO-Link Index \nmsg.HighIndex = '05'; //IO-Link Index (meißtens 00)\nmsg.SubIndex = '00'; //IO-Link SubIndex \nmsg.Index = 'XX';\nmsg.PL = msg.payload; //Payload of inject\n\nmsg.hex = msg.Start +\" \"+ msg.Revision +\" \"+ msg.Command +\" \"+ msg.IOLPort +\" \"+ msg.LowIndex +\" \"+ msg.HighIndex +\" \"+ msg.SubIndex;\n\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":540,"wires":[["7d357327.54e6e4"]]},{"id":"84f8a3b6.e3a408","type":"function","z":"e2facc12.5a1d2","name":"AL_ReadReq BAE Years Lifetime","func":"msg.Start = '08 00'; //Startbyte\nmsg.Revision = '02'; //Protokoll Revision 02\nmsg.Command = '02'; // Kommando\nmsg.IOLPort = global.get('BAE00TP'); //Port Nummer\nmsg.LowIndex = '02'; //IO-Link Index \nmsg.HighIndex = '05'; //IO-Link Index (meißtens 00)\nmsg.SubIndex = '00'; //IO-Link SubIndex \nmsg.Index = 'XY';\nmsg.PL = msg.payload; //Payload of inject\n\nmsg.hex = msg.Start +\" \"+ msg.Revision +\" \"+ msg.Command +\" \"+ msg.IOLPort +\" \"+ msg.LowIndex +\" \"+ msg.HighIndex +\" \"+ msg.SubIndex;\n\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":620,"wires":[["7d357327.54e6e4"]]},{"id":"7aa3941.271b5ec","type":"function","z":"e2facc12.5a1d2","name":"AL_ReadReq BAE Operating Hours","func":"msg.Start = '08 00'; //Startbyte\nmsg.Revision = '02'; //Protokoll Revision 02\nmsg.Command = '02'; // Kommando\nmsg.IOLPort = global.get('BAE00TP'); //Port Nummer\nmsg.LowIndex = '06'; //IO-Link Index \nmsg.HighIndex = '05'; //IO-Link Index (meißtens 00)\nmsg.SubIndex = '00'; //IO-Link SubIndex \nmsg.Index = 'XW';\nmsg.PL = msg.payload; //Payload of inject\n\nmsg.hex = msg.Start +\" \"+ msg.Revision +\" \"+ msg.Command +\" \"+ msg.IOLPort +\" \"+ msg.LowIndex +\" \"+ msg.HighIndex +\" \"+ msg.SubIndex;\n\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":660,"wires":[["7d357327.54e6e4"]]},{"id":"a7d94c4d.bdbca","type":"function","z":"e2facc12.5a1d2","name":"AL_ReadReq BAE Primary Cap Temp","func":"msg.Start = '08 00'; //Startbyte\nmsg.Revision = '02'; //Protokoll Revision 02\nmsg.Command = '02'; // Kommando\nmsg.IOLPort = global.get('BAE00TP'); //Port Nummer\nmsg.LowIndex = '03'; //IO-Link Index \nmsg.HighIndex = '05'; //IO-Link Index (meißtens 00)\nmsg.SubIndex = '00'; //IO-Link SubIndex \nmsg.Index = 'XV';\nmsg.PL = msg.payload; //Payload of inject\n\nmsg.hex = msg.Start +\" \"+ msg.Revision +\" \"+ msg.Command +\" \"+ msg.IOLPort +\" \"+ msg.LowIndex +\" \"+ msg.HighIndex +\" \"+ msg.SubIndex;\n\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":1080,"wires":[["5a7cbd05.857bd4"]]},{"id":"4130230c.d0ca5c","type":"function","z":"e2facc12.5a1d2","name":"AL_ReadReq BAE Secondary Cap Temp","func":"msg.Start = '08 00'; //Startbyte\nmsg.Revision = '02'; //Protokoll Revision 02\nmsg.Command = '02'; // Kommando\nmsg.IOLPort = global.get('BAE00TP'); //Port Nummer\nmsg.LowIndex = '04'; //IO-Link Index \nmsg.HighIndex = '05'; //IO-Link Index (meißtens 00)\nmsg.SubIndex = '00'; //IO-Link SubIndex \nmsg.Index = 'XU';\nmsg.PL = msg.payload; //Payload of inject\n\nmsg.hex = msg.Start +\" \"+ msg.Revision +\" \"+ msg.Command +\" \"+ msg.IOLPort +\" \"+ msg.LowIndex +\" \"+ msg.HighIndex +\" \"+ msg.SubIndex;\n\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":1160,"wires":[["5a7cbd05.857bd4"]]},{"id":"728ab640.e9799","type":"ui_chart","z":"e2facc12.5a1d2","name":"","group":"ee76e6d4.2fc91","order":0,"width":0,"height":0,"label":"Primary Cap Temp","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":1110,"y":1260,"wires":[[],[]]},{"id":"689c6214.302524","type":"function","z":"e2facc12.5a1d2","name":"BAE Voltage","func":"msg.payload = parseInt((msg.payload.substr(0, 2))+(msg.payload.substr(3, 1)) ,16)/10;\nflow.set('BAEVoltage',msg.payload)\nreturn msg;\n","outputs":1,"noerr":0,"x":950,"y":240,"wires":[["b18cd056.72915","f3845d81.07cb6"]]},{"id":"c24b2b1e.402308","type":"function","z":"e2facc12.5a1d2","name":"BAE Current","func":"msg.payload = parseInt((msg.payload.substr(4, 1))+(msg.payload.substr(6, 2)) ,16)/10;\nflow.set('BAEAmpere',msg.payload)\n\nreturn msg;\n","outputs":1,"noerr":0,"x":950,"y":280,"wires":[["f595a270.a0fc9","af52dc15.993f1"]]},{"id":"67536197.30f8c8","type":"function","z":"e2facc12.5a1d2","name":"BAE Stresslevel","func":"if (msg.BNIPort === parseInt(global.get('BAE00TP'),16) && msg.command === 9 && msg.LowIndex === 'XX' && msg.SubIndex === \"00\") {\n    msg.payload = msg.response.substr(18,2);\n} else {return;\n    \n}\n\nreturn msg;\n//{ payload:msg.payload.substr(15,8) };","outputs":1,"noerr":0,"x":620,"y":760,"wires":[["f489590a.c7b198"]]},{"id":"f489590a.c7b198","type":"function","z":"e2facc12.5a1d2","name":"Transform","func":"var principle = msg.payload;\n\nif(principle === \"01\"){\n    msg.payload = \"No Stress\"\n} else if(principle === \"02\"){\n    msg.payload = \"Okay\"\n} else if(principle === \"03\"){\n    msg.payload = \"Heavy Load\"\n}\n\nflow.set('BAEStressLevel',principle);\n    \nreturn msg;","outputs":1,"noerr":0,"x":840,"y":760,"wires":[["168a8712.625309","88874279.bab548"]]},{"id":"8771fa84.8c5fb","type":"function","z":"e2facc12.5a1d2","name":"BAE Lifetime","func":"if (msg.BNIPort === parseInt(global.get('BAE00TP'),16) && msg.command === 9 && msg.LowIndex === 'XY' && msg.SubIndex === \"00\") {\n    msg.payload = msg.response.substr(18,2);\n} else {return;\n    \n}\n\nreturn msg;\n//{ payload:msg.payload.substr(15,8) };","outputs":1,"noerr":0,"x":610,"y":800,"wires":[["1c832150.b948b7"]]},{"id":"1c832150.b948b7","type":"function","z":"e2facc12.5a1d2","name":"Calc Years (1byte)","func":"msg.original = msg.payload;\nmsg.calc = parseInt(msg.payload,16);\n//msg.payload = Math.round(((parseInt((msg.payload.substr(0, 2)) ,16))/15)*100);\nmsg.payload = msg.calc;\n\nflow.set('BAELifeTime',msg.payload);\nreturn msg;\n","outputs":1,"noerr":0,"x":870,"y":800,"wires":[["87fcca6.e4eb138","d477925c.960fc8"]]},{"id":"5da84f6a.b5fa8","type":"function","z":"e2facc12.5a1d2","name":"BAE Operating hours","func":"if (msg.BNIPort === parseInt(global.get('BAE00TP'),16) && msg.command === 9 && msg.LowIndex === 'XW' && msg.SubIndex === \"00\") {\n    msg.payload = msg.response.substr(18,12);\n} else {return;\n    \n}\n\nreturn msg;\n//{ payload:msg.payload.substr(15,8) };","outputs":1,"noerr":0,"x":640,"y":840,"wires":[["9efde24d.86f62"]]},{"id":"9efde24d.86f62","type":"function","z":"e2facc12.5a1d2","name":"Calc Hours (4byte)","func":"msg.payload = parseInt((msg.payload.substr(0, 2))+(msg.payload.substr(3, 2))+(msg.payload.substr(6, 2))+(msg.payload.substr(9, 2)),16);\n\nflow.set('BAEOperatingHours',msg.payload);\nreturn msg;\n","outputs":1,"noerr":0,"x":870,"y":840,"wires":[["7a0f944e.cb8354","795998.33549e68"]]},{"id":"62720bc.7ab4df4","type":"function","z":"e2facc12.5a1d2","name":"Calc 2byte int","func":"msg.payload = parseInt((msg.payload.substr(0, 2))+(msg.payload.substr(3, 2)) ,16);\nreturn msg;\n","outputs":1,"noerr":0,"x":880,"y":1260,"wires":[["728ab640.e9799","5a97fdb0.598444"]]},{"id":"286ca406.4e81fc","type":"function","z":"e2facc12.5a1d2","name":"Calc 2byte int","func":"msg.payload = parseInt((msg.payload.substr(0, 2))+(msg.payload.substr(3, 2)) ,16);\nreturn msg;\n","outputs":1,"noerr":0,"x":880,"y":1300,"wires":[["ab9eab55.ff303","76b58dd5.e625b4"]]},{"id":"3e56ca99.2808d6","type":"function","z":"e2facc12.5a1d2","name":"BAE primary cap temp","func":"if (msg.BNIPort === parseInt(global.get('BAE00TP'),16) && msg.command === 9 && msg.LowIndex === 'XV' && msg.SubIndex === \"00\") {\n    msg.payload = msg.response.substr(18,6);\n} else {return;\n    \n}\n\nreturn msg;\n//{ payload:msg.payload.substr(15,8) };","outputs":1,"noerr":0,"x":660,"y":1260,"wires":[["62720bc.7ab4df4"]]},{"id":"1be4ab40.878f7d","type":"function","z":"e2facc12.5a1d2","name":"BAE Secondary cap temp","func":"if (msg.BNIPort === parseInt(global.get('BAE00TP'),16) && msg.command === 9 && msg.LowIndex === 'XU' && msg.SubIndex === \"00\") {\n    msg.payload = msg.response.substr(18,6);\n} else {return;\n    \n}\n\nreturn msg;\n//{ payload:msg.payload.substr(15,8) };","outputs":1,"noerr":0,"x":670,"y":1300,"wires":[["286ca406.4e81fc"]]},{"id":"b18cd056.72915","type":"ui_gauge","z":"e2facc12.5a1d2","name":"","group":"8e3e50e1.c7c9b8","order":0,"width":0,"height":0,"gtype":"gage","title":"Voltage","label":"Volts","format":"{{value}}","min":0,"max":"32","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1160,"y":240,"wires":[]},{"id":"f595a270.a0fc9","type":"ui_gauge","z":"e2facc12.5a1d2","name":"","group":"8e3e50e1.c7c9b8","order":0,"width":0,"height":0,"gtype":"gage","title":"Ampere","label":"Ampere","format":"{{value}}","min":0,"max":"4","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1160,"y":280,"wires":[]},{"id":"168a8712.625309","type":"ui_text","z":"e2facc12.5a1d2","group":"1257d9b6.2583c6","order":0,"width":0,"height":0,"name":"","label":"Stresslevel:","format":"{{msg.payload}}","layout":"row-left","x":1070,"y":760,"wires":[]},{"id":"87fcca6.e4eb138","type":"ui_text","z":"e2facc12.5a1d2","group":"1257d9b6.2583c6","order":0,"width":0,"height":0,"name":"","label":"Lifetime","format":"{{msg.payload}} Years remaining","layout":"row-left","x":1060,"y":800,"wires":[]},{"id":"7a0f944e.cb8354","type":"ui_text","z":"e2facc12.5a1d2","group":"1257d9b6.2583c6","order":0,"width":0,"height":0,"name":"","label":"Operating hours","format":"{{msg.payload}} h","layout":"row-left","x":1080,"y":840,"wires":[]},{"id":"ab9eab55.ff303","type":"ui_chart","z":"e2facc12.5a1d2","name":"","group":"ee76e6d4.2fc91","order":0,"width":0,"height":0,"label":"Secondary Cap Temp","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":1120,"y":1300,"wires":[[],[]]},{"id":"8ccb5e5c.9e00d8","type":"inject","z":"e2facc12.5a1d2","name":"TS-5sec","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":"","x":380,"y":1100,"wires":[["fd95999f.b73dc"]]},{"id":"fd95999f.b73dc","type":"switch","z":"e2facc12.5a1d2","name":"","property":"SensorsAreSet","propertyType":"global","rules":[{"t":"eq","v":"OK","vt":"str"},{"t":"neq","v":"OK","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":550,"y":1100,"wires":[["a7d94c4d.bdbca","4130230c.d0ca5c"],["d159c5b0.7dcbe"]]},{"id":"d159c5b0.7dcbe","type":"change","z":"e2facc12.5a1d2","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Sensors Not Set","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":1120,"wires":[["8ef95c35.73465"]]},{"id":"64472571.30b14c","type":"function","z":"e2facc12.5a1d2","name":"Set Payload to Buffer","func":"if (msg.hex.includes(undefined) === false){\n    var string = msg.hex.replace(/\\s/g,'');\n    msg.ip = global.get('host');\n    msg.port = '1999';\n    msg.payload = Buffer.from(string,\"hex\");\n} else {\n    msg.payload = \"not Present\"\n}\n\nreturn msg;\n\n//msg.payload = Buffer.from(msg.payload, \"hex\");\n","outputs":1,"noerr":0,"x":1440,"y":660,"wires":[["40d76ac.65a8f94"]]},{"id":"fae30393.d46178","type":"switch","z":"e2facc12.5a1d2","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"not Present","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1830,"y":660,"wires":[["1b904875.86ba8"],["afb75b0.53e9ba8"]]},{"id":"eec0a082.3e7378","type":"function","z":"e2facc12.5a1d2","name":"Set Payload to Buffer","func":"if (msg.hex.includes(undefined) === false){\n    var string = msg.hex.replace(/\\s/g,'');\n    msg.ip = global.get('host');\n    msg.port = '1999';\n    msg.payload = Buffer.from(string,\"hex\");\n} else {\n    msg.payload = \"not Present\"\n}\n\nreturn msg;\n\n//msg.payload = Buffer.from(msg.payload, \"hex\");\n","outputs":1,"noerr":0,"x":1420,"y":1160,"wires":[["b1797315.31c18"]]},{"id":"c9235d18.ebd83","type":"switch","z":"e2facc12.5a1d2","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"not Present","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1810,"y":1160,"wires":[["3d4f5a43.aa29a6"],["d14c1549.a9d89"]]},{"id":"98b663b4.23a308","type":"inject","z":"e2facc12.5a1d2","name":"TS-5min","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":"","x":380,"y":560,"wires":[["d95d20a2.0f7ed8"]]},{"id":"d95d20a2.0f7ed8","type":"switch","z":"e2facc12.5a1d2","name":"","property":"SensorsAreSet","propertyType":"global","rules":[{"t":"eq","v":"OK","vt":"str"},{"t":"neq","v":"OK","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":550,"y":560,"wires":[["730ac1a1.ef9e1","84f8a3b6.e3a408","7aa3941.271b5ec"],["1b31779c.42509"]]},{"id":"1b31779c.42509","type":"change","z":"e2facc12.5a1d2","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Sensors Not Set","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":580,"wires":[["2c5b8d7a.e3de2a"]]},{"id":"40d76ac.65a8f94","type":"change","z":"e2facc12.5a1d2","name":"","rules":[{"t":"set","p":"LowIndex","pt":"msg","to":"Index","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1650,"y":660,"wires":[["fae30393.d46178"]]},{"id":"b1797315.31c18","type":"change","z":"e2facc12.5a1d2","name":"","rules":[{"t":"set","p":"LowIndex","pt":"msg","to":"Index","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1630,"y":1160,"wires":[["c9235d18.ebd83"]]},{"id":"521ba07.f00d5e","type":"comment","z":"e2facc12.5a1d2","name":"Process Data","info":"","x":330,"y":140,"wires":[]},{"id":"d9533a1b.099e48","type":"comment","z":"e2facc12.5a1d2","name":"Service Data 5 min Cycle","info":"","x":350,"y":380,"wires":[]},{"id":"c7f88c03.e2519","type":"comment","z":"e2facc12.5a1d2","name":"Write Service data","info":"","x":370,"y":1560,"wires":[]},{"id":"78aef60c.9a3e98","type":"comment","z":"e2facc12.5a1d2","name":"Write Process Data ","info":"","x":370,"y":1620,"wires":[]},{"id":"bbd72ed9.10115","type":"link in","z":"e2facc12.5a1d2","name":"Process Data Hanling","links":["99900e35.ab1578"],"x":275,"y":260,"wires":[["e53eb6e1.23891"]]},{"id":"4bd6451d.d05fd4","type":"comment","z":"e2facc12.5a1d2","name":"Service Data 10 sec Cycle","info":"","x":350,"y":940,"wires":[]},{"id":"e6455596.e7fa8","type":"link in","z":"e2facc12.5a1d2","name":"5 minservice data return","links":["99900e35.ab1578"],"x":340,"y":760,"wires":[["67536197.30f8c8","8771fa84.8c5fb","5da84f6a.b5fa8"]]},{"id":"2c5b8d7a.e3de2a","type":"debug","z":"e2facc12.5a1d2","name":"Sensors not set","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1020,"y":580,"wires":[]},{"id":"1b904875.86ba8","type":"link out","z":"e2facc12.5a1d2","name":"5 min Service Data send","links":["2514d289.79f41e"],"x":1935,"y":640,"wires":[]},{"id":"afb75b0.53e9ba8","type":"debug","z":"e2facc12.5a1d2","name":"BAE00TP not Present","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":2020,"y":680,"wires":[]},{"id":"8ef95c35.73465","type":"debug","z":"e2facc12.5a1d2","name":"Sensors not set","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1020,"y":1120,"wires":[]},{"id":"3d4f5a43.aa29a6","type":"link out","z":"e2facc12.5a1d2","name":"10s service data send","links":["2514d289.79f41e"],"x":1915,"y":1140,"wires":[]},{"id":"d14c1549.a9d89","type":"debug","z":"e2facc12.5a1d2","name":"BAE00TP not Present","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":2000,"y":1180,"wires":[]},{"id":"553904b4.eb550c","type":"link in","z":"e2facc12.5a1d2","name":"10s service data return","links":["99900e35.ab1578"],"x":355,"y":1240,"wires":[["3e56ca99.2808d6","1be4ab40.878f7d"]]},{"id":"7d357327.54e6e4","type":"simple-queue","z":"e2facc12.5a1d2","name":"queue1","firstMessageBypass":true,"bypassInterval":"1000","x":1220,"y":660,"wires":[["64472571.30b14c"]]},{"id":"5a7cbd05.857bd4","type":"simple-queue","z":"e2facc12.5a1d2","name":"queue1","firstMessageBypass":true,"bypassInterval":"100","x":1220,"y":1160,"wires":[["eec0a082.3e7378"]]},{"id":"af52dc15.993f1","type":"change","z":"e2facc12.5a1d2","name":"","rules":[{"t":"set","p":"BAE00TP_current","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1360,"y":260,"wires":[[]]},{"id":"88874279.bab548","type":"change","z":"e2facc12.5a1d2","name":"","rules":[{"t":"set","p":"BAE00TP_stress_level","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1300,"y":740,"wires":[[]]},{"id":"d477925c.960fc8","type":"change","z":"e2facc12.5a1d2","name":"","rules":[{"t":"set","p":"BAE00TP_lifetime","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1280,"y":780,"wires":[[]]},{"id":"795998.33549e68","type":"change","z":"e2facc12.5a1d2","name":"","rules":[{"t":"set","p":"BAE00TP_operating_hours","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1310,"y":820,"wires":[[]]},{"id":"5a97fdb0.598444","type":"change","z":"e2facc12.5a1d2","name":"","rules":[{"t":"set","p":"BAE00TP_primary_temp","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1400,"y":1240,"wires":[[]]},{"id":"76b58dd5.e625b4","type":"change","z":"e2facc12.5a1d2","name":"","rules":[{"t":"set","p":"BAE00TP_secondary_temp","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1410,"y":1280,"wires":[[]]},{"id":"f3845d81.07cb6","type":"change","z":"e2facc12.5a1d2","name":"","rules":[{"t":"set","p":"BAE00TP_voltage","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1360,"y":220,"wires":[[]]},{"id":"ee76e6d4.2fc91","type":"ui_group","z":"","name":"Charts","tab":"fe48e83f.6f879","order":2,"disp":true,"width":"12","collapse":false},{"id":"8e3e50e1.c7c9b8","type":"ui_group","z":"","name":"Gauges","tab":"fe48e83f.6f879","order":1,"disp":true,"width":"12","collapse":false},{"id":"1257d9b6.2583c6","type":"ui_group","z":"","name":"Text Data","tab":"fe48e83f.6f879","order":3,"disp":true,"width":"8","collapse":false},{"id":"fe48e83f.6f879","type":"ui_tab","z":"","name":"BAE00TP","icon":"dashboard","order":2}]