docker/balluff_NodeRed_x86_64_dev/lib/flows/RasperryPi/Balluff/BIP001M.json
[{"id":"a1327925.989e28","type":"function","z":"1ea22480.172924","name":"BUS Convert to Decimal","func":"msg.hexValue = msg.payload.substr(0,4);\n\nmsg.payload = parseInt(msg.hexValue.split(' ').join(''),16)/100;\n\n\nreturn msg;\n","outputs":1,"noerr":0,"x":730,"y":300,"wires":[["fe4c25d9.a5f778","9905615c.778f8","9a319895.83d94"]]},{"id":"c4c8b344.2bb4","type":"function","z":"1ea22480.172924","name":"ProcessInputs: BIP001M","func":"if (msg.BNIPort === (parseInt(global.get('BIP001M'),16)) && msg.command === 10) {\n    msg.payload = msg.response.substr(15,5);\n} else {\n    return;\n    \n}\nreturn msg;\n","outputs":1,"noerr":0,"x":450,"y":300,"wires":[["a1327925.989e28"]]},{"id":"fe4c25d9.a5f778","type":"ui_chart","z":"1ea22480.172924","name":"BOD0026 Chart","group":"803cec22.161ea","order":3,"width":"20","height":"16","label":"BIP001M","chartType":"line","legend":"false","xformat":"ss","interpolate":"linear","nodata":"No Data Yet :-)","dot":false,"ymin":"10","ymax":"45","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#0000ff","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":960,"y":300,"wires":[[],[]]},{"id":"dfb15f9d.6947c8","type":"comment","z":"1ea22480.172924","name":"Process Data","info":"","x":330,"y":220,"wires":[]},{"id":"436ab8fb.88ebf8","type":"link in","z":"1ea22480.172924","name":"Process Data Handler","links":["99900e35.ab1578"],"x":275,"y":300,"wires":[["c4c8b344.2bb4"]]},{"id":"5f556f21.6d1bb8","type":"comment","z":"1ea22480.172924","name":"Service Data 10s Cycle","info":"","x":320,"y":500,"wires":[]},{"id":"9905615c.778f8","type":"change","z":"1ea22480.172924","name":"","rules":[{"t":"set","p":"BIP001M_distance","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":260,"wires":[[]]},{"id":"c197ea1f.a309b","type":"comment","z":"1ea22480.172924","name":"Write Service data","info":"","x":370,"y":920,"wires":[]},{"id":"570b2f20.84f8c","type":"comment","z":"1ea22480.172924","name":"Write Process Data ","info":"","x":370,"y":960,"wires":[]},{"id":"a4fc55c2.7039f8","type":"function","z":"1ea22480.172924","name":"BML01HE Temp array","func":"if (msg.BNIPort === parseInt(global.get('BIP001M'),16) && msg.command === 9 && msg.LowIndex === '52' && msg.SubIndex === \"00\") {\n    msg.payload = msg.response.substr(18,2);\n} else {return;\n    \n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":480,"y":720,"wires":[["bd2119cb.c88e28"]]},{"id":"bd2119cb.c88e28","type":"function","z":"1ea22480.172924","name":"Transform","func":"msg.internal_temp_actual = parseInt(msg.payload.substr(0,2),16);\n\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":720,"wires":[["964310e6.497118"]]},{"id":"f7f54513.f77448","type":"link in","z":"1ea22480.172924","name":"10s service data return","links":["99900e35.ab1578"],"x":255,"y":720,"wires":[["a4fc55c2.7039f8"]]},{"id":"8f8a1ba.9ced368","type":"ui_chart","z":"1ea22480.172924","name":"","group":"803cec22.161ea","order":0,"width":0,"height":0,"label":"internal Temperatures","chartType":"line","legend":"false","xformat":"mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-25","ymax":"125","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":1180,"y":720,"wires":[[],[]]},{"id":"964310e6.497118","type":"function","z":"1ea22480.172924","name":"internal_temp_actual","func":"msg.payload = msg.internal_temp_actual;\nmsg.topic = \"internal_temp_actual\";\n//msg.label = \"internal_temp_actual\"\nreturn msg;","outputs":1,"noerr":0,"x":900,"y":720,"wires":[["8f8a1ba.9ced368","a43ea5c0.1ce0a"]]},{"id":"a43ea5c0.1ce0a","type":"change","z":"1ea22480.172924","name":"","rules":[{"t":"set","p":"BIP001M_temperature_actual","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1480,"y":700,"wires":[[]]},{"id":"7496523e.e6c2dc","type":"function","z":"1ea22480.172924","name":"AL_ReadReq BAW temp Array","func":"msg.Start = '08 00'; //Startbyte\nmsg.Revision = '02'; //Protokoll Revision 02\nmsg.Command = '02'; // Kommando\nmsg.IOLPort = global.get('BIP001M'); //Port Nummer\nmsg.LowIndex = '52'; //IO-Link Index \nmsg.HighIndex = '00'; //IO-Link Index (meißtens 00)\nmsg.SubIndex = '00'; //IO-Link SubIndex \n\nmsg.PL = msg.payload; //Payload of inject\n\nmsg.hex = msg.Start +\" \"+ msg.Revision +\" \"+ msg.Command +\" \"+ msg.IOLPort +\" \"+ msg.LowIndex +\" \"+ msg.HighIndex +\" \"+ msg.SubIndex;\n\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":540,"wires":[["c6e879fc.57a9a8"]]},{"id":"2125838d.c7d674","type":"switch","z":"1ea22480.172924","name":"","property":"SensorsAreSet","propertyType":"global","rules":[{"t":"eq","v":"OK","vt":"str"},{"t":"neq","v":"OK","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":560,"wires":[["7496523e.e6c2dc"],["eb1d0c3c.62252"]]},{"id":"4c045d06.625314","type":"inject","z":"1ea22480.172924","name":"TS-2s","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":false,"onceDelay":"","x":300,"y":560,"wires":[["2125838d.c7d674"]]},{"id":"eb1d0c3c.62252","type":"change","z":"1ea22480.172924","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Sensors Not Set","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":600,"wires":[["9187f29e.71c6e"]]},{"id":"9187f29e.71c6e","type":"debug","z":"1ea22480.172924","name":"Sensors not set","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":880,"y":600,"wires":[]},{"id":"c6e879fc.57a9a8","type":"function","z":"1ea22480.172924","name":"Set Payload to Buffer","func":"if (msg.hex.includes(undefined) === false){\n    var string = msg.hex.replace(/\\s/g,'');\n    msg.ip = global.get('host');\n    msg.port = '1999';\n    msg.payload = Buffer.from(string,\"hex\");\n} else {\n    msg.payload = \"not Present\"\n}\n\nreturn msg;\n\n//msg.payload = Buffer.from(msg.payload, \"hex\");\n","outputs":1,"noerr":0,"x":1160,"y":540,"wires":[["5fa5ff8.1e445"]]},{"id":"5fa5ff8.1e445","type":"switch","z":"1ea22480.172924","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"not Present","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1350,"y":540,"wires":[["3fd6caad.a8419e"],["577697f2.b343"]]},{"id":"3fd6caad.a8419e","type":"link out","z":"1ea22480.172924","name":"10s Service Data send","links":["2514d289.79f41e"],"x":1495,"y":520,"wires":[]},{"id":"577697f2.b343","type":"debug","z":"1ea22480.172924","name":"BML06HE not Present","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1580,"y":560,"wires":[]},{"id":"9a319895.83d94","type":"debug","z":"1ea22480.172924","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":950,"y":220,"wires":[]},{"id":"803cec22.161ea","type":"ui_group","z":"","name":"Charts","tab":"b8b64f7f.3380a8","order":1,"disp":true,"width":"20","collapse":false},{"id":"b8b64f7f.3380a8","type":"ui_tab","z":"","name":"BIP001M","icon":"dashboard","order":7}]