docker/balluff_NodeRed_x86_64_dev/lib/flows/RasperryPi/Balluff/BNI0088.json
[{"id":"798ea32e.c9dddc","type":"ui_slider","z":"f1251358.213ce8","name":"Brightness Slider","label":"Brightness","group":"399ccc61.44aeb4","order":2,"width":0,"height":0,"passthru":true,"topic":"","min":"17","max":"127","step":1,"x":390,"y":220,"wires":[["b02ddd13.5c0aa8"]]},{"id":"f04057b.018e528","type":"ui_button","z":"f1251358.213ce8","name":"","group":"99831142.71d368","order":1,"width":0,"height":0,"passthru":false,"label":"Runlight","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":360,"y":340,"wires":[["630c4678.7a341"]]},{"id":"25f03fa0.558408","type":"function","z":"f1251358.213ce8","name":"Hex String join","func":"var speed = flow.get('speedRunlight');\nvar lauflicht = flow.get('colorRunlight');\nvar hintergrund = flow.get('backgroundRunlight');\n\nmsg.hex = \"0D 00 02 0B \"+global.get('BNI0088')+\" \"+lauflicht+\"\"+hintergrund+\" 00 00 04 00 00 0\"+speed+\" 00\";\nmsg.speed = speed;\nmsg.colorRunlight = lauflicht;\nmsg.backgroundRunlight = hintergrund;\nreturn msg;\n\n//24 00 00 04 00 00 04 00","outputs":1,"noerr":0,"x":780,"y":380,"wires":[["7a338348.54908c"]]},{"id":"59a69936.be0788","type":"ui_slider","z":"f1251358.213ce8","name":"Speed Slider","label":"Speed","group":"99831142.71d368","order":2,"width":0,"height":0,"passthru":false,"topic":"","min":0,"max":"5","step":1,"x":370,"y":380,"wires":[["3a238e65.995b2a"]]},{"id":"8a64ffae.76de6","type":"ui_dropdown","z":"f1251358.213ce8","name":"Color","label":"Runlight Color","place":"Select option","group":"99831142.71d368","order":3,"width":0,"height":0,"passthru":true,"options":[{"label":"OFF","value":"0","type":"str"},{"label":"Green","value":"1","type":"str"},{"label":"Red","value":"2","type":"str"},{"label":"Yellow","value":"3","type":"str"},{"label":"Blue","value":"4","type":"str"},{"label":"Orange","value":"5","type":"str"},{"label":"White","value":"7","type":"str"}],"payload":"","topic":"","x":350,"y":420,"wires":[["c50380a3.f487d8"]]},{"id":"c50380a3.f487d8","type":"change","z":"f1251358.213ce8","name":"","rules":[{"t":"set","p":"colorRunlight","pt":"flow","to":"payload","tot":"msg"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":420,"wires":[[]]},{"id":"125950af.b5d0cf","type":"change","z":"f1251358.213ce8","name":"","rules":[{"t":"set","p":"backgroundRunlight","pt":"flow","to":"payload","tot":"msg"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":460,"wires":[[]]},{"id":"a1cbbf0f.eb8cb","type":"ui_dropdown","z":"f1251358.213ce8","name":"Color Background","label":"Background Color","place":"Select option","group":"99831142.71d368","order":4,"width":0,"height":0,"passthru":true,"options":[{"label":"OFF","value":"0","type":"str"},{"label":"Green","value":"1","type":"str"},{"label":"Red","value":"2","type":"str"},{"label":"Yellow","value":"3","type":"str"},{"label":"Blue","value":"4","type":"str"},{"label":"Orange","value":"5","type":"str"},{"label":"White","value":"7","type":"str"}],"payload":"","topic":"","x":390,"y":460,"wires":[["125950af.b5d0cf"]]},{"id":"3a238e65.995b2a","type":"change","z":"f1251358.213ce8","name":"","rules":[{"t":"set","p":"speedRunlight","pt":"flow","to":"payload","tot":"msg"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":380,"wires":[["25f03fa0.558408"]]},{"id":"40da4929.f0942","type":"inject","z":"f1251358.213ce8","name":"Init Color","topic":"","payload":"4","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"5.2","x":180,"y":480,"wires":[["125950af.b5d0cf"]]},{"id":"54e2867c.49c7","type":"inject","z":"f1251358.213ce8","name":"Init Color","topic":"","payload":"2","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"5.1","x":180,"y":440,"wires":[["c50380a3.f487d8"]]},{"id":"f70606a9.d9013","type":"inject","z":"f1251358.213ce8","name":"Init Speed","topic":"","payload":"2","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"5","x":190,"y":400,"wires":[["3a238e65.995b2a"]]},{"id":"8a03ef5b.5f1cc8","type":"ui_button","z":"f1251358.213ce8","name":"","group":"399ccc61.44aeb4","order":1,"width":0,"height":0,"passthru":false,"label":"OFF","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":350,"y":280,"wires":[["fbb0aced.9bab4"]]},{"id":"f691623.5867aa","type":"comment","z":"f1251358.213ce8","name":"BNI0088","info":"BNI_IOL-801-102-Z036\n( byte eingangsdaten)","x":160,"y":220,"wires":[]},{"id":"5390f250.0fd484","type":"ui_button","z":"f1251358.213ce8","name":"","group":"4a829d8.8271764","order":1,"width":0,"height":0,"passthru":false,"label":"level Mode","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":370,"y":520,"wires":[["37004e68.3c0182"]]},{"id":"3af7fced.6c7bf4","type":"function","z":"f1251358.213ce8","name":"Hex String join","func":"var level = msg.payload;\nvar seg1 = flow.get('seg1');\nvar seg2 = flow.get('seg2');\nvar seg3 = flow.get('seg3');\nvar levelHex1 = level.toString(16).substr(0,2);\nvar levelHex2 = level.toString(16).substr(2,4);\n\nmsg.hex = \"0D 00 02 0B \"+global.get('BNI0088')+\" \"+seg2+\"\"+seg1+\" 0\"+seg3+\" 00 02 00 \"+levelHex2+\" \"+levelHex1+\" 00\";\nmsg.level = level;\nmsg.seg1 = seg1;\nmsg.seg2 = seg2;\nmsg.seg3 = seg3;\nmsg.levelHex = levelHex1+\" \"+levelHex2;\nreturn msg;\n\n//level noch anpassen","outputs":1,"noerr":0,"x":860,"y":560,"wires":[["7a338348.54908c"]]},{"id":"4e48356c.19fdac","type":"ui_slider","z":"f1251358.213ce8","name":"Level Slider","label":"Level","group":"4a829d8.8271764","order":2,"width":0,"height":0,"passthru":false,"topic":"","min":0,"max":"65535","step":"100","x":370,"y":560,"wires":[["3af7fced.6c7bf4"]]},{"id":"7d30fae5.a1f6fc","type":"ui_dropdown","z":"f1251358.213ce8","name":"Color Segment 1","label":"Color Segment 1","place":"Select option","group":"4a829d8.8271764","order":3,"width":0,"height":0,"passthru":true,"options":[{"label":"OFF","value":"0","type":"str"},{"label":"Green","value":"1","type":"str"},{"label":"Red","value":"2","type":"str"},{"label":"Yellow","value":"3","type":"str"},{"label":"Blue","value":"4","type":"str"},{"label":"Orange","value":"5","type":"str"},{"label":"White","value":"7","type":"str"}],"payload":"","topic":"","x":390,"y":600,"wires":[["7b28a46f.c0565c"]]},{"id":"7b28a46f.c0565c","type":"change","z":"f1251358.213ce8","name":"","rules":[{"t":"set","p":"seg1","pt":"flow","to":"payload","tot":"msg"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":600,"wires":[[]]},{"id":"90f68973.39957","type":"change","z":"f1251358.213ce8","name":"","rules":[{"t":"set","p":"seg2","pt":"flow","to":"payload","tot":"msg"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":640,"wires":[[]]},{"id":"181e82e4.b29725","type":"ui_dropdown","z":"f1251358.213ce8","name":"Color Segment 2","label":"Color Segment 2","place":"Select option","group":"4a829d8.8271764","order":4,"width":0,"height":0,"passthru":true,"options":[{"label":"OFF","value":"0","type":"str"},{"label":"Green","value":"1","type":"str"},{"label":"Red","value":"2","type":"str"},{"label":"Yellow","value":"3","type":"str"},{"label":"Blue","value":"4","type":"str"},{"label":"Orange","value":"5","type":"str"},{"label":"White","value":"7","type":"str"}],"payload":"","topic":"","x":390,"y":640,"wires":[["90f68973.39957"]]},{"id":"50b46a6c.6b8b3c","type":"ui_dropdown","z":"f1251358.213ce8","name":"Color Segment 3","label":"Color Segment 3","place":"Select option","group":"4a829d8.8271764","order":4,"width":0,"height":0,"passthru":true,"options":[{"label":"OFF","value":"0","type":"str"},{"label":"Green","value":"1","type":"str"},{"label":"Red","value":"2","type":"str"},{"label":"Yellow","value":"3","type":"str"},{"label":"Blue","value":"4","type":"str"},{"label":"Orange","value":"5","type":"str"},{"label":"White","value":"7","type":"str"}],"payload":"","topic":"","x":390,"y":680,"wires":[["7d7268fd.b6f8b"]]},{"id":"7d7268fd.b6f8b","type":"change","z":"f1251358.213ce8","name":"","rules":[{"t":"set","p":"seg3","pt":"flow","to":"payload","tot":"msg"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":680,"wires":[[]]},{"id":"fea8b66f.f9689","type":"inject","z":"f1251358.213ce8","name":"Init Color","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"5.6","x":180,"y":700,"wires":[["7d7268fd.b6f8b"]]},{"id":"4886fb68.c685ac","type":"inject","z":"f1251358.213ce8","name":"Init Color","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"5.5","x":180,"y":660,"wires":[["90f68973.39957"]]},{"id":"12f40bbc.414b0c","type":"inject","z":"f1251358.213ce8","name":"Init Level","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"5.4","x":180,"y":620,"wires":[["7b28a46f.c0565c"]]},{"id":"9f14d2a4.1a7268","type":"inject","z":"f1251358.213ce8","name":"Init Level","topic":"","payload":"3542","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"5.3","x":180,"y":580,"wires":[[]]},{"id":"b02ddd13.5c0aa8","type":"change","z":"f1251358.213ce8","name":"","rules":[{"t":"set","p":"brightness","pt":"flow","to":"payload","tot":"msg"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":220,"wires":[["41138161.045b38"]]},{"id":"41138161.045b38","type":"function","z":"f1251358.213ce8","name":"Hex String join","func":"var bright = flow.get('brightness');\nvar brightness = bright.toString(16);\n\nmsg.hex = \"0C 00 02 03 \"+global.get('BNI0088')+\" 51 00 00 03 \"+brightness+\" \"+brightness+\" \"+brightness;\nmsg.brightness = brightness;\n\nreturn msg;\n\n//to Do: brightness in HEX\n\n/*\n//msg.Start = '09 00';//9 + Length of Data, 00\nmsg.Revision = '02'; //Protokoll Revision 02\nmsg.Command = '03';\nmsg.IOLPort = '00';\nmsg.LowIndex = '51';\nmsg.HighIndex = '00';\nmsg.SubIndex = '00';\nmsg.LengthOfData = '03';\nmsg.Data = msg.payload.toString(16);\n\nif ((9 + parseInt(msg.LengthOfData)) <16) {\n    msg.Start = \"0\"+ (9 + parseInt(msg.LengthOfData)).toString(16) + \" 00\";\n} else { \n    msg.Start = (9 + parseInt(msg.LengthOfData)).toString(16)+ \" 00\";\n}\n\nmsg.hex = msg.Start +\" \"+ msg.Revision +\" \"+ msg.Command +\" \"+ msg.IOLPort +\" \"+ msg.LowIndex +\" \"+ msg.HighIndex +\" \"+ msg.SubIndex +\" \"+ msg.LengthOfData +\" \"+ msg.Data+\" \"+ msg.Data+\" \"+ msg.Data;\n\nreturn msg;\n*/","outputs":1,"noerr":0,"x":780,"y":220,"wires":[["7a338348.54908c"]]},{"id":"7a338348.54908c","type":"function","z":"f1251358.213ce8","name":"Set Payload to Buffer","func":"if (msg.hex.includes(undefined) === false){\n    var string = msg.hex.replace(/\\s/g,'');\n    msg.ip = global.get('host');\n    msg.port = '1999';\n    msg.payload = Buffer.from(string,\"hex\");\n} else {\n    msg.payload = \"not Present\"\n}\n\nreturn msg;\n\n//msg.payload = Buffer.from(msg.payload, \"hex\");\n","outputs":1,"noerr":0,"x":1220,"y":340,"wires":[["88cf5d10.2ec5e8"]]},{"id":"88cf5d10.2ec5e8","type":"switch","z":"f1251358.213ce8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"not Present","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1410,"y":340,"wires":[["6f085f8c.763fd"],["6a539060.d9f8e"]]},{"id":"6a539060.d9f8e","type":"debug","z":"f1251358.213ce8","name":"Sensors not set","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1580,"y":360,"wires":[]},{"id":"cb681d1c.fc172","type":"link in","z":"f1251358.213ce8","name":"Smartlight Level Input","links":["5c1e78d3.252298","7251dfd8.58d738"],"x":735,"y":580,"wires":[["3af7fced.6c7bf4"]]},{"id":"6f085f8c.763fd","type":"link out","z":"f1251358.213ce8","name":"","links":["2514d289.79f41e"],"x":1515,"y":320,"wires":[]},{"id":"35d37c2a.53995c","type":"comment","z":"f1251358.213ce8","name":"Write Process Data ","info":"","x":190,"y":160,"wires":[]},{"id":"fbb0aced.9bab4","type":"function","z":"f1251358.213ce8","name":"WriteProcessDataReq","func":"//msg.Start = '05 00';//5 + Length of Data, 00\nmsg.Revision = '02'; //Protokoll Revision 02\nmsg.Command = '0B'; // In Hex\nmsg.IOLPort = global.get('BNI0088'); // In Hex\nmsg.LengthOfData = '08'; //in count of Hex Bytes\nmsg.Data = \"00 00 00 04 00 00 01 00\"; //port data in HEX\nmsg.PL = msg.payload; //Payload of inject\n\n\nif ((5+parseInt(msg.LengthOfData)) <15) {\n    msg.Start = \"0\"+ (5+parseInt(msg.LengthOfData)).toString(16) + \" 00\";\n} else { \n    msg.Start = (5+parseInt(msg.LengthOfData)).toString(16)+ \" 00\";\n}\n\n/*if ((msg.payload) <16) {\n    msg.Data = \"00 0\"+ (msg.payload.toString(16));\n} else if (msg.payload >=16 && msg.payload < 256){\n    msg.Data = \"00 \" + (msg.payload.toString(16));\n} else if (msg.payload >=256 && msg.payload < 4096){\n    msg.Data = \"0\" + (msg.payload.toString(16));\n} else { \n    msg.Data = (msg.payload.toString(16));\n}*/\n\nmsg.hex = msg.Start +\" \"+ msg.Revision +\" \"+ msg.Command +\" \"+ msg.IOLPort +\" \"+ msg.Data;\n\nreturn msg;\n\n//0D 00 02 0B 04 00 00 00 04 00 00 01 00","outputs":1,"noerr":0,"x":640,"y":280,"wires":[["7a338348.54908c"]]},{"id":"37004e68.3c0182","type":"function","z":"f1251358.213ce8","name":"WriteProcessDataReq","func":"//msg.Start = '05 00';//5 + Length of Data, 00\nmsg.Revision = '02'; //Protokoll Revision 02\nmsg.Command = '0B'; // In Hex\nmsg.IOLPort = global.get('BNI0088'); // In Hex\nmsg.LengthOfData = '08'; //in count of Hex Bytes\nmsg.Data = \"43 07 00 02 00 dc ff 00\"; //port data in HEX\nmsg.PL = msg.payload; //Payload of inject\n\n\nif ((5+parseInt(msg.LengthOfData)) <15) {\n    msg.Start = \"0\"+ (5+parseInt(msg.LengthOfData)).toString(16) + \" 00\";\n} else { \n    msg.Start = (5+parseInt(msg.LengthOfData)).toString(16)+ \" 00\";\n}\n\n/*if ((msg.payload) <16) {\n    msg.Data = \"00 0\"+ (msg.payload.toString(16));\n} else if (msg.payload >=16 && msg.payload < 256){\n    msg.Data = \"00 \" + (msg.payload.toString(16));\n} else if (msg.payload >=256 && msg.payload < 4096){\n    msg.Data = \"0\" + (msg.payload.toString(16));\n} else { \n    msg.Data = (msg.payload.toString(16));\n}*/\n\nmsg.hex = msg.Start +\" \"+ msg.Revision +\" \"+ msg.Command +\" \"+ msg.IOLPort +\" \"+ msg.Data;\n\nreturn msg;\n\n//0D 00 02 0B 04 00 00 00 04 00 00 01 00 OFF\n//0D 00 02 0B 04 43 07 00 02 00 dc ff 00 Level Mode\n//0D 00 02 0B 04 45 00 00 04 00 00 01 00 Runlight\n","outputs":1,"noerr":0,"x":620,"y":520,"wires":[["7a338348.54908c"]]},{"id":"630c4678.7a341","type":"function","z":"f1251358.213ce8","name":"WriteProcessDataReq","func":"//msg.Start = '05 00';//5 + Length of Data, 00\nmsg.Revision = '02'; //Protokoll Revision 02\nmsg.Command = '0B'; // In Hex\nmsg.IOLPort = global.get('BNI0088'); // In Hex\nmsg.LengthOfData = '08'; //in count of Hex Bytes\nmsg.Data = \"24 00 00 04 00 00 01 00\"; //port data in HEX\nmsg.PL = msg.payload; //Payload of inject\n\n\nif ((5+parseInt(msg.LengthOfData)) <15) {\n    msg.Start = \"0\"+ (5+parseInt(msg.LengthOfData)).toString(16) + \" 00\";\n} else { \n    msg.Start = (5+parseInt(msg.LengthOfData)).toString(16)+ \" 00\";\n}\n\n/*if ((msg.payload) <16) {\n    msg.Data = \"00 0\"+ (msg.payload.toString(16));\n} else if (msg.payload >=16 && msg.payload < 256){\n    msg.Data = \"00 \" + (msg.payload.toString(16));\n} else if (msg.payload >=256 && msg.payload < 4096){\n    msg.Data = \"0\" + (msg.payload.toString(16));\n} else { \n    msg.Data = (msg.payload.toString(16));\n}*/\n\nmsg.hex = msg.Start +\" \"+ msg.Revision +\" \"+ msg.Command +\" \"+ msg.IOLPort +\" \"+ msg.Data;\n\nreturn msg;\n\n//0D 00 02 0B 04 00 00 00 04 00 00 01 00 OFF\n//0D 00 02 0B 04 43 07 00 02 00 dc ff 00 Level Mode\n//0D 00 02 0B 04 45 00 00 04 00 00 01 00 Runlight\n","outputs":1,"noerr":0,"x":640,"y":340,"wires":[["7a338348.54908c"]]},{"id":"399ccc61.44aeb4","type":"ui_group","z":"","name":"Settings","tab":"dd1020ac.e49c1","order":1,"disp":true,"width":"6","collapse":false},{"id":"99831142.71d368","type":"ui_group","z":"","name":"Runlight","tab":"dd1020ac.e49c1","order":3,"disp":true,"width":"6"},{"id":"4a829d8.8271764","type":"ui_group","z":"","name":"Level Mode","tab":"dd1020ac.e49c1","order":2,"disp":true,"width":"6"},{"id":"dd1020ac.e49c1","type":"ui_tab","z":"","name":"BNI0088","icon":"dashboard","order":15}]