docker/balluff_NodeRed_x86_64_dev/lib/flows/RasperryPi/Balluff/BNI00E0.json
[{"id":"3466578b.993048","type":"function","z":"6ea924ea.4c19fc","name":"WriteProcessDataReq Color Wheel Mode","func":"//msg.Start = '05 00';//5 + Length of Data, 00\nmsg.Revision = '02'; //Protokoll Revision 02\nmsg.Command = '0B'; // In Hex\nmsg.IOLPort = global.get('BNI00E0'); // In Hex\nmsg.LengthOfData = '07'; //in count of Hex Bytes\n//msg.Data = msg.payload.toString(16); //port data in HEX\nmsg.PL = msg.payload; //Payload of inject\n\n\nif ((5+parseInt(msg.LengthOfData)) <15) {\n    msg.Start = \"0\"+ (5+parseInt(msg.LengthOfData)).toString(16) + \" 00\";\n} else { \n    msg.Start = (5+parseInt(msg.LengthOfData)).toString(16)+ \" 00\";\n}\nmsg.Data = \"42 00 00 04 16 01 04\";\n\n/*\nif ((msg.payload) <16) {\n    msg.Data = \"00 0\"+ (msg.payload.toString(16));\n} else if (msg.payload >=16 && msg.payload < 256){\n    msg.Data = \"00 \" + (msg.payload.toString(16));\n} else if (msg.payload >=256 && msg.payload < 4096){\n    msg.Data = \"0\" + (msg.payload.toString(16));\n} else { \n    msg.Data = (msg.payload.toString(16));\n}\n*/\n\nmsg.hex = msg.Start +\" \"+ msg.Revision +\" \"+ msg.Command +\" \"+ msg.IOLPort +\" \"+ msg.Data;\n\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":180,"wires":[["4975de7c.e56de"]]},{"id":"48d4543f.878c8c","type":"function","z":"6ea924ea.4c19fc","name":"WriteProcessDataReq Color Wheel Mode","func":"//msg.Start = '05 00';//5 + Length of Data, 00\nmsg.Revision = '02'; //Protokoll Revision 02\nmsg.Command = '0B'; // In Hex\nmsg.IOLPort = global.get('BNI00E0'); // In Hex\nmsg.LengthOfData = '07'; //in count of Hex Bytes\n//msg.Data = msg.payload.toString(16); //port data in HEX\nmsg.PL = msg.payload; //Payload of inject\n\n\nif ((5+parseInt(msg.LengthOfData)) <15) {\n    msg.Start = \"0\"+ (5+parseInt(msg.LengthOfData)).toString(16) + \" 00\";\n} else { \n    msg.Start = (5+parseInt(msg.LengthOfData)).toString(16)+ \" 00\";\n}\nmsg.Data = \"00 00 00 08 00 00 01\";\n\n/*\nif ((msg.payload) <16) {\n    msg.Data = \"00 0\"+ (msg.payload.toString(16));\n} else if (msg.payload >=16 && msg.payload < 256){\n    msg.Data = \"00 \" + (msg.payload.toString(16));\n} else if (msg.payload >=256 && msg.payload < 4096){\n    msg.Data = \"0\" + (msg.payload.toString(16));\n} else { \n    msg.Data = (msg.payload.toString(16));\n}\n*/\n\nmsg.hex = msg.Start +\" \"+ msg.Revision +\" \"+ msg.Command +\" \"+ msg.IOLPort +\" \"+ msg.Data;\n\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":140,"wires":[["4975de7c.e56de"]]},{"id":"b3b439c1.ce445","type":"ui_button","z":"6ea924ea.4c19fc","name":"","group":"d48470e5.3dc2c","order":1,"width":0,"height":0,"passthru":false,"label":"Color Wheel Mode","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"","x":510,"y":140,"wires":[["48d4543f.878c8c"]]},{"id":"4975de7c.e56de","type":"function","z":"6ea924ea.4c19fc","name":"Set Payload to Buffer","func":"if (msg.hex.includes(undefined) === false){\n    var string = msg.hex.replace(/\\s/g,'');\n    msg.ip = global.get('host');\n    msg.port = '1999';\n    msg.payload = Buffer.from(string,\"hex\");\n} else {\n    msg.payload = \"not Present\"\n}\n\nreturn msg;\n\n//msg.payload = Buffer.from(msg.payload, \"hex\");\n","outputs":1,"noerr":0,"x":1240,"y":140,"wires":[["1fbdc09.c00ea3f"]]},{"id":"296ad95c.c3838e","type":"inject","z":"6ea924ea.4c19fc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":480,"y":180,"wires":[["3466578b.993048"]]},{"id":"b2e00288.727368","type":"ui_slider","z":"6ea924ea.4c19fc","name":"","label":"Level Slider","group":"a498437d.fb8ac","order":1,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"65535","step":"1000","x":490,"y":280,"wires":[["c7cf95bb.b09ff8"]]},{"id":"c7cf95bb.b09ff8","type":"function","z":"6ea924ea.4c19fc","name":"WriteProcessDataReq Color Wheel Mode","func":"//msg.Start = '05 00';//5 + Length of Data, 00\nmsg.Revision = '02'; //Protokoll Revision 02\nmsg.Command = '0B'; // In Hex\nmsg.IOLPort = global.get('BNI00E0'); // In Hex\nmsg.LengthOfData = '07'; //in count of Hex Bytes\n//msg.Data = msg.payload.toString(16); //port data in HEX\nmsg.PL = msg.payload; //Payload of inject\n\n\nif ((5+parseInt(msg.LengthOfData)) <15) {\n    msg.Start = \"0\"+ (5+parseInt(msg.LengthOfData)).toString(16) + \" 00\";\n} else { \n    msg.Start = (5+parseInt(msg.LengthOfData)).toString(16)+ \" 00\";\n}\n//msg.Data = \"42 00 00 04 16 01 04\";\n//msg.color1 = \"1\";\n//msg.color2 = \"2\";\n//msg.color3 = \"4\"; //0 off, 1green, 2red, 3yellow, 4blue, 5orange, 7white\n//msg.direction = \"1\" //0 clockwise, 1 counter clock\n//msg.fade = \"1\" //0 no Fade, 1 fade\n\nif ((msg.payload) <16) {\n    msg.Data = \"00 0\"+ (msg.payload.toString(16));\n} else if (msg.payload >=16 && msg.payload < 256){\n    msg.Data = \"00 \" + (msg.payload.toString(16));\n} else if (msg.payload >=256 && msg.payload < 4096){\n    msg.Data = \"0\" + (msg.payload.toString(16));\n} else { \n    msg.Data = (msg.payload.toString(16));\n}\nmsg.Datastring = flow.get('color2') +\"\"+ flow.get('color1') +\" 0\"+ flow.get('color3') +\" 00 02 \"+ flow.get('fade') + \"\" + flow.get('direction') + \" \" + msg.Data.substr(2,2) +\" \"+ msg.Data.substr(0,2);  \n\nmsg.hex = msg.Start +\" \"+ msg.Revision +\" \"+ msg.Command +\" \"+ msg.IOLPort +\" \"+ msg.Datastring;\n\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":280,"wires":[["4975de7c.e56de"]]},{"id":"eec86922.a5129","type":"ui_dropdown","z":"6ea924ea.4c19fc","name":"","label":"Level Color 1","place":"Select option","group":"a498437d.fb8ac","order":2,"width":0,"height":0,"passthru":true,"options":[{"label":"Off","value":"0","type":"str"},{"label":"Green","value":"1","type":"str"},{"label":"Red","value":"2","type":"str"},{"label":"Yellow","value":"3","type":"str"},{"label":"Blue","value":"4","type":"str"},{"label":"Orange","value":"5","type":"str"},{"label":"White","value":"7","type":"str"}],"payload":"","topic":"","x":350,"y":320,"wires":[["1bf0e759.d988a9"]]},{"id":"49ae4fa7.668048","type":"ui_dropdown","z":"6ea924ea.4c19fc","name":"","label":"Level Color 2","place":"Select option","group":"a498437d.fb8ac","order":3,"width":0,"height":0,"passthru":true,"options":[{"label":"Off","value":"0","type":"str"},{"label":"Green","value":"1","type":"str"},{"label":"Red","value":"2","type":"str"},{"label":"Yellow","value":"3","type":"str"},{"label":"Blue","value":"4","type":"str"},{"label":"Orange","value":"5","type":"str"},{"label":"White","value":"7","type":"str"}],"payload":"","topic":"","x":350,"y":360,"wires":[["b6182b0d.231a48"]]},{"id":"3457656c.4a6eba","type":"ui_dropdown","z":"6ea924ea.4c19fc","name":"","label":"Level Color 3","place":"Select option","group":"a498437d.fb8ac","order":4,"width":0,"height":0,"passthru":true,"options":[{"label":"Off","value":"0","type":"str"},{"label":"Green","value":"1","type":"str"},{"label":"Red","value":"2","type":"str"},{"label":"Yellow","value":"3","type":"str"},{"label":"Blue","value":"4","type":"str"},{"label":"Orange","value":"5","type":"str"},{"label":"White","value":"7","type":"str"}],"payload":"","topic":"","x":350,"y":400,"wires":[["314ef9b4.5ad30e"]]},{"id":"1bf0e759.d988a9","type":"change","z":"6ea924ea.4c19fc","name":"","rules":[{"t":"set","p":"color1","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":320,"wires":[[]]},{"id":"b6182b0d.231a48","type":"change","z":"6ea924ea.4c19fc","name":"","rules":[{"t":"set","p":"color2","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":360,"wires":[[]]},{"id":"314ef9b4.5ad30e","type":"change","z":"6ea924ea.4c19fc","name":"","rules":[{"t":"set","p":"color3","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":400,"wires":[[]]},{"id":"f4ee4088.b3a93","type":"ui_dropdown","z":"6ea924ea.4c19fc","name":"","label":"Level Rotation","place":"Select option","group":"a498437d.fb8ac","order":5,"width":0,"height":0,"passthru":true,"options":[{"label":"Clockwise","value":"0","type":"str"},{"label":"CounterClockwise","value":"1","type":"str"}],"payload":"","topic":"","x":360,"y":440,"wires":[["a3602a3f.5ff0c8"]]},{"id":"a3602a3f.5ff0c8","type":"change","z":"6ea924ea.4c19fc","name":"","rules":[{"t":"set","p":"direction","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":440,"wires":[[]]},{"id":"35f2c41d.3be584","type":"ui_dropdown","z":"6ea924ea.4c19fc","name":"","label":"Level fade","place":"Select option","group":"a498437d.fb8ac","order":6,"width":0,"height":0,"passthru":true,"options":[{"label":"No Fade","value":"0","type":"str"},{"label":"Fade","value":"1","type":"str"}],"payload":"","topic":"","x":350,"y":480,"wires":[["681c0657.cc28c"]]},{"id":"681c0657.cc28c","type":"change","z":"6ea924ea.4c19fc","name":"","rules":[{"t":"set","p":"fade","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":480,"wires":[[]]},{"id":"32ba17a3.9cabd8","type":"inject","z":"6ea924ea.4c19fc","name":"Init Level","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"","x":180,"y":340,"wires":[["1bf0e759.d988a9"]]},{"id":"48f91ec4.b418f8","type":"inject","z":"6ea924ea.4c19fc","name":"Init Level","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"","x":180,"y":380,"wires":[["b6182b0d.231a48"]]},{"id":"edba7d63.6f918","type":"inject","z":"6ea924ea.4c19fc","name":"Init Level","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"","x":180,"y":420,"wires":[["314ef9b4.5ad30e"]]},{"id":"2c61433e.1d4a2c","type":"inject","z":"6ea924ea.4c19fc","name":"Init Level","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"","x":180,"y":460,"wires":[["a3602a3f.5ff0c8"]]},{"id":"1fcc8456.4be66c","type":"inject","z":"6ea924ea.4c19fc","name":"Init Level","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"","x":180,"y":500,"wires":[["681c0657.cc28c"]]},{"id":"fc5bba1b.474a2","type":"inject","z":"6ea924ea.4c19fc","name":"Init Level","topic":"","payload":"25000","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"","x":180,"y":280,"wires":[["b2e00288.727368"]]},{"id":"1163cfdb.a886f","type":"comment","z":"6ea924ea.4c19fc","name":"BNI00XX","info":"","x":180,"y":100,"wires":[]},{"id":"1fbdc09.c00ea3f","type":"switch","z":"6ea924ea.4c19fc","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"not Present","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1430,"y":140,"wires":[["74f7ceca.0e8f3"],["72f18707.6a9b88"]]},{"id":"72f18707.6a9b88","type":"debug","z":"6ea924ea.4c19fc","name":"Sensors not present","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1640,"y":160,"wires":[]},{"id":"74f7ceca.0e8f3","type":"link out","z":"6ea924ea.4c19fc","name":"Process Data Send","links":["2514d289.79f41e"],"x":1555,"y":120,"wires":[]},{"id":"cec39e08.459f88","type":"function","z":"6ea924ea.4c19fc","name":"ProcessInputs: BUS BOD0026","func":"if (msg.BNIPort === (parseInt(global.get('BNI00E0'),16)) && msg.command === 10) {\n    msg.payload = msg.response.substr(15,5);\n} else {\n    return;\n    \n}\nreturn msg;\n","outputs":1,"noerr":0,"x":450,"y":700,"wires":[["4c677de7.8d1b5c","3e089f90.5baa8"]]},{"id":"4c677de7.8d1b5c","type":"function","z":"6ea924ea.4c19fc","name":"BUS Convert to Decimal","func":"msg.hexValue = msg.payload;\n\nif (msg.payload.substr(1,1) === \"0\") {\n    msg.payload = \"nothing detected\"\n    \n}else if(msg.payload.substr(1,1)===\"1\"){\n    msg.payload = \"pick detected\"\n}\n\n\nreturn msg;\n","outputs":1,"noerr":0,"x":730,"y":700,"wires":[["54c58baa.63efb4","4cfb5c6f.f0743c","1bda1396.980ac4"]]},{"id":"785da6e2.f8d408","type":"link in","z":"6ea924ea.4c19fc","name":"Process Data Handler","links":["99900e35.ab1578"],"x":215,"y":700,"wires":[["cec39e08.459f88"]]},{"id":"3e089f90.5baa8","type":"debug","z":"6ea924ea.4c19fc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":620,"y":760,"wires":[]},{"id":"54c58baa.63efb4","type":"debug","z":"6ea924ea.4c19fc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":910,"y":760,"wires":[]},{"id":"6d9004e0.886ee4","type":"comment","z":"6ea924ea.4c19fc","name":"Process Data","info":"","x":190,"y":640,"wires":[]},{"id":"4cfb5c6f.f0743c","type":"ui_text","z":"6ea924ea.4c19fc","group":"d48470e5.3dc2c","order":0,"width":0,"height":0,"name":"","label":"Sensor Detection","format":"{{msg.payload}}","layout":"row-spread","x":1020,"y":700,"wires":[]},{"id":"e2d0799.0688788","type":"inject","z":"6ea924ea.4c19fc","name":"TS-2sec","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":false,"onceDelay":"","x":120,"y":940,"wires":[["273998e6.73bf88"]]},{"id":"273998e6.73bf88","type":"switch","z":"6ea924ea.4c19fc","name":"check if Sensors are set?","property":"SensorsAreSet","propertyType":"global","rules":[{"t":"eq","v":"OK","vt":"str"},{"t":"neq","v":"OK","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":940,"wires":[["5236b509.eb41fc"],["6397ac4c.bec40c"]]},{"id":"6397ac4c.bec40c","type":"change","z":"6ea924ea.4c19fc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Sensors Not Set","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":980,"wires":[["ce88ef03.023798"]]},{"id":"ce88ef03.023798","type":"debug","z":"6ea924ea.4c19fc","name":"sensors not set BOS026R","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":830,"y":980,"wires":[]},{"id":"5236b509.eb41fc","type":"function","z":"6ea924ea.4c19fc","name":"AL_ReadReq Access Gain BNI00E0","func":"msg.Start = '08 00'; //Startbyte\nmsg.Revision = '02'; //Protokoll Revision 02\nmsg.Command = '02'; // Kommando\nmsg.IOLPort = global.get('BNI00E0'); //Port Nummer\nmsg.LowIndex = '42'; //IO-Link Index \nmsg.HighIndex = '00'; //IO-Link Index (meißtens 00)\nmsg.SubIndex = '00'; //IO-Link SubIndex \n\nmsg.PL = msg.payload; //Payload of inject\n\nmsg.hex = msg.Start +\" \"+ msg.Revision +\" \"+ msg.Command +\" \"+ msg.IOLPort +\" \"+ msg.LowIndex +\" \"+ msg.HighIndex +\" \"+ msg.SubIndex;\n\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":940,"wires":[["b3f649c0.2b5fa"]]},{"id":"6b76907.d46eb7","type":"function","z":"6ea924ea.4c19fc","name":"Set Payload to Buffer","func":"if (msg.hex.includes(undefined) === false){\n    var string = msg.hex.replace(/\\s/g,'');\n    msg.ip = global.get('host');\n    msg.port = '1999';\n    msg.payload = Buffer.from(string,\"hex\");\n} else {\n    msg.payload = \"not Present\"\n}\n\nreturn msg;\n\n//msg.payload = Buffer.from(msg.payload, \"hex\");\n","outputs":1,"noerr":0,"x":1280,"y":1000,"wires":[["a4967b04.2c00c8"]]},{"id":"a4967b04.2c00c8","type":"switch","z":"6ea924ea.4c19fc","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"not Present","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1470,"y":1000,"wires":[["2ada43bf.7ec23c"],["49b513c.834616c"]]},{"id":"2ada43bf.7ec23c","type":"link out","z":"6ea924ea.4c19fc","name":"1s Service Data sender","links":["2514d289.79f41e"],"x":1615,"y":980,"wires":[]},{"id":"49b513c.834616c","type":"debug","z":"6ea924ea.4c19fc","name":"BNI00E0 not Present","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1700,"y":1020,"wires":[]},{"id":"baeaba7f.3dddc","type":"link in","z":"6ea924ea.4c19fc","name":"1s Service Data return","links":["99900e35.ab1578"],"x":255,"y":1140,"wires":[["619e45bc.e7e0bc","ccf06cd8.30dab"]]},{"id":"619e45bc.e7e0bc","type":"function","z":"6ea924ea.4c19fc","name":"BNI00E0 access Gain","func":"if (msg.BNIPort === parseInt(global.get('BNI00E0'),16) && msg.command === 9 && msg.LowIndex ===\"42\" && msg.SubIndex === \"00\") {\n    msg.payload = msg.response.substr(18,2);\n} else {return;\n    \n}\n\nreturn msg;\n//{ payload:msg.payload.substr(15,8) };","outputs":1,"noerr":0,"x":480,"y":1080,"wires":[["67b39c8e.40f83c"]]},{"id":"67b39c8e.40f83c","type":"function","z":"6ea924ea.4c19fc","name":"Calc Gain","func":"msg.payload = parseInt(msg.payload ,16);\nreturn msg;\n","outputs":1,"noerr":0,"x":780,"y":1080,"wires":[["2bcbc1ad.d4da46","7ceef9ff.97f238"]]},{"id":"2bcbc1ad.d4da46","type":"ui_chart","z":"6ea924ea.4c19fc","name":"","group":"c7a2d166.7fc1f","order":1,"width":"12","height":"7","label":"Access Gain","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"150","removeOlder":"20","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":950,"y":1080,"wires":[[],[]]},{"id":"1a5b60ec.ffcc3f","type":"comment","z":"6ea924ea.4c19fc","name":"Service Data 10s Cycle","info":"","x":220,"y":860,"wires":[]},{"id":"5ab44bdb.71926c","type":"function","z":"6ea924ea.4c19fc","name":"AL_ReadReq device temp BNI00E0","func":"msg.Start = '08 00'; //Startbyte\nmsg.Revision = '02'; //Protokoll Revision 02\nmsg.Command = '02'; // Kommando\nmsg.IOLPort = global.get('BNI00E0'); //Port Nummer\nmsg.LowIndex = '52'; //IO-Link Index \nmsg.HighIndex = '00'; //IO-Link Index (meißtens 00)\nmsg.SubIndex = '00'; //IO-Link SubIndex \n\nmsg.PL = msg.payload; //Payload of inject\n\nmsg.hex = msg.Start +\" \"+ msg.Revision +\" \"+ msg.Command +\" \"+ msg.IOLPort +\" \"+ msg.LowIndex +\" \"+ msg.HighIndex +\" \"+ msg.SubIndex;\n\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":1020,"wires":[["6b76907.d46eb7"]]},{"id":"ccf06cd8.30dab","type":"function","z":"6ea924ea.4c19fc","name":"BNI00E0 Device temp","func":"if (msg.BNIPort === parseInt(global.get('BNI00E0'),16) && msg.command === 9 && msg.LowIndex ===\"52\" && msg.SubIndex === \"00\") {\n    msg.payload = msg.response.substr(18,15);\n} else {return;\n    \n}\n\nreturn msg;\n//{ payload:msg.payload.substr(15,8) };","outputs":1,"noerr":0,"x":480,"y":1200,"wires":[["c44fa53b.d45d18","5d6b3d1.70dfec4"]]},{"id":"5f4c2246.6a918c","type":"ui_chart","z":"6ea924ea.4c19fc","name":"","group":"c7a2d166.7fc1f","order":0,"width":0,"height":0,"label":"Device Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-10","ymax":"80","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":1300,"y":1140,"wires":[[],[]]},{"id":"c44fa53b.d45d18","type":"debug","z":"6ea924ea.4c19fc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":650,"y":1260,"wires":[]},{"id":"5d6b3d1.70dfec4","type":"function","z":"6ea924ea.4c19fc","name":"Transform","func":"msg.internal_temp_actual = parseInt(msg.payload.substr(0,2),16);\nmsg.internal_temp_max_startup = parseInt(msg.payload.substr(3,2),16);\nmsg.internal_temp_min_startup = parseInt(msg.payload.substr(6,2),16);\nmsg.internal_temp_max_lifetime = parseInt(msg.payload.substr(9,2),16);\nmsg.internal_temp_min_lifetime = parseInt(msg.payload.substr(12,2),16)\n\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":1200,"wires":[["e26b82fc.d5b188","910e91bf.c9fce","2db75f92.800fe","950cd70e.4fd338","1f4cee53.73175a"]]},{"id":"e26b82fc.d5b188","type":"function","z":"6ea924ea.4c19fc","name":"internal_temp_actual","func":"msg.payload = msg.internal_temp_actual;\nmsg.topic = \"internal_temp_actual\";\n//msg.label = \"internal_temp_actual\"\nreturn msg;","outputs":1,"noerr":0,"x":900,"y":1200,"wires":[["5f4c2246.6a918c","842835c9.099108"]]},{"id":"910e91bf.c9fce","type":"function","z":"6ea924ea.4c19fc","name":"internal_temp_max_startup","func":"msg.payload = msg.internal_temp_max_startup;\nmsg.topic = \"internal_temp_max_startup\";\n//msg.label = \"internal_temp_max_startup\"\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":1240,"wires":[["619bb3b6.c876c4","5f4c2246.6a918c"]]},{"id":"2db75f92.800fe","type":"function","z":"6ea924ea.4c19fc","name":"internal_temp_min_startup","func":"msg.payload = msg.internal_temp_min_startup;\nmsg.topic = \"internal_temp_min_startup\";\n//msg.label = \"internal_temp_min_startup\"\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":1280,"wires":[["992cefe.706fb9","5f4c2246.6a918c"]]},{"id":"950cd70e.4fd338","type":"function","z":"6ea924ea.4c19fc","name":"internal_temp_max_lifetime","func":"msg.payload = msg.internal_temp_max_lifetime;\nmsg.topic = \"internal_temp_max_lifetime\";\n//msg.label = \"internal_temp_max_lifetime\"\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":1320,"wires":[["5f4c2246.6a918c","4b7b704f.eedf9"]]},{"id":"1f4cee53.73175a","type":"function","z":"6ea924ea.4c19fc","name":"internal_temp_min_lifetime","func":"msg.payload = msg.internal_temp_min_lifetime;\nmsg.topic = \"internal_temp_min_lifetime\";\n//msg.label = \"internal_temp_min_lifetime\"\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":1360,"wires":[["5f4c2246.6a918c","db43c9c1.f74a3"]]},{"id":"b20785fa.2f21f","type":"inject","z":"6ea924ea.4c19fc","name":"TS-30sec","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":"","x":130,"y":1020,"wires":[["69304aaf.12ce64"]]},{"id":"69304aaf.12ce64","type":"switch","z":"6ea924ea.4c19fc","name":"check if Sensors are set?","property":"SensorsAreSet","propertyType":"global","rules":[{"t":"eq","v":"OK","vt":"str"},{"t":"neq","v":"OK","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":1020,"wires":[["5ab44bdb.71926c"],["6397ac4c.bec40c"]]},{"id":"b3f649c0.2b5fa","type":"function","z":"6ea924ea.4c19fc","name":"Set Payload to Buffer","func":"if (msg.hex.includes(undefined) === false){\n    var string = msg.hex.replace(/\\s/g,'');\n    msg.ip = global.get('host');\n    msg.port = '1999';\n    msg.payload = Buffer.from(string,\"hex\");\n} else {\n    msg.payload = \"not Present\"\n}\n\nreturn msg;\n\n//msg.payload = Buffer.from(msg.payload, \"hex\");\n","outputs":1,"noerr":0,"x":1280,"y":940,"wires":[["f2baa5ed.b3165"]]},{"id":"f2baa5ed.b3165","type":"switch","z":"6ea924ea.4c19fc","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"not Present","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1470,"y":940,"wires":[["2ada43bf.7ec23c"],["49b513c.834616c"]]},{"id":"1bda1396.980ac4","type":"change","z":"6ea924ea.4c19fc","name":"","rules":[{"t":"set","p":"BNI00E0_detection","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1290,"y":680,"wires":[[]]},{"id":"7ceef9ff.97f238","type":"change","z":"6ea924ea.4c19fc","name":"","rules":[{"t":"set","p":"BNI00E0_gain","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1170,"y":1060,"wires":[[]]},{"id":"842835c9.099108","type":"change","z":"6ea924ea.4c19fc","name":"","rules":[{"t":"set","p":"BNI00E0_temperature_actual","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1440,"y":1180,"wires":[[]]},{"id":"619bb3b6.c876c4","type":"change","z":"6ea924ea.4c19fc","name":"","rules":[{"t":"set","p":"BNI00E0_temperature_max_startup","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1460,"y":1220,"wires":[[]]},{"id":"992cefe.706fb9","type":"change","z":"6ea924ea.4c19fc","name":"","rules":[{"t":"set","p":"BNI00E0_temperature_min_startup","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1460,"y":1260,"wires":[[]]},{"id":"4b7b704f.eedf9","type":"change","z":"6ea924ea.4c19fc","name":"","rules":[{"t":"set","p":"BNI00E0_temperature_max_lifetime","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1460,"y":1300,"wires":[[]]},{"id":"db43c9c1.f74a3","type":"change","z":"6ea924ea.4c19fc","name":"","rules":[{"t":"set","p":"BNI00E0_temperature_min_lifetime","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1460,"y":1340,"wires":[[]]},{"id":"690f7eb9.f4eab8","type":"link in","z":"6ea924ea.4c19fc","name":"","links":[],"x":555,"y":240,"wires":[["c7cf95bb.b09ff8"]]},{"id":"d48470e5.3dc2c","type":"ui_group","z":"","name":"Settings","tab":"9e4b15ac.e00e18","order":2,"disp":true,"width":"6","collapse":false},{"id":"a498437d.fb8ac","type":"ui_group","z":"","name":"Levelmode","tab":"9e4b15ac.e00e18","order":2,"disp":true,"width":"12","collapse":false},{"id":"c7a2d166.7fc1f","type":"ui_group","z":"","name":"Charts","tab":"9e4b15ac.e00e18","order":3,"disp":true,"width":"12","collapse":false},{"id":"9e4b15ac.e00e18","type":"ui_tab","z":"","name":"BNI00E0","icon":"dashboard","order":4}]