docker/balluff_NodeRed_x86_64_dev/lib/flows/RasperryPi/Balluff/BOD0020.json
[{"id":"73fe8120.0ef64","type":"change","z":"5f7b1ced.76b93c","name":"","rules":[{"t":"set","p":"BOD0020_distance","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":180,"wires":[[]]},{"id":"911fbc81.b659e8","type":"function","z":"5f7b1ced.76b93c","name":"ProcessInputs: BOD0020","func":"if (msg.BNIPort === (parseInt(global.get('BOD0020'),16)) && msg.command === 10) {\n    msg.payload = msg.response.substr(15,5);\n} else {\n    return;\n    \n}\nreturn msg;\n","outputs":1,"noerr":0,"x":330,"y":220,"wires":[["d9ebcc14.2f5d3"]]},{"id":"d9ebcc14.2f5d3","type":"function","z":"5f7b1ced.76b93c","name":"BOD0020 Convert to Decimal","func":"msg.hexValue = msg.payload;\n//Take string, parse into binary, cut last 3, parse into decimal :-)\n\nmsg.payload = (parseInt((parseInt(msg.hexValue.split(' ').join(''),16).toString(2)).slice(0,-3),2));\n\n\n\n\nreturn msg;\n","outputs":1,"noerr":0,"x":610,"y":220,"wires":[["9ac6d84a.b0729","73fe8120.0ef64","e9255ebb.5cc93"]]},{"id":"9ac6d84a.b0729","type":"ui_chart","z":"5f7b1ced.76b93c","name":"BOD0020 Chart","group":"3516f764.982ef","order":3,"width":"0","height":"0","label":"BOD0020","chartType":"line","legend":"false","xformat":"ss","interpolate":"linear","nodata":"No Data Yet :-)","dot":false,"ymin":"180","ymax":"240","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#0000ff","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":880,"y":220,"wires":[[],[]]},{"id":"c602e284.98039","type":"comment","z":"5f7b1ced.76b93c","name":"Process Data","info":"","x":210,"y":140,"wires":[]},{"id":"39391db2.c11a82","type":"link in","z":"5f7b1ced.76b93c","name":"Process Data Handler","links":["99900e35.ab1578"],"x":155,"y":220,"wires":[["911fbc81.b659e8"]]},{"id":"440f4d7d.d5d3d4","type":"comment","z":"5f7b1ced.76b93c","name":"Write Service data","info":"","x":190,"y":1320,"wires":[]},{"id":"6b4331f4.a8e32","type":"comment","z":"5f7b1ced.76b93c","name":"Write Process Data ","info":"","x":190,"y":1380,"wires":[]},{"id":"108a02a8.c01d25","type":"comment","z":"5f7b1ced.76b93c","name":"Service Data 10s Cycle","info":"","x":220,"y":440,"wires":[]},{"id":"bf053f8c.254268","type":"function","z":"5f7b1ced.76b93c","name":"BOD0020 Temp array","func":"if (msg.BNIPort === parseInt(global.get('BOD0020'),16) && msg.command === 9 && msg.LowIndex === '52' && msg.SubIndex === \"00\") {\n    msg.payload = msg.response.substr(18,15);\n} else {return;\n    \n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":380,"y":920,"wires":[["7c1c1a41.0c7b94","d4596a9a.df66f"]]},{"id":"7c1c1a41.0c7b94","type":"function","z":"5f7b1ced.76b93c","name":"Transform","func":"msg.internal_temp_actual = parseInt(msg.payload.substr(0,2),16);\nmsg.internal_temp_max_startup = parseInt(msg.payload.substr(3,2),16);\nmsg.internal_temp_min_startup = parseInt(msg.payload.substr(6,2),16);\nmsg.internal_temp_max_lifetime = parseInt(msg.payload.substr(9,2),16);\nmsg.internal_temp_min_lifetime = parseInt(msg.payload.substr(12,2),16)\n\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":920,"wires":[["192aa26a.b71b9e","b6c74610.83fc6","a504c767.3a9e4","f62a4be6.20d088","55c9d45.f8b952c"]]},{"id":"fb40ea87.2a20b","type":"link in","z":"5f7b1ced.76b93c","name":"10s service data return","links":["99900e35.ab1578"],"x":155,"y":920,"wires":[["bf053f8c.254268","cfae18f1.fd0a1","c52ec73d.df395"]]},{"id":"5efa1a6e.24e1ac","type":"ui_chart","z":"5f7b1ced.76b93c","name":"","group":"3516f764.982ef","order":0,"width":0,"height":0,"label":"internal Temperatures","chartType":"line","legend":"false","xformat":"mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-25","ymax":"125","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":1100,"y":880,"wires":[[],[]]},{"id":"192aa26a.b71b9e","type":"function","z":"5f7b1ced.76b93c","name":"internal_temp_actual","func":"msg.payload = msg.internal_temp_actual;\nmsg.topic = \"internal_temp_actual\";\n//msg.label = \"internal_temp_actual\"\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":920,"wires":[["5efa1a6e.24e1ac","6f7e5145.865b18"]]},{"id":"6f7e5145.865b18","type":"change","z":"5f7b1ced.76b93c","name":"","rules":[{"t":"set","p":"BOD0020_temperature_actual","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1360,"y":920,"wires":[[]]},{"id":"e18da819.86ba78","type":"function","z":"5f7b1ced.76b93c","name":"AL_ReadReq BOD0020 temp Array","func":"msg.Start = '08 00'; //Startbyte\nmsg.Revision = '02'; //Protokoll Revision 02\nmsg.Command = '02'; // Kommando\nmsg.IOLPort = global.get('BOD0020'); //Port Nummer\nmsg.LowIndex = '52'; //IO-Link Index \nmsg.HighIndex = '00'; //IO-Link Index (meißtens 00)\nmsg.SubIndex = '00'; //IO-Link SubIndex \n\nmsg.PL = msg.payload; //Payload of inject\n\nmsg.hex = msg.Start +\" \"+ msg.Revision +\" \"+ msg.Command +\" \"+ msg.IOLPort +\" \"+ msg.LowIndex +\" \"+ msg.HighIndex +\" \"+ msg.SubIndex;\n\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":480,"wires":[["d09f663a.0136c"]]},{"id":"c77d7396.9dd6c8","type":"switch","z":"5f7b1ced.76b93c","name":"","property":"SensorsAreSet","propertyType":"global","rules":[{"t":"eq","v":"OK","vt":"str"},{"t":"neq","v":"OK","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":500,"wires":[["e18da819.86ba78","a3951deb.0b44b8"],["20ce32a6.090666"]]},{"id":"d68ac6af.a4d978","type":"inject","z":"5f7b1ced.76b93c","name":"TS-2s","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":false,"onceDelay":"","x":200,"y":500,"wires":[["c77d7396.9dd6c8"]]},{"id":"20ce32a6.090666","type":"change","z":"5f7b1ced.76b93c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Sensors Not Set","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":560,"wires":[["a189c1b8.96cb8"]]},{"id":"a189c1b8.96cb8","type":"debug","z":"5f7b1ced.76b93c","name":"Sensors not set","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":780,"y":560,"wires":[]},{"id":"d09f663a.0136c","type":"function","z":"5f7b1ced.76b93c","name":"Set Payload to Buffer","func":"if (msg.hex.includes(undefined) === false){\n    var string = msg.hex.replace(/\\s/g,'');\n    msg.ip = global.get('host');\n    msg.port = '1999';\n    msg.payload = Buffer.from(string,\"hex\");\n} else {\n    msg.payload = \"not Present\"\n}\n\nreturn msg;\n\n//msg.payload = Buffer.from(msg.payload, \"hex\");\n","outputs":1,"noerr":0,"x":1000,"y":480,"wires":[["5efa2d45.545dcc"]]},{"id":"8b0f243f.6bc838","type":"switch","z":"5f7b1ced.76b93c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"not Present","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1350,"y":480,"wires":[["8db4e59a.020df8"],["cd19474f.d89c28"]]},{"id":"8db4e59a.020df8","type":"link out","z":"5f7b1ced.76b93c","name":"10s Service Data send","links":["2514d289.79f41e"],"x":1495,"y":460,"wires":[]},{"id":"cd19474f.d89c28","type":"debug","z":"5f7b1ced.76b93c","name":"BOD0020 not Present","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1580,"y":500,"wires":[]},{"id":"b6c74610.83fc6","type":"function","z":"5f7b1ced.76b93c","name":"internal_temp_max_startup","func":"msg.payload = msg.internal_temp_max_startup;\nmsg.topic = \"internal_temp_max_startup\";\n//msg.label = \"internal_temp_max_startup\"\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":960,"wires":[["8aaea3ed.c2eee","5efa1a6e.24e1ac"]]},{"id":"a504c767.3a9e4","type":"function","z":"5f7b1ced.76b93c","name":"internal_temp_min_startup","func":"msg.payload = msg.internal_temp_min_startup;\nmsg.topic = \"internal_temp_min_startup\";\n//msg.label = \"internal_temp_min_startup\"\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":1000,"wires":[["c8840405.1b7b9","5efa1a6e.24e1ac"]]},{"id":"f62a4be6.20d088","type":"function","z":"5f7b1ced.76b93c","name":"internal_temp_max_lifetime","func":"msg.payload = msg.internal_temp_max_lifetime;\nmsg.topic = \"internal_temp_max_lifetime\";\n//msg.label = \"internal_temp_max_lifetime\"\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":1040,"wires":[["9461d160.35901","5efa1a6e.24e1ac"]]},{"id":"55c9d45.f8b952c","type":"function","z":"5f7b1ced.76b93c","name":"internal_temp_min_lifetime","func":"msg.payload = msg.internal_temp_min_lifetime;\nmsg.topic = \"internal_temp_min_lifetime\";\n//msg.label = \"internal_temp_min_lifetime\"\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":1080,"wires":[["cc18a451.ed6c6","5efa1a6e.24e1ac"]]},{"id":"8aaea3ed.c2eee","type":"change","z":"5f7b1ced.76b93c","name":"","rules":[{"t":"set","p":"BOD0020_temperature_max_startup","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1380,"y":960,"wires":[[]]},{"id":"c8840405.1b7b9","type":"change","z":"5f7b1ced.76b93c","name":"","rules":[{"t":"set","p":"BOD0020_temperature_min_startup","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1380,"y":1000,"wires":[[]]},{"id":"9461d160.35901","type":"change","z":"5f7b1ced.76b93c","name":"","rules":[{"t":"set","p":"BOD0020_temperature_max_lifetime","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1380,"y":1040,"wires":[[]]},{"id":"cc18a451.ed6c6","type":"change","z":"5f7b1ced.76b93c","name":"","rules":[{"t":"set","p":"BOD0020_temperature_min_lifetime","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1380,"y":1080,"wires":[[]]},{"id":"a3951deb.0b44b8","type":"function","z":"5f7b1ced.76b93c","name":"AL_ReadReq BOD0020 Gain","func":"msg.Start = '08 00'; //Startbyte\nmsg.Revision = '02'; //Protokoll Revision 02\nmsg.Command = '02'; // Kommando\nmsg.IOLPort = global.get('BOD0020'); //Port Nummer\nmsg.LowIndex = 'CF'; //IO-Link Index \nmsg.HighIndex = '00'; //IO-Link Index (meißtens 00)\nmsg.SubIndex = '00'; //IO-Link SubIndex \n\nmsg.PL = msg.payload; //Payload of inject\n\nmsg.hex = msg.Start +\" \"+ msg.Revision +\" \"+ msg.Command +\" \"+ msg.IOLPort +\" \"+ msg.LowIndex +\" \"+ msg.HighIndex +\" \"+ msg.SubIndex;\n\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":520,"wires":[["a9df3fb6.5c5f2"]]},{"id":"4d7cd5d0.4616f4","type":"function","z":"5f7b1ced.76b93c","name":"AL_ReadReq BOD0020 Operating Hours","func":"msg.Start = '08 00'; //Startbyte\nmsg.Revision = '02'; //Protokoll Revision 02\nmsg.Command = '02'; // Kommando\nmsg.IOLPort = global.get('BOD0020'); //Port Nummer\nmsg.LowIndex = '58'; //IO-Link Index \nmsg.HighIndex = '00'; //IO-Link Index (meißtens 00)\nmsg.SubIndex = '01'; //IO-Link SubIndex \n\nmsg.PL = msg.payload; //Payload of inject\n\nmsg.hex = msg.Start +\" \"+ msg.Revision +\" \"+ msg.Command +\" \"+ msg.IOLPort +\" \"+ msg.LowIndex +\" \"+ msg.HighIndex +\" \"+ msg.SubIndex;\n\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":620,"wires":[["257e6fac.19948"]]},{"id":"c52ec73d.df395","type":"function","z":"5f7b1ced.76b93c","name":"BOD0020 Operating Hours","func":"if (msg.BNIPort === parseInt(global.get('BOD0020'),16) && msg.command === 9 && msg.LowIndex === '58' && msg.SubIndex === \"01\") {\n    msg.payload = msg.response.substr(18,11);\n} else {return;\n    \n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":400,"y":1180,"wires":[["4930400f.178fd8"]]},{"id":"cfae18f1.fd0a1","type":"function","z":"5f7b1ced.76b93c","name":"BOD0020 Quality","func":"if (msg.BNIPort === parseInt(global.get('BOD0020'),16) && msg.command === 9 && msg.LowIndex === 'CF' && msg.SubIndex === \"00\") {\n    msg.payload = msg.response.substr(18,2);\n} else {return;\n    \n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":370,"y":1140,"wires":[["97e61808.97f01"]]},{"id":"a9df3fb6.5c5f2","type":"function","z":"5f7b1ced.76b93c","name":"Set Payload to Buffer","func":"if (msg.hex.includes(undefined) === false){\n    var string = msg.hex.replace(/\\s/g,'');\n    msg.ip = global.get('host');\n    msg.port = '1999';\n    msg.payload = Buffer.from(string,\"hex\");\n} else {\n    msg.payload = \"not Present\"\n}\n\nreturn msg;\n\n//msg.payload = Buffer.from(msg.payload, \"hex\");\n","outputs":1,"noerr":0,"x":1000,"y":520,"wires":[["5efa2d45.545dcc"]]},{"id":"5efa2d45.545dcc","type":"simple-queue","z":"5f7b1ced.76b93c","name":"queue1","firstMessageBypass":true,"bypassInterval":"900","x":1200,"y":460,"wires":[["8b0f243f.6bc838"]]},{"id":"2aefc78.9b714b8","type":"inject","z":"5f7b1ced.76b93c","name":"TS-5min","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":true,"onceDelay":"60","x":200,"y":620,"wires":[["288c1dba.d5b302"]]},{"id":"288c1dba.d5b302","type":"switch","z":"5f7b1ced.76b93c","name":"","property":"SensorsAreSet","propertyType":"global","rules":[{"t":"eq","v":"OK","vt":"str"},{"t":"neq","v":"OK","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":620,"wires":[["4d7cd5d0.4616f4"],["267eb8da.a896f8"]]},{"id":"267eb8da.a896f8","type":"change","z":"5f7b1ced.76b93c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Sensors Not Set","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":660,"wires":[["d2078e7f.bff7f"]]},{"id":"d2078e7f.bff7f","type":"debug","z":"5f7b1ced.76b93c","name":"Sensors not set","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":780,"y":660,"wires":[]},{"id":"257e6fac.19948","type":"function","z":"5f7b1ced.76b93c","name":"Set Payload to Buffer","func":"if (msg.hex.includes(undefined) === false){\n    var string = msg.hex.replace(/\\s/g,'');\n    msg.ip = global.get('host');\n    msg.port = '1999';\n    msg.payload = Buffer.from(string,\"hex\");\n} else {\n    msg.payload = \"not Present\"\n}\n\nreturn msg;\n\n//msg.payload = Buffer.from(msg.payload, \"hex\");\n","outputs":1,"noerr":0,"x":1000,"y":620,"wires":[["8b0f243f.6bc838"]]},{"id":"4930400f.178fd8","type":"function","z":"5f7b1ced.76b93c","name":"Calc Hours","func":"msg.payload = parseInt((msg.payload.substr(0, 2))+(msg.payload.substr(3, 2))+(msg.payload.substr(6, 2))+(msg.payload.substr(9, 2)),16);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":770,"y":1180,"wires":[["e35fffdf.cadbb8","e3fd6afb.117d6"]]},{"id":"e35fffdf.cadbb8","type":"ui_text","z":"5f7b1ced.76b93c","group":"a743c63c.5b9c2","order":2,"width":0,"height":0,"name":"","label":"Operating Hours:","format":"{{msg.payload}} h","layout":"row-left","x":1030,"y":1180,"wires":[]},{"id":"e3fd6afb.117d6","type":"change","z":"5f7b1ced.76b93c","name":"","rules":[{"t":"set","p":"BOD0020_operating_hours","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1350,"y":1160,"wires":[[]]},{"id":"726f312c.42c648","type":"ui_text","z":"5f7b1ced.76b93c","group":"a743c63c.5b9c2","order":2,"width":0,"height":0,"name":"","label":"Signal Quality:","format":"{{msg.payload}} %","layout":"row-left","x":1020,"y":1140,"wires":[]},{"id":"97e61808.97f01","type":"function","z":"5f7b1ced.76b93c","name":"Calc Quality","func":"msg.payload = parseInt(msg.payload,16);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":770,"y":1140,"wires":[["726f312c.42c648","226dff04.93923"]]},{"id":"226dff04.93923","type":"change","z":"5f7b1ced.76b93c","name":"","rules":[{"t":"set","p":"BOD0020_quality","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1320,"y":1120,"wires":[[]]},{"id":"e9255ebb.5cc93","type":"debug","z":"5f7b1ced.76b93c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":840,"y":300,"wires":[]},{"id":"d4596a9a.df66f","type":"debug","z":"5f7b1ced.76b93c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":800,"y":780,"wires":[]},{"id":"3516f764.982ef","type":"ui_group","z":"","name":"Charts","tab":"8d8d9928.781eb","disp":true,"width":"16","collapse":false},{"id":"a743c63c.5b9c2","type":"ui_group","z":"","name":"Text","tab":"8d8d9928.781eb","order":2,"disp":true,"width":"6","collapse":false},{"id":"8d8d9928.781eb","type":"ui_tab","z":"","name":"BOD0020","icon":"dashboard","order":5}]