docker/balluff_NodeRed_x86_64_dev/lib/flows/RasperryPi/Balluff/BTLxxxx.json
[{"id":"1978b8db.5b23f7","type":"function","z":"9fb2573d.64ffc8","name":"BTL ProcessInputs BTL6PFIOL001","func":"if (msg.BNIPort === parseInt(global.get('BTL6PFIOL001'),16) && msg.command === 10) \n    {   msg.dist = parseInt(msg.response.substr(15,11).split(\" \").join(\"\"), 16);\n        msg.distError = 0;\n        if(msg.dist === 0x7FFFFFFF )\n        {\n            msg.dist = 0;\n            msg.distError = 1;\n        }\n        else\n        {\n            var sign = msg.dist >>> 31;\n            \n            if(sign == 1)\n            {\n                msg.dist = (~(msg.dist - 1)) & 0x7FFFFFFF;\n                msg.dist *= -1;\n            }\n            else\n            {\n                msg.dist = msg.dist & 0x7FFFFFFF;\n            }\n        }\n    } \nelse \n{\n    return;\n}\n\nreturn msg;\n//{ payload:msg.payload.substr(15,8) };","outputs":1,"noerr":0,"x":380,"y":300,"wires":[["8cfcf9b9.d6da78","fe0c3da8.c34818"]]},{"id":"8cfcf9b9.d6da78","type":"function","z":"9fb2573d.64ffc8","name":"Convert to smartlight level","func":"const MAX_DIST = 200000; //max range von BTL\nconst MAX_LEVEL_VALUE = 65535; //Prozessdatenrange in int. des Spartlight\nif(msg.dist > MAX_DIST)\n{\n    msg.dist = MAX_DIST;\n}\nif((msg.distError === 1) || (msg.dist < 0))\n{\n    msg.payload = 0;\n}\nelse\n{\n    msg.payload = Math.round((msg.dist / MAX_DIST) * MAX_LEVEL_VALUE);\n}\n\nreturn msg;\n\n//by eduard Völker :-)","outputs":1,"noerr":0,"x":670,"y":340,"wires":[["d31cf9f3.ee7848"]]},{"id":"fe0c3da8.c34818","type":"change","z":"9fb2573d.64ffc8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"dist","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":300,"wires":[["94de6b65.c26c38","1dc0910f.1eb15f"]]},{"id":"94de6b65.c26c38","type":"ui_chart","z":"9fb2573d.64ffc8","name":"BTL IOL 200mm","group":"821a039f.670ca8","order":0,"width":0,"height":0,"label":"BTL IOL 200mm","chartType":"line","legend":"false","xformat":"ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"250000","removeOlder":"20","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"outputs":2,"x":980,"y":300,"wires":[[],[]]},{"id":"d31cf9f3.ee7848","type":"rbe","z":"9fb2573d.64ffc8","name":"","func":"deadband","gap":"5%","start":"","inout":"in","property":"payload","x":780,"y":380,"wires":[["7251dfd8.58d738"]]},{"id":"7251dfd8.58d738","type":"link out","z":"9fb2573d.64ffc8","name":"Smartlight Level output","links":["99b6c05c.bdd44","cb681d1c.fc172"],"x":875,"y":380,"wires":[]},{"id":"f341189f.9ba1e8","type":"comment","z":"9fb2573d.64ffc8","name":"Process Data","info":"","x":230,"y":220,"wires":[]},{"id":"e9cec68c.d377","type":"link in","z":"9fb2573d.64ffc8","name":"Process Data Handler","links":["99900e35.ab1578"],"x":175,"y":300,"wires":[["1978b8db.5b23f7"]]},{"id":"ee490bf2.e75468","type":"comment","z":"9fb2573d.64ffc8","name":"Service Data 10s Cycle","info":"","x":260,"y":540,"wires":[]},{"id":"1cce1783.e40208","type":"comment","z":"9fb2573d.64ffc8","name":"Write Service data","info":"","x":250,"y":600,"wires":[]},{"id":"662463f7.b6ee6c","type":"comment","z":"9fb2573d.64ffc8","name":"Write Process Data ","info":"","x":250,"y":660,"wires":[]},{"id":"1dc0910f.1eb15f","type":"change","z":"9fb2573d.64ffc8","name":"","rules":[{"t":"set","p":"BTL_position","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010,"y":260,"wires":[[]]},{"id":"821a039f.670ca8","type":"ui_group","z":"","name":"Charts","tab":"6f50a621.dc0598","disp":true,"width":"20","collapse":false},{"id":"6f50a621.dc0598","type":"ui_tab","z":"","name":"BTL","icon":"dashboard","order":19}]