docker/balluff_NodeRed_x86_64_dev/lib/flows/RasperryPi/Balluff/BTS0002.json
[{"id":"46f0eb55.092434","type":"change","z":"6291c2e7.73a60c","name":"","rules":[{"t":"set","p":"BTS_temperature","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":220,"wires":[[]]},{"id":"2df6e85a.4070b","type":"function","z":"6291c2e7.73a60c","name":"BTS Hours","func":"if (msg.BNIPort === parseInt(global.get('BTS0002'),16) && msg.command === 9 && msg.LowIndex === '57' && msg.SubIndex === \"01\") {\n    msg.payload = msg.response.substr(18,11);\n} else {return;\n    \n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":530,"y":780,"wires":[["1e1095b9.64e94a"]]},{"id":"1e1095b9.64e94a","type":"function","z":"6291c2e7.73a60c","name":"Calc Hours","func":"var sub1 = msg.payload.substr(0,2);\nvar sub2 = msg.payload.substr(3,2);\nvar sub3 = msg.payload.substr(6,2);\nvar sub4 = msg.payload.substr(9,2);\nmsg.hours = parseInt(sub1+sub2+sub3+sub4,16);\n//msg.temp = parseInt(sub1 ,16);\nreturn {payload : msg.hours};\n","outputs":1,"noerr":0,"x":710,"y":780,"wires":[["5b18503b.119288","ac91ecd5.ba6ca8","f185d6e8.1c365"]]},{"id":"5b18503b.119288","type":"ui_gauge","z":"6291c2e7.73a60c","name":"Operating Hours","group":"c0bc2656.da045","order":2,"width":"5","height":"6","gtype":"wave","title":"Operating Hours","label":"Hours","format":"{{h}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":900,"y":780,"wires":[]},{"id":"fb2f305e.1de84","type":"ui_dropdown","z":"6291c2e7.73a60c","name":"","label":"Select Unit","place":"Select option","group":"c0bc2656.da045","order":1,"width":"5","height":"2","passthru":false,"options":[{"label":"Relative","value":"00","type":"str"},{"label":"Celsius","value":"01","type":"str"},{"label":"Fahrenheit","value":"02","type":"str"}],"payload":"","topic":"","x":290,"y":580,"wires":[["7d556867.9e6778"]]},{"id":"7d556867.9e6778","type":"function","z":"6291c2e7.73a60c","name":"BTS Change Unit on display","func":"//msg.Start = '09 00';//9 + Length of Data, 00\nmsg.Revision = '02'; //Protokoll Revision 02\nmsg.Command = '03';\nmsg.IOLPort = global.get('BTS0002');\nmsg.LowIndex = '5A';\nmsg.HighIndex = '00';\nmsg.SubIndex = '00';\nmsg.LengthOfData = '01'; \nmsg.Data = msg.payload;\n\nif ((9 + parseInt(msg.LengthOfData)) <16) {\n    msg.Start = \"0\"+ (9 + parseInt(msg.LengthOfData)).toString(16) + \" 00\";\n} else { \n    msg.Start = (9 + parseInt(msg.LengthOfData)).toString(16)+ \" 00\";\n}\n/*\nif ((msg.payload) <16) {\n    msg.Data = \"00 0\"+ (msg.payload.toString(16));\n} else if (msg.payload >=16 && msg.payload < 256){\n    msg.Data = \"00 \" + (msg.payload.toString(16));\n} else if (msg.payload >=256 && msg.payload < 4096){\n    msg.Data = \"0\" + (msg.payload.toString(16));\n} else { \n    msg.Data = (msg.payload.toString(16));\n}\n*/\n\nmsg.hex = msg.Start +\" \"+ msg.Revision +\" \"+ msg.Command +\" \"+ msg.IOLPort +\" \"+ msg.LowIndex +\" \"+ msg.HighIndex +\" \"+ msg.SubIndex +\" \"+ msg.LengthOfData +\" \"+ msg.Data;\n\nreturn msg;\n\n\n//choice = msg.payload;\n\n//msg.hex = \"0A 00 02 03 00 5A 00 00 01 \"+choice;\n","outputs":1,"noerr":0,"x":520,"y":580,"wires":[["1843c42.ce08cbc"]]},{"id":"f1ebf484.3996c","type":"function","z":"6291c2e7.73a60c","name":"AL_ReadReq BTS get Operating Hours","func":"msg.Start = '08 00'; //Startbyte\nmsg.Revision = '02'; //Protokoll Revision 02\nmsg.Command = '02'; // Kommando\nmsg.IOLPort = global.get('BTS0002'); //Port Nummer\nmsg.LowIndex = '57'; //IO-Link Index \nmsg.HighIndex = '00'; //IO-Link Index (meißtens 00)\nmsg.SubIndex = '01'; //IO-Link SubIndex \nmsg.Index = '57';\nmsg.PL = msg.payload; //Payload of inject\n\nmsg.hex = msg.Start +\" \"+ msg.Revision +\" \"+ msg.Command +\" \"+ msg.IOLPort +\" \"+ msg.LowIndex +\" \"+ msg.HighIndex +\" \"+ msg.SubIndex;\n\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":640,"wires":[["1843c42.ce08cbc"]]},{"id":"1843c42.ce08cbc","type":"function","z":"6291c2e7.73a60c","name":"Set Payload to Buffer","func":"if (msg.hex.includes(undefined) === false){\n    var string = msg.hex.replace(/\\s/g,'');\n    msg.ip = global.get('host');\n    msg.port = '1999';\n    msg.payload = Buffer.from(string,\"hex\");\n} else {\n    msg.payload = \"not Present\"\n}\n\nreturn msg;\n\n//msg.payload = Buffer.from(msg.payload, \"hex\");\n","outputs":1,"noerr":0,"x":1200,"y":640,"wires":[["d1b612ea.a23688"]]},{"id":"d1b612ea.a23688","type":"switch","z":"6291c2e7.73a60c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"not Present","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1410,"y":640,"wires":[["ec029540.15f6f"],["b776bd19.0354d8"]]},{"id":"b15bbe4f.eea858","type":"inject","z":"6291c2e7.73a60c","name":"TS-11sec","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":false,"onceDelay":"","x":270,"y":660,"wires":[["6ec4916a.f57e6"]]},{"id":"6ec4916a.f57e6","type":"switch","z":"6291c2e7.73a60c","name":"","property":"SensorsAreSet","propertyType":"global","rules":[{"t":"eq","v":"OK","vt":"str"},{"t":"neq","v":"OK","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":430,"y":660,"wires":[["f1ebf484.3996c"],["84e86573.9039d"]]},{"id":"84e86573.9039d","type":"change","z":"6291c2e7.73a60c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Sensors Not Set","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":680,"wires":[["c83f5055.2f9f98"]]},{"id":"febd88df.277d1","type":"comment","z":"6291c2e7.73a60c","name":"Service Data 10s Cycle","info":"","x":360,"y":440,"wires":[]},{"id":"836ba970.457be8","type":"comment","z":"6291c2e7.73a60c","name":"Process Data","info":"","x":350,"y":200,"wires":[]},{"id":"b1cd35ff.ad8f18","type":"comment","z":"6291c2e7.73a60c","name":"Write Service data","info":"","x":350,"y":1140,"wires":[]},{"id":"874facad.f78f28","type":"comment","z":"6291c2e7.73a60c","name":"Write Process Data ","info":"","x":350,"y":1200,"wires":[]},{"id":"d4d9a431.dc35","type":"function","z":"6291c2e7.73a60c","name":"ProcessInputs: BTS","func":"if (msg.BNIPort === (parseInt(global.get('BTS0002'),16)) && msg.command === 10) {\n    msg.payload = msg.response.substr(15,5);\n} else {\n    return;\n}\nreturn msg;\n\n//return { payload:msg.payload.ProcessInputs };\n","outputs":1,"noerr":0,"x":500,"y":300,"wires":[["8259cb57.dbccf","966dc229.e30dc"]]},{"id":"8259cb57.dbccf","type":"function","z":"6291c2e7.73a60c","name":"BTS Output Temp","func":"var tooLow = msg.payload.substr(4,1);\nvar temp1 = msg.payload.substr(0, 2);\nvar temp2 = msg.payload.substr(3, 1);\nvar temp = parseInt(temp1+temp2,16);\n\nif (tooLow == 8){\nmsg.temp = 0;\n}\nelse{msg.temp = temp;\n}\n\nreturn {payload:msg.temp};\n\n\n/*\n\nvar hex3 = msg.payload.substr(6, 2);\n\nvar dec = parseInt(hex3 ,16);\nvar string = dec.toString(2);\nwhile (string.length%8){string=\"0\"+string;}\nmsg.dist = string;\n\nreturn {payload:msg.dist};\n*/\n","outputs":1,"noerr":0,"x":730,"y":280,"wires":[["62f0338d.9ef4ec","46f0eb55.092434"]]},{"id":"966dc229.e30dc","type":"function","z":"6291c2e7.73a60c","name":"BTS Output values","func":"var hex = msg.payload.substr(4, 1);\n\nvar dec = parseInt(hex ,16);\nvar string = dec.toString(2);\nwhile (string.length%4){string=\"0\"+string;}\nmsg.dist = string;\n\nreturn {payload:msg.dist};\n\n","outputs":1,"noerr":0,"x":730,"y":320,"wires":[["41393aaf.534764","8fb83f60.b9f41","872ebed6.fd6b","a9281aa5.fa5bc8"]]},{"id":"41393aaf.534764","type":"function","z":"6291c2e7.73a60c","name":"Out of Range","func":"var sub1 = msg.payload.substr(0, 1);\nmsg.string = sub1;\n//return {payload:msg.dist};\nreturn {payload:msg.string};","outputs":1,"noerr":0,"x":970,"y":300,"wires":[[]]},{"id":"8fb83f60.b9f41","type":"function","z":"6291c2e7.73a60c","name":"teach In","func":"var sub1 = msg.payload.substr(1, 1);\nmsg.string = sub1;\n//return {payload:msg.dist};\nreturn {payload:msg.string};","outputs":1,"noerr":0,"x":960,"y":340,"wires":[[]]},{"id":"872ebed6.fd6b","type":"function","z":"6291c2e7.73a60c","name":"BCD 2","func":"var sub1 = msg.payload.substr(2, 1);\nmsg.string = sub1;\n//return {payload:msg.dist};\nreturn {payload:msg.string};","outputs":1,"noerr":0,"x":950,"y":380,"wires":[[]]},{"id":"a9281aa5.fa5bc8","type":"function","z":"6291c2e7.73a60c","name":"BCD 1","func":"var sub1 = msg.payload.substr(3, 1);\nmsg.string = sub1;\n//return {payload:msg.dist};\nreturn {payload:msg.string};","outputs":1,"noerr":0,"x":950,"y":420,"wires":[[]]},{"id":"62f0338d.9ef4ec","type":"ui_chart","z":"6291c2e7.73a60c","name":"","group":"d410347e.fb10a8","order":1,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"1300","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":2,"x":990,"y":260,"wires":[[],[]]},{"id":"64d0f4a3.7cf774","type":"link in","z":"6291c2e7.73a60c","name":"Process Data Hanling","links":["99900e35.ab1578"],"x":295,"y":300,"wires":[["d4d9a431.dc35"]]},{"id":"f6b9adce.b86648","type":"link in","z":"6291c2e7.73a60c","name":"10s Dervice Data handler","links":["99900e35.ab1578"],"x":235,"y":780,"wires":[["2df6e85a.4070b"]]},{"id":"c83f5055.2f9f98","type":"debug","z":"6291c2e7.73a60c","name":"Sensors not set","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":820,"y":680,"wires":[]},{"id":"ec029540.15f6f","type":"link out","z":"6291c2e7.73a60c","name":"5 min Service Data send","links":["2514d289.79f41e"],"x":1555,"y":620,"wires":[]},{"id":"b776bd19.0354d8","type":"debug","z":"6291c2e7.73a60c","name":"BTS0002 not Present","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1640,"y":660,"wires":[]},{"id":"ac91ecd5.ba6ca8","type":"debug","z":"6291c2e7.73a60c","name":"check Process ok","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":910,"y":840,"wires":[]},{"id":"f185d6e8.1c365","type":"change","z":"6291c2e7.73a60c","name":"","rules":[{"t":"set","p":"BTS_operating_hours","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":740,"wires":[[]]},{"id":"c0bc2656.da045","type":"ui_group","z":"","name":"Settings","tab":"c119b179.1eeab8","order":2,"disp":true,"width":"6"},{"id":"d410347e.fb10a8","type":"ui_group","z":"","name":"Charts","tab":"c119b179.1eeab8","order":1,"disp":true,"width":"16","collapse":false},{"id":"c119b179.1eeab8","type":"ui_tab","z":"","name":"BTS","icon":"dashboard","order":16}]