docker/balluff_NodeRed_x86_64_dev/lib/flows/RasperryPi/Balluff/getPortData.json
[{"id":"2a79bf2d.673b8","type":"function","z":"eac9aac3.b62998","name":"GET IOL Port Data","func":"//msg.hex = \"05 00 02 0A 00\"\n\n// list of ports to initialize\nlet iolports = msg.ports || [0]; \n\n// get port_index from node context, or initialize\nlet iolport_index = context.get('iolport_index') || 0;\n\n// finished?\nif (iolport_index >= iolports.length) {\n    context.set('iolport_index', null); // undefine port_index\n    return null;\n}\n    \n// prepare message:\nif ((iolports[iolport_index]) <16) {\n    msg.Data = \"0\"+ (iolports[iolport_index].toString(16));\n} else { \n    msg.Data = (iolports[iolport_index].toString(16));\n}\n//msg.port = (\"00\" + ports[port_index]).slice(-2);\n// next port...\ncontext.set('iolport_index', iolport_index+1);\n\n\nmsg.hex = \"05 00 02 0A \"+ msg.Data;\n\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":300,"wires":[["516f4de.dd7e8b4","25a4b29a.544b9e"]]},{"id":"88ad18d7.db61f8","type":"inject","z":"eac9aac3.b62998","name":"TS-0.8sec","topic":"","payload":"","payloadType":"date","repeat":"0.8","crontab":"","once":false,"onceDelay":"","x":230,"y":300,"wires":[["cdbd9230.0fe858"]]},{"id":"516f4de.dd7e8b4","type":"delay","z":"eac9aac3.b62998","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1010,"y":340,"wires":[["2a79bf2d.673b8"]]},{"id":"7b044720.b5f97","type":"change","z":"eac9aac3.b62998","name":"read host and ports from config","rules":[{"t":"set","p":"host","pt":"msg","to":"host","tot":"global"},{"t":"set","p":"ports","pt":"msg","to":"ports","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":300,"wires":[["2a79bf2d.673b8"]]},{"id":"25a4b29a.544b9e","type":"function","z":"eac9aac3.b62998","name":"Set Payload to Buffer","func":"var string = msg.hex.replace(/\\s/g,'');\nmsg.ip = msg.host;\nmsg.port = '1999';\nmsg.payload = Buffer.from(string,\"hex\");\n\nreturn msg;\n\n//msg.payload = Buffer.from(msg.payload, \"hex\");\n","outputs":1,"noerr":0,"x":1280,"y":300,"wires":[["a829e63b.0d75a8","979785bf.59187"]]},{"id":"9529d781.f6db1","type":"comment","z":"eac9aac3.b62998","name":"Get Port Data of all 8 ports","info":"","x":270,"y":260,"wires":[]},{"id":"cdbd9230.0fe858","type":"switch","z":"eac9aac3.b62998","name":"check if Ports are set?","property":"portsAreSet","propertyType":"global","rules":[{"t":"eq","v":"OK","vt":"str"},{"t":"neq","v":"OK","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":440,"y":300,"wires":[["7b044720.b5f97"],["f6c9331c.be4e6"]]},{"id":"f6c9331c.be4e6","type":"change","z":"eac9aac3.b62998","name":"Ports Not Set","rules":[{"t":"set","p":"payload","pt":"msg","to":"Ports Not Set","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":360,"wires":[["da3ac09b.798548"]]},{"id":"a829e63b.0d75a8","type":"link out","z":"eac9aac3.b62998","name":"send UDP from Port Data","links":["2514d289.79f41e"],"x":1475,"y":300,"wires":[]},{"id":"da3ac09b.798548","type":"debug","z":"eac9aac3.b62998","name":"Ports Not Set","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":830,"y":360,"wires":[]},{"id":"979785bf.59187","type":"debug","z":"eac9aac3.b62998","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1400,"y":380,"wires":[]}]