docker/balluff_NodeRed_x86_64_dev/lib/flows/RasperryPi/Balluff/udpHandler.json
[{"id":"212f8579.581e1a","type":"udp out","z":"eeba981b.73ec48","name":"UDP Output node","addr":"","iface":"","port":"","ipv":"udp4","outport":"2000","base64":false,"multicast":"false","x":750,"y":440,"wires":[]},{"id":"2514d289.79f41e","type":"link in","z":"eeba981b.73ec48","name":"Send to UDP node (recives)","links":["a829e63b.0d75a8","adbf9e7f.e103e8","49c5f2c0.e1d8a4","8c472b76.d1a83","1d138951.aa560f","280a3efd.9cbff2","1b904875.86ba8","3d4f5a43.aa29a6","ed0d5edd.8e576","ec029540.15f6f","b0f03e77.8c0458","d49c18ec.c98748","6f085f8c.763fd","74f7ceca.0e8f3","2ada43bf.7ec23c","2d5cabe5.4eb1a4","972e71ac.44934","3fd6caad.a8419e","8db4e59a.020df8","7078cd53.bf89f4","f67d9acf.314258"],"x":175,"y":440,"wires":[["c8876851.49c03","caedea7b.7af4d"]]},{"id":"ea27648c.1f3da","type":"udp in","z":"eeba981b.73ec48","name":"UDP Input node","iface":"","port":"2000","ipv":"udp4","multicast":"false","group":"","datatype":"buffer","x":940,"y":440,"wires":[["2c10ff68.3917d8","f636507e.ffe128","95addd36.59e07"]]},{"id":"62c060ce.26f568","type":"debug","z":"eeba981b.73ec48","name":"transform Return massage","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1700,"y":400,"wires":[]},{"id":"2c10ff68.3917d8","type":"change","z":"eeba981b.73ec48","name":"","rules":[{"t":"set","p":"LowIndex","pt":"msg","to":"LowIndex","tot":"global"},{"t":"set","p":"SubIndex","pt":"msg","to":"SubIndex","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":1160,"y":440,"wires":[["f4cf3cd0.0fd63"]]},{"id":"f4cf3cd0.0fd63","type":"function","z":"eeba981b.73ec48","name":"transform Return massage","func":"//Original Object from BNI;\nmsg.returnObject = msg.payload;\n\n//Object to tidy Hex string\nmsg.response = msg.payload.toString('hex').match(/.{2}/g).join(' ');\nmsg.BNIPort = msg.returnObject[4]; //Byte 4 gives back the Port\n\n\n//which Command was returned;\nmsg.command = msg.returnObject[3]; //Byte 3 gives Back the Command\nmsg.dataLength = undefined;\n\n\nswitch ( msg.command )\n{\ncase 10: //ReadProcessData\n    if ( msg.BNIPort == 255 )\n    {\n        msg.portData = [];\n        var dataLength = (msg.returnObject[0] | ( msg.returnObject[1] << 8 ))-5;\n        var offset = 5;\n        var itemLength;\n\n        while ( dataLength > 0 )\n        {\n            itemLength = msg.returnObject[ offset ];\n            \n            if ( itemLength + 1 > dataLength )\n            {\n                // Error - data says it's longer than the buffer.\n                break;\n            }\n            \n            if ( itemLength < 1 )\n            {\n                // Error - invalid data length\n                break;\n            }\n\n          msg.portData.push({\n                \"data\":    msg.returnObject.slice( offset + 1, offset + itemLength ),\n      \"PDvalid\": msg.returnObject[ offset + itemLength ]\n            });\n\n            offset += itemLength + 1;\n     dataLength -= itemLength + 1;\n        }\n    }\n    else\n    {\n        msg.dataLength = (msg.returnObject[0] | ( msg.returnObject[1] << 8 ))-6;\n        msg.PDValid = msg.returnObject[msg.returnObject.length-1];\n   }\n    break;\n//case 11: //WriteProcessData\n   // break;\n//case 9: //ALReadReq\n   // break;\n//case 8: //ALWriteReq\n   // break;\n//case 6: //ALReadError\n  //  break;\n//case 4: Master Event \n  //break;\n//case 7: //ALWriteError\n  //  break;\ndefault:\n    break;\n}\n\nreturn msg;\n\n//toDos: read all Process Data muss noch ausgewerte werden. 09 bei BOS21 in PD valid bedeutet LED aus... ","outputs":1,"noerr":0,"x":1400,"y":440,"wires":[["62c060ce.26f568","14c8daf8.fa0915","fbfa7f.4b9ca58","99900e35.ab1578"]]},{"id":"14c8daf8.fa0915","type":"function","z":"eeba981b.73ec48","name":"command 6 AL_Read Error","func":"if (msg.command === 6){\n    msg.payload = msg.response.substr(15,5);\n}else {return \n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1320,"y":780,"wires":[["4ee12cad.6bfbc4"]]},{"id":"fbfa7f.4b9ca58","type":"function","z":"eeba981b.73ec48","name":"command 4 Master send Error Code","func":"if (msg.command === 4){\n    msg.type = msg.response.substr(15,21);\n}else {return \n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1350,"y":820,"wires":[["681c52b0.4eaa44"]]},{"id":"681c52b0.4eaa44","type":"debug","z":"eeba981b.73ec48","name":"command 4 Master send Error Code","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1670,"y":820,"wires":[]},{"id":"4ee12cad.6bfbc4","type":"debug","z":"eeba981b.73ec48","name":"command 6 AL_Read Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1640,"y":780,"wires":[]},{"id":"99900e35.ab1578","type":"link out","z":"eeba981b.73ec48","name":"Massage Return (Sends Json)","links":["f1c55194.867858","c99bf9c3.edaae8","433e4405.e9d76c","e14ce8b7.7946a","bbd72ed9.10115","e6455596.e7fa8","553904b4.eb550c","64d0f4a3.7cf774","f6b9adce.b86648","895f93e3.d2ac48","25ff03ae.4f628c","fe7ec91b.5d45d8","38bcd236.c341fe","9a4f9f6f.570c58","e9cec68c.d377","e8054375.2a7cb8","39391db2.c11a82","91c55992.c4f73","785da6e2.f8d408","baeaba7f.3dddc","26fb1abb.a16f6e","dd24b209.186598","2e7ec405.071964","5f03dc7d.ffc5e4","436ab8fb.88ebf8","b4000ca5.215e58","65185394.02167c","f7f54513.f77448","fb40ea87.2a20b","9e70f7d4.2e1ad"],"x":1655,"y":440,"wires":[]},{"id":"912f93b.d6ac7f","type":"comment","z":"eeba981b.73ec48","name":"Error Handling","info":"","x":1350,"y":740,"wires":[]},{"id":"c8876851.49c03","type":"debug","z":"eeba981b.73ec48","name":"Outgoing massages Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":540,"y":540,"wires":[]},{"id":"f636507e.ffe128","type":"debug","z":"eeba981b.73ec48","name":"incoming massages Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1140,"y":540,"wires":[]},{"id":"c3b36926.5ee67","type":"change","z":"eeba981b.73ec48","name":"Release next massage in queue","rules":[{"t":"set","p":"trigger","pt":"msg","to":"1","tot":"str"},{"t":"delete","p":"fromip","pt":"msg"},{"t":"delete","p":"ip","pt":"msg"},{"t":"delete","p":"port","pt":"msg"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1170,"y":320,"wires":[["6e082570.6a5fec","caedea7b.7af4d"]]},{"id":"6f6a8e9c.482d1","type":"debug","z":"eeba981b.73ec48","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":510,"y":480,"wires":[]},{"id":"6e082570.6a5fec","type":"debug","z":"eeba981b.73ec48","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1450,"y":340,"wires":[]},{"id":"ffb57f2.f0425","type":"inject","z":"eeba981b.73ec48","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":"","x":210,"y":320,"wires":[["18ab936a.444bcd"]]},{"id":"18ab936a.444bcd","type":"change","z":"eeba981b.73ec48","name":"","rules":[{"t":"set","p":"reset","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":300,"wires":[["caedea7b.7af4d"]]},{"id":"caedea7b.7af4d","type":"simple-queue","z":"eeba981b.73ec48","name":"queue1","firstMessageBypass":true,"bypassInterval":"0","x":360,"y":440,"wires":[["6f6a8e9c.482d1","e2a050fc.a135a8"]]},{"id":"e2a050fc.a135a8","type":"change","z":"eeba981b.73ec48","name":"","rules":[{"t":"set","p":"LowIndex","pt":"global","to":"LowIndex","tot":"msg"},{"t":"set","p":"SubIndex","pt":"global","to":"SubIndex","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":440,"wires":[["212f8579.581e1a"]]},{"id":"95addd36.59e07","type":"delay","z":"eeba981b.73ec48","name":"","pauseType":"delay","timeout":"18","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":930,"y":320,"wires":[["c3b36926.5ee67"]]},{"id":"b89bd935.c3039","type":"ui_button","z":"eeba981b.73ec48","name":"","group":"b4045cc8.2200b","order":0,"width":0,"height":0,"passthru":false,"label":"Reset Queue main","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":190,"y":280,"wires":[["18ab936a.444bcd"]]},{"id":"b4045cc8.2200b","type":"ui_group","z":"","name":"Raspberry Pi Shutdown","tab":"6f91c194.4c9ce8","order":1,"disp":true,"width":"6"},{"id":"6f91c194.4c9ce8","type":"ui_tab","z":"","name":"RPi Control","icon":"dashboard","order":10}]