docker/balluff_NodeRed_x86_64_dev/flows/flows.json
[{"id":"5ea6d14d.86d94","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"21573349.baf9e4","type":"inject","z":"5ea6d14d.86d94","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":120,"wires":[["f69b244e.23124"]]},{"id":"fb277f7a.8350f8","type":"debug","z":"5ea6d14d.86d94","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":120,"wires":[]},{"id":"f69b244e.23124","type":"function","z":"5ea6d14d.86d94","name":"It","func":"msg.paylod = \"it Works!\";\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":120,"wires":[["fb277f7a.8350f8"]]}]