docker/balluff_NodeRed_arm_dev/lib/flows/RasperryPi/Balluff/backend.json
[{"id":"e88f081f.c7b338","type":"change","z":"b19655d8.c31cc","name":"","rules":[{"t":"move","p":"BOS026R_counter","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":100,"wires":[["f56ad113.92b68"]]},{"id":"c1f02e36.fa88","type":"comment","z":"b19655d8.c31cc","name":"BAE00TP","info":"","x":360,"y":380,"wires":[]},{"id":"aaed6ad5.bf23","type":"change","z":"b19655d8.c31cc","name":"","rules":[{"t":"move","p":"BAW004M_distance","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":780,"wires":[["1ddc6181.6f1836"]]},{"id":"70a69629.a37928","type":"change","z":"b19655d8.c31cc","name":"","rules":[{"t":"move","p":"BAW004M_temperature_actual","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":820,"wires":[["e354f77f.ed0dc"]]},{"id":"6d848d1c.e23854","type":"change","z":"b19655d8.c31cc","name":"","rules":[{"t":"move","p":"BAW004M_temperature_max_startup","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":860,"wires":[["c83af209.cf7888"]]},{"id":"f1bf9830.6e76e8","type":"change","z":"b19655d8.c31cc","name":"","rules":[{"t":"move","p":"BAW004M_temperature_min_startup","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":900,"wires":[["23f6567b.c4ef82"]]},{"id":"f656c809.92bbd","type":"change","z":"b19655d8.c31cc","name":"","rules":[{"t":"move","p":"BAW004M_temperature_max_lifetime","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":940,"wires":[["ad2ba686.72409"]]},{"id":"4dd49a63.29349c","type":"change","z":"b19655d8.c31cc","name":"","rules":[{"t":"move","p":"BAW004M_temperature_min_lifetime","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":980,"wires":[["c54f69f3.0468e"]]},{"id":"e1cb93e.624507","type":"comment","z":"b19655d8.c31cc","name":"BAW004M","info":"","x":360,"y":740,"wires":[]},{"id":"ad14dc6a.c7f5b8","type":"change","z":"b19655d8.c31cc","name":"","rules":[{"t":"move","p":"BNI00E0_detection","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":1100,"wires":[["59e50686.832f2"]]},{"id":"3efde684.cb0782","type":"change","z":"b19655d8.c31cc","name":"","rules":[{"t":"move","p":"BNI00E0_gain","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":1140,"wires":[["f0ebbdc9.baaba"]]},{"id":"56db7c2c.6a076c","type":"change","z":"b19655d8.c31cc","name":"","rules":[{"t":"move","p":"BNI00E0_temperature_actual","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":1180,"wires":[["5be25c35.8fea2c"]]},{"id":"e815f24c.95c9","type":"change","z":"b19655d8.c31cc","name":"","rules":[{"t":"move","p":"BNI00E0_temperature_max_startup","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":1220,"wires":[["beda33bd.dfbd38"]]},{"id":"94f10c81.d3a598","type":"change","z":"b19655d8.c31cc","name":"","rules":[{"t":"move","p":"BNI00E0_temperature_min_startup","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":1260,"wires":[["c6f86482.7dcd4"]]},{"id":"8866f9cb.e4bb08","type":"change","z":"b19655d8.c31cc","name":"","rules":[{"t":"move","p":"BNI00E0_temperature_max_lifetime","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":1300,"wires":[["3b80eeae.20c46a"]]},{"id":"b412021a.de4ab8","type":"change","z":"b19655d8.c31cc","name":"","rules":[{"t":"move","p":"BNI00E0_temperature_min_lifetime","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":1340,"wires":[["3e1b2ab2.159616"]]},{"id":"cce05676.9c3eb8","type":"comment","z":"b19655d8.c31cc","name":"BNI00E0","info":"","x":360,"y":1060,"wires":[]},{"id":"f405afb.896e0d","type":"change","z":"b19655d8.c31cc","name":"","rules":[{"t":"move","p":"BOD0026_distance","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":3260,"wires":[["996437ec.4cd19"]]},{"id":"9f2a8f9e.fd9938","type":"change","z":"b19655d8.c31cc","name":"","rules":[{"t":"move","p":"BOD0020_distance","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":1460,"wires":[["c701b7c8.838ab"]]},{"id":"2bc41ed3.169732","type":"change","z":"b19655d8.c31cc","name":"","rules":[{"t":"move","p":"BOD0023_distance","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":3180,"wires":[["73743338.1fc814"]]},{"id":"e231f33a.efb96","type":"change","z":"b19655d8.c31cc","name":"","rules":[{"t":"move","p":"DS235_distance","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":3340,"wires":[["1aa52a43.c6384e"]]},{"id":"dc0e6f5b.bf6e8","type":"change","z":"b19655d8.c31cc","name":"","rules":[{"t":"move","p":"BCS012N_distance","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":3100,"wires":[["3abc9cd1.855214"]]},{"id":"b241e6ec.cc07e8","type":"change","z":"b19655d8.c31cc","name":"","rules":[{"t":"move","p":"BES04FK_detection","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":1920,"wires":[["8d3732e0.e8e908"]]},{"id":"450e2025.76907","type":"change","z":"b19655d8.c31cc","name":"","rules":[{"t":"move","p":"BES04FK_gain","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":1960,"wires":[["b8ac3244.b6953"]]},{"id":"91eede8d.e5e93","type":"comment","z":"b19655d8.c31cc","name":"BOD0020","info":"","x":360,"y":1420,"wires":[]},{"id":"b1bbbef0.9c9b98","type":"comment","z":"b19655d8.c31cc","name":"BOD0023","info":"","x":360,"y":3140,"wires":[]},{"id":"9858a954.05b83","type":"comment","z":"b19655d8.c31cc","name":"BOD0026","info":"","x":360,"y":3220,"wires":[]},{"id":"6cde18e5.929048","type":"comment","z":"b19655d8.c31cc","name":"DS235","info":"","x":350,"y":3300,"wires":[]},{"id":"a28e1b0c.bdbe9","type":"comment","z":"b19655d8.c31cc","name":"BCS012N","info":"","x":360,"y":3060,"wires":[]},{"id":"657a695d.6838c8","type":"comment","z":"b19655d8.c31cc","name":"BES04FK","info":"","x":360,"y":1880,"wires":[]},{"id":"5e174e3a.a2e96","type":"function","z":"b19655d8.c31cc","name":"distance","func":"msg.measurement = \"BAW004M\";\nmsg.payload = [\n    {\n        distance: msg.payload,\n    }\n];\n\nreturn msg;","outputs":1,"noerr":0,"x":980,"y":780,"wires":[[]]},{"id":"ab24b27b.81f0f8","type":"function","z":"b19655d8.c31cc","name":"temperature_actual","func":"msg.measurement = \"BAW004M\";\nmsg.payload = [\n    {\n        temperature_actual: msg.payload,\n    }\n];\n\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":820,"wires":[[]]},{"id":"285fc7a2.734c4","type":"function","z":"b19655d8.c31cc","name":"temperature_max_startup","func":"msg.measurement = \"BAW004M\";\nmsg.payload = [\n    {\n        temperature_max_startup: msg.payload,\n    }\n];\n\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":860,"wires":[[]]},{"id":"56cc965f.2a0f8","type":"function","z":"b19655d8.c31cc","name":"temperature_min_startup","func":"msg.measurement = \"BAW004M\";\nmsg.payload = [\n    {\n        temperature_min_startup: msg.payload,\n    }\n];\n\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":900,"wires":[[]]},{"id":"bec67dd9.e871f","type":"function","z":"b19655d8.c31cc","name":"temperature_max_lifetime","func":"msg.measurement = \"BAW004M\";\nmsg.payload = [\n    {\n        temperature_max_lifetime: msg.payload,\n    }\n];\n\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":940,"wires":[[]]},{"id":"a90c76de.4db898","type":"function","z":"b19655d8.c31cc","name":"temperature_min_lifetime","func":"msg.measurement = \"BAW004M\";\nmsg.payload = [\n    {\n        temperature_min_lifetime: msg.payload,\n    }\n];\n\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":980,"wires":[[]]},{"id":"7ae82f59.1b9a3","type":"function","z":"b19655d8.c31cc","name":"access_gain","func":"msg.measurement = \"BNI00E0\";\nmsg.payload = [\n    {\n        access_gain: msg.payload,\n    }\n];\n\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":1140,"wires":[[]]},{"id":"43e48f1c.171b18","type":"function","z":"b19655d8.c31cc","name":"temperature_actual","func":"msg.measurement = \"BNI00E0\";\nmsg.payload = [\n    {\n        temperature_actual: msg.payload,\n    }\n];\n\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":1180,"wires":[[]]},{"id":"74e839da.8f6da8","type":"function","z":"b19655d8.c31cc","name":"temperature_max_startup","func":"msg.measurement = \"BNI00E0\";\nmsg.payload = [\n    {\n        temperature_max_startup: msg.payload,\n    }\n];\n\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":1220,"wires":[[]]},{"id":"4a7e91e6.cc661","type":"function","z":"b19655d8.c31cc","name":"temperature_min_startup","func":"msg.measurement = \"BNI00E0\";\nmsg.payload = [\n    {\n        temperature_min_startup: msg.payload,\n    }\n];\n\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":1260,"wires":[[]]},{"id":"a32b1267.c6504","type":"function","z":"b19655d8.c31cc","name":"temperature_max_lifetime","func":"msg.measurement = \"BNI00E0\";\nmsg.payload = [\n    {\n        temperature_max_lifetime: msg.payload,\n    }\n];\n\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":1300,"wires":[[]]},{"id":"48e6fdcf.5418fc","type":"function","z":"b19655d8.c31cc","name":"temperature_min_lifetime","func":"msg.measurement = \"BNI00E0\";\nmsg.payload = [\n    {\n        temperature_min_lifetime: msg.payload,\n    }\n];\n\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":1340,"wires":[[]]},{"id":"e3df7088.3f84a8","type":"function","z":"b19655d8.c31cc","name":"detection","func":"msg.measurement = \"BNI00E0\";\nmsg.payload = [\n    {\n        detection: msg.payload,\n    }\n];\n\nreturn msg;","outputs":1,"noerr":0,"x":980,"y":1100,"wires":[[]]},{"id":"75485bda.d85284","type":"function","z":"b19655d8.c31cc","name":"access_gain","func":"msg.measurement = \"BES00FK\";\nmsg.payload = [\n    {\n        access_gain: msg.payload,\n    }\n];\n\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":1960,"wires":[[]]},{"id":"c760f8a2.93289","type":"function","z":"b19655d8.c31cc","name":"detection","func":"msg.measurement = \"BES00FK\";\nmsg.payload = [\n    {\n        detection: msg.payload,\n    }\n];\n\nreturn msg;","outputs":1,"noerr":0,"x":980,"y":1920,"wires":[[]]},{"id":"b002d950.fd81a","type":"function","z":"b19655d8.c31cc","name":"distance","func":"msg.measurement = \"DS235\";\nmsg.payload = [\n    {\n        distance: msg.payload,\n    }\n];\n\nreturn msg;","outputs":1,"noerr":0,"x":980,"y":3340,"wires":[[]]},{"id":"d3c55a0c.654d2","type":"function","z":"b19655d8.c31cc","name":"distance","func":"msg.measurement = \"BCS012N\";\nmsg.payload = [\n    {\n        distance: msg.payload,\n    }\n];\n\nreturn msg;","outputs":1,"noerr":0,"x":980,"y":3100,"wires":[[]]},{"id":"9d8f3d48.8f6f4","type":"function","z":"b19655d8.c31cc","name":"distance","func":"msg.measurement = \"BOD0020\";\nmsg.payload = [\n    {\n        distance: msg.payload,\n    }\n];\n\nreturn msg;","outputs":1,"noerr":0,"x":980,"y":1460,"wires":[[]]},{"id":"d45f39c9.07075","type":"function","z":"b19655d8.c31cc","name":"distance","func":"msg.measurement = \"BOD0023\";\nmsg.payload = [\n    {\n        distance: msg.payload,\n    }\n];\n\nreturn msg;","outputs":1,"noerr":0,"x":980,"y":3180,"wires":[[]]},{"id":"74fc1c59.141914","type":"function","z":"b19655d8.c31cc","name":"distance","func":"msg.measurement = \"BOD0026\";\nmsg.payload = [\n    {\n        distance: msg.payload,\n    }\n];\n\nreturn msg;","outputs":1,"noerr":0,"x":980,"y":3260,"wires":[[]]},{"id":"1ddc6181.6f1836","type":"switch","z":"b19655d8.c31cc","name":"not null","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":800,"y":780,"wires":[["5e174e3a.a2e96"]]},{"id":"e354f77f.ed0dc","type":"switch","z":"b19655d8.c31cc","name":"not null","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":800,"y":820,"wires":[["ab24b27b.81f0f8"]]},{"id":"c83af209.cf7888","type":"switch","z":"b19655d8.c31cc","name":"not null","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":800,"y":860,"wires":[["285fc7a2.734c4"]]},{"id":"23f6567b.c4ef82","type":"switch","z":"b19655d8.c31cc","name":"not null","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":800,"y":900,"wires":[["56cc965f.2a0f8"]]},{"id":"ad2ba686.72409","type":"switch","z":"b19655d8.c31cc","name":"not null","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":800,"y":940,"wires":[["bec67dd9.e871f"]]},{"id":"c54f69f3.0468e","type":"switch","z":"b19655d8.c31cc","name":"not null","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":800,"y":980,"wires":[["a90c76de.4db898"]]},{"id":"59e50686.832f2","type":"switch","z":"b19655d8.c31cc","name":"not null","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":800,"y":1100,"wires":[["e3df7088.3f84a8"]]},{"id":"f0ebbdc9.baaba","type":"switch","z":"b19655d8.c31cc","name":"not null","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":800,"y":1140,"wires":[["7ae82f59.1b9a3"]]},{"id":"5be25c35.8fea2c","type":"switch","z":"b19655d8.c31cc","name":"not null","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":800,"y":1180,"wires":[["43e48f1c.171b18"]]},{"id":"beda33bd.dfbd38","type":"switch","z":"b19655d8.c31cc","name":"not null","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":800,"y":1220,"wires":[["74e839da.8f6da8"]]},{"id":"c6f86482.7dcd4","type":"switch","z":"b19655d8.c31cc","name":"not null","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":800,"y":1260,"wires":[["4a7e91e6.cc661"]]},{"id":"3b80eeae.20c46a","type":"switch","z":"b19655d8.c31cc","name":"not null","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":800,"y":1300,"wires":[["a32b1267.c6504"]]},{"id":"3e1b2ab2.159616","type":"switch","z":"b19655d8.c31cc","name":"not null","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":800,"y":1340,"wires":[["48e6fdcf.5418fc"]]},{"id":"8d3732e0.e8e908","type":"switch","z":"b19655d8.c31cc","name":"not null","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":800,"y":1920,"wires":[["c760f8a2.93289"]]},{"id":"b8ac3244.b6953","type":"switch","z":"b19655d8.c31cc","name":"not null","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":800,"y":1960,"wires":[["75485bda.d85284"]]},{"id":"1aa52a43.c6384e","type":"switch","z":"b19655d8.c31cc","name":"not null","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":800,"y":3340,"wires":[["b002d950.fd81a"]]},{"id":"3abc9cd1.855214","type":"switch","z":"b19655d8.c31cc","name":"not null","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":800,"y":3100,"wires":[["d3c55a0c.654d2"]]},{"id":"c701b7c8.838ab","type":"switch","z":"b19655d8.c31cc","name":"not null","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":800,"y":1460,"wires":[["9d8f3d48.8f6f4"]]},{"id":"73743338.1fc814","type":"switch","z":"b19655d8.c31cc","name":"not null","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":800,"y":3180,"wires":[["d45f39c9.07075"]]},{"id":"996437ec.4cd19","type":"switch","z":"b19655d8.c31cc","name":"not null","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":800,"y":3260,"wires":[["74fc1c59.141914"]]},{"id":"226e3d6e.3c9ed2","type":"influxdb out","z":"b19655d8.c31cc","influxdb":"8f5b8b51.d13c6","name":"","measurement":"","precision":"","retentionPolicy":"","x":1850,"y":1380,"wires":[]},{"id":"bed8a0a9.2c26d","type":"comment","z":"b19655d8.c31cc","name":"BML06HE","info":"","x":360,"y":2200,"wires":[]},{"id":"37c0ddfa.89170a","type":"comment","z":"b19655d8.c31cc","name":"BIP001M","info":"","x":360,"y":2040,"wires":[]},{"id":"a248bdfb.535198","type":"comment","z":"b19655d8.c31cc","name":"BTS0002","info":"","x":360,"y":2940,"wires":[]},{"id":"1ac7aedf.c6f951","type":"change","z":"b19655d8.c31cc","name":"","rules":[{"t":"move","p":"BTS_temperature","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":2980,"wires":[["83926875.65aa88"]]},{"id":"6de75a72.d1df04","type":"change","z":"b19655d8.c31cc","name":"","rules":[{"t":"move","p":"BTS_operating_hours","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":3020,"wires":[["673ba9b3.2c6a8"]]},{"id":"6359ce69.080338","type":"function","z":"b19655d8.c31cc","name":"temperature","func":"msg.measurement = \"BTS0002\";\nmsg.payload = [\n    {\n        temperature: msg.payload,\n    }\n];\n\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":2980,"wires":[[]]},{"id":"32d4c8f2.eb089","type":"function","z":"b19655d8.c31cc","name":"operating_hours","func":"msg.measurement = \"BTS0002\";\nmsg.payload = [\n    {\n        operating_hours: msg.payload,\n    }\n];\n\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":3020,"wires":[[]]},{"id":"83926875.65aa88","type":"switch","z":"b19655d8.c31cc","name":"not null","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":800,"y":2980,"wires":[["6359ce69.080338"]]},{"id":"673ba9b3.2c6a8","type":"switch","z":"b19655d8.c31cc","name":"not null","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":800,"y":3020,"wires":[["32d4c8f2.eb089"]]},{"id":"f28cf63f.f1e188","type":"change","z":"b19655d8.c31cc","name":"","rules":[{"t":"move","p":"BUS_distance","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":3440,"wires":[["a657ebb0.34071"]]},{"id":"5d208ee4.9fd8a","type":"comment","z":"b19655d8.c31cc","name":"BUS004P","info":"","x":360,"y":3400,"wires":[]},{"id":"4963eace.e00eec","type":"change","z":"b19655d8.c31cc","name":"","rules":[{"t":"move","p":"BTL_position","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":3560,"wires":[["96e67ad3.97f94"]]},{"id":"767588f9.c984d8","type":"comment","z":"b19655d8.c31cc","name":"BTLXXXX","info":"","x":360,"y":3520,"wires":[]},{"id":"142e39e9.cff346","type":"function","z":"b19655d8.c31cc","name":"distance","func":"msg.measurement = \"BUS004P\";\nmsg.payload = [\n    {\n        distance: msg.payload,\n    }\n];\n\nreturn msg;","outputs":1,"noerr":0,"x":980,"y":3440,"wires":[[]]},{"id":"196c6bb8.5c557c","type":"function","z":"b19655d8.c31cc","name":"position","func":"msg.measurement = \"BTLXXXX\";\nmsg.payload = [\n    {\n        position: msg.payload,\n    }\n];\n\nreturn msg;","outputs":1,"noerr":0,"x":980,"y":3560,"wires":[[]]},{"id":"a657ebb0.34071","type":"switch","z":"b19655d8.c31cc","name":"not null","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":800,"y":3440,"wires":[["142e39e9.cff346"]]},{"id":"96e67ad3.97f94","type":"switch","z":"b19655d8.c31cc","name":"not null","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":800,"y":3560,"wires":[["196c6bb8.5c557c"]]},{"id":"c8fdf627.f28808","type":"change","z":"b19655d8.c31cc","name":"","rules":[{"t":"move","p":"BOD0020_temperature_actual","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":1500,"wires":[["63ebdea.4f5762"]]},{"id":"97c4e71b.c1dab","type":"change","z":"b19655d8.c31cc","name":"","rules":[{"t":"move","p":"BOD0020_temperature_max_startup","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":1540,"wires":[["9e74620a.8f8668"]]},{"id":"c8e7f2da.7d17e8","type":"change","z":"b19655d8.c31cc","name":"","rules":[{"t":"move","p":"BOD0020_temperature_min_startup","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":1580,"wires":[["a34396e0.01b0b8"]]},{"id":"a17b0de9.484bd8","type":"change","z":"b19655d8.c31cc","name":"","rules":[{"t":"move","p":"BOD0020_temperature_max_lifetime","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":1620,"wires":[["9559335c.a27138"]]},{"id":"ae545277.ed93e8","type":"change","z":"b19655d8.c31cc","name":"","rules":[{"t":"move","p":"BOD0020_temperature_min_lifetime","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":1660,"wires":[["401b147e.5d2554"]]},{"id":"649bb593.02c714","type":"function","z":"b19655d8.c31cc","name":"temperature_actual","func":"msg.measurement = \"BAW004M\";\nmsg.payload = [\n    {\n        temperature_actual: msg.payload,\n    }\n];\n\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":1500,"wires":[[]]},{"id":"7a066cbe.ebe43c","type":"function","z":"b19655d8.c31cc","name":"temperature_max_startup","func":"msg.measurement = \"BAW004M\";\nmsg.payload = [\n    {\n        temperature_max_startup: msg.payload,\n    }\n];\n\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":1540,"wires":[[]]},{"id":"b3cc0501.647518","type":"function","z":"b19655d8.c31cc","name":"temperature_min_startup","func":"msg.measurement = \"BAW004M\";\nmsg.payload = [\n    {\n        temperature_min_startup: msg.payload,\n    }\n];\n\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":1580,"wires":[[]]},{"id":"d3c1db49.32e2","type":"function","z":"b19655d8.c31cc","name":"temperature_max_lifetime","func":"msg.measurement = \"BAW004M\";\nmsg.payload = [\n    {\n        temperature_max_lifetime: msg.payload,\n    }\n];\n\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":1620,"wires":[[]]},{"id":"9ec95073.50e188","type":"function","z":"b19655d8.c31cc","name":"temperature_min_lifetime","func":"msg.measurement = \"BAW004M\";\nmsg.payload = [\n    {\n        temperature_min_lifetime: msg.payload,\n    }\n];\n\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":1660,"wires":[[]]},{"id":"63ebdea.4f5762","type":"switch","z":"b19655d8.c31cc","name":"not null","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":800,"y":1500,"wires":[["649bb593.02c714"]]},{"id":"9e74620a.8f8668","type":"switch","z":"b19655d8.c31cc","name":"not null","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":800,"y":1540,"wires":[["7a066cbe.ebe43c"]]},{"id":"a34396e0.01b0b8","type":"switch","z":"b19655d8.c31cc","name":"not null","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":800,"y":1580,"wires":[["b3cc0501.647518"]]},{"id":"9559335c.a27138","type":"switch","z":"b19655d8.c31cc","name":"not null","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":800,"y":1620,"wires":[["d3c1db49.32e2"]]},{"id":"401b147e.5d2554","type":"switch","z":"b19655d8.c31cc","name":"not null","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":800,"y":1660,"wires":[["9ec95073.50e188"]]},{"id":"d838772c.97e258","type":"change","z":"b19655d8.c31cc","name":"","rules":[{"t":"move","p":"BIP001M_temperature_actual","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":2120,"wires":[["38dff4d7.faa464"]]},{"id":"59edba15.0ca674","type":"change","z":"b19655d8.c31cc","name":"","rules":[{"t":"move","p":"BIP001M_distance","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":2080,"wires":[["e4c3f598.f60158"]]},{"id":"38dff4d7.faa464","type":"switch","z":"b19655d8.c31cc","name":"not null","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":800,"y":2120,"wires":[["d138379d.148d"]]},{"id":"e4c3f598.f60158","type":"switch","z":"b19655d8.c31cc","name":"not null","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":800,"y":2080,"wires":[["615388d2.d8af4"]]},{"id":"615388d2.d8af4","type":"function","z":"b19655d8.c31cc","name":"distance","func":"msg.measurement = \"BOD0020\";\nmsg.payload = [\n    {\n        distance: msg.payload,\n    }\n];\n\nreturn msg;","outputs":1,"noerr":0,"x":980,"y":2080,"wires":[[]]},{"id":"d138379d.148d","type":"function","z":"b19655d8.c31cc","name":"temperature_actual","func":"msg.measurement = \"BAW004M\";\nmsg.payload = [\n    {\n        temperature_actual: msg.payload,\n    }\n];\n\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":2120,"wires":[[]]},{"id":"587dd355.dc4234","type":"change","z":"b19655d8.c31cc","name":"","rules":[{"t":"move","p":"BML06HE_temperature_actual","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":2280,"wires":[["f0b3c10e.60af08"]]},{"id":"f51cbf38.e966","type":"change","z":"b19655d8.c31cc","name":"","rules":[{"t":"move","p":"BML06HE_distance","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":2240,"wires":[["5a059533.25b5ec"]]},{"id":"f0b3c10e.60af08","type":"switch","z":"b19655d8.c31cc","name":"not null","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":800,"y":2280,"wires":[["b90a36dd.cb032"]]},{"id":"5a059533.25b5ec","type":"switch","z":"b19655d8.c31cc","name":"not null","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":800,"y":2240,"wires":[["43e5be9c.e2e22"]]},{"id":"43e5be9c.e2e22","type":"function","z":"b19655d8.c31cc","name":"distance","func":"msg.measurement = \"BOD0020\";\nmsg.payload = [\n    {\n        distance: msg.payload,\n    }\n];\n\nreturn msg;","outputs":1,"noerr":0,"x":980,"y":2240,"wires":[[]]},{"id":"b90a36dd.cb032","type":"function","z":"b19655d8.c31cc","name":"temperature_actual","func":"msg.measurement = \"BAW004M\";\nmsg.payload = [\n    {\n        temperature_actual: msg.payload,\n    }\n];\n\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":2280,"wires":[[]]},{"id":"1d927ca8.dc220b","type":"change","z":"b19655d8.c31cc","name":"","rules":[{"t":"move","p":"BOD0020_quality","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":1700,"wires":[["983bae5.45da9d"]]},{"id":"983bae5.45da9d","type":"switch","z":"b19655d8.c31cc","name":"not null","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":800,"y":1700,"wires":[["88987698.1ad1e8"]]},{"id":"88987698.1ad1e8","type":"function","z":"b19655d8.c31cc","name":"temperature_min_lifetime","func":"msg.measurement = \"BAW004M\";\nmsg.payload = [\n    {\n        temperature_min_lifetime: msg.payload,\n    }\n];\n\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":1700,"wires":[[]]},{"id":"bac01cee.1923a8","type":"change","z":"b19655d8.c31cc","name":"","rules":[{"t":"move","p":"BOD0020_operating_hours","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":1740,"wires":[["5da6b346.29e9bc"]]},{"id":"5da6b346.29e9bc","type":"switch","z":"b19655d8.c31cc","name":"not null","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":800,"y":1740,"wires":[["f3e08753.7b89b8"]]},{"id":"f3e08753.7b89b8","type":"function","z":"b19655d8.c31cc","name":"temperature_min_lifetime","func":"msg.measurement = \"BAW004M\";\nmsg.payload = [\n    {\n        temperature_min_lifetime: msg.payload,\n    }\n];\n\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":1740,"wires":[[]]},{"id":"610fe97f.e55938","type":"function","z":"b19655d8.c31cc","name":"Create Database Object","func":"msg.measurement = \"BOS026R\";\nmsg.payload = [{\n    counter:                            global.get('BOS026R_counter'),\n    Gain:                               global.get('BOS026R_gain'),\n    operatingHours:                     global.get('BOS026R_operating_hours'),\n    operatingHoursSinceMaintenance:     global.get('BOS026R_last_maintenance'),\n    ledLifeime:                         global.get('BOS026R_LED_life_time'),\n    stressLevel:                        global.get('BOS026R_stress_level')\n},\n{\n    tag1:\"port02\",\n    tag2:\"quality Monitoring\"\n}];\nreturn msg;\n","outputs":1,"noerr":0,"x":1310,"y":360,"wires":[["fe71bfdc.66dc","226e3d6e.3c9ed2","b8ec6d18.74f9c"]]},{"id":"467f1f91.3179f8","type":"inject","z":"b19655d8.c31cc","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":1030,"y":360,"wires":[["610fe97f.e55938"]]},{"id":"fe71bfdc.66dc","type":"debug","z":"b19655d8.c31cc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1550,"y":360,"wires":[]},{"id":"d8d3b912.24001","type":"function","z":"b19655d8.c31cc","name":"Create Database Object","func":"msg.measurement = \"BAE00TP\";\nmsg.payload = [{\n    voltage:                global.get('BAE00TP_voltage'),\n    current:                global.get('BAE00TP_current'),\n    stressLevel:            global.get('BAE00TP_stress_level'),\n    lifetime:               global.get('BAE00TP_lifetime'),\n    operatingHours:         global.get('BAE00TP_operating_hours'),\n    primaryCapacitorTemp:   global.get('BAE00TP_primary_temp'),\n    secondaryCapacitorTemp: global.get('BAE00TP_secondary_temp')\n},\n{\n    tag1:\"port10\",\n    tag2:\"condition Monitoring\"\n}];\nreturn msg;\n","outputs":1,"noerr":0,"x":1290,"y":720,"wires":[["8f55e08b.487d78","226e3d6e.3c9ed2","5892f468.8fc00c"]]},{"id":"8f55e08b.487d78","type":"debug","z":"b19655d8.c31cc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1510,"y":720,"wires":[]},{"id":"3f750ef4.6c7122","type":"function","z":"b19655d8.c31cc","name":"Create Database Object","func":"msg.measurement = \"BAW004M\";\nmsg.payload = [{\n    distance:               global.get('BAW004M_distance'),\n    temperatureActual:      global.get('BAW004M_temperature_actual'),\n    temperatureMaxStartup:  global.get('BAW004M_temperature_max_startup'),\n    temperatureMinStartup:  global.get('BAW004M_temperature_min_startup'),\n    temperatureMaxLifetime: global.get('BAW004M_temperature_max_lifetime'),\n    temperatureMinLifetime: global.get('BAW004M_temperature_min_lifetime')\n},\n{\n    tag1:\"port12\",\n    tag2:\"condition Monitoring\"\n}];\nreturn msg;\n","outputs":1,"noerr":0,"x":1290,"y":1040,"wires":[["75601c2e.78697c","226e3d6e.3c9ed2","d84777b7.e9efd"]]},{"id":"75601c2e.78697c","type":"debug","z":"b19655d8.c31cc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1510,"y":1040,"wires":[]},{"id":"ec063640.f23cc","type":"function","z":"b19655d8.c31cc","name":"Create Database Object","func":"msg.measurement = \"BNI00E0\";\nmsg.payload = [{\n    detection:              global.get('BNI00E0_detection'),\n    gain:                   global.get('BNI00E0_gain'),\n    temperatureActual:      global.get('BNI00E0_temperature_actual'),\n    temperatureMaxStartup:  global.get('BNI00E0_temperature_max_startup'),\n    temperatureMinStartup:  global.get('BNI00E0_temperature_min_startup'),\n    temperatureMaxLifetime: global.get('BNI00E0_temperature_max_lifetime'),\n    temperatureMinLifetime: global.get('BNI00E0_temperature_min_lifetime')\n},\n{\n    tag1:\"port08\",\n    tag2:\"condition Monitoring\"\n}];\nreturn msg;\n","outputs":1,"noerr":0,"x":1290,"y":1400,"wires":[["55a8c43.3a62d3c","226e3d6e.3c9ed2","cb36d047.1e79a8"]]},{"id":"55a8c43.3a62d3c","type":"debug","z":"b19655d8.c31cc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1510,"y":1400,"wires":[]},{"id":"f8da37b8.0bdb2","type":"function","z":"b19655d8.c31cc","name":"Create Database Object","func":"msg.measurement = \"BOD0020\";\nmsg.payload = [{\n    distance:               global.get('BOD0020_distance'),\n    quality:                global.get('BOD0020_quality'),\n    temperatureActual:      global.get('BOD0020_temperature_actual'),\n    temperatureMaxStartup:  global.get('BOD0020_temperature_max_startup'),\n    temperatureMinStartup:  global.get('BOD0020_temperature_min_startup'),\n    temperatureMaxLifetime: global.get('BOD0020_temperature_max_lifetime'),\n    temperatureMinLifetime: global.get('BOD0020_temperature_min_lifetime'),\n    operatingHours:         global.get('BOD0020_operating_hours')\n},\n{\n    tag1:\"port04\",\n    tag2:\"condition Monitoring\"\n}];\nreturn msg;\n","outputs":1,"noerr":0,"x":1290,"y":1800,"wires":[["d3c8c9f5.805e68","226e3d6e.3c9ed2","9129f3ed.8a0ab8"]]},{"id":"d3c8c9f5.805e68","type":"debug","z":"b19655d8.c31cc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1510,"y":1800,"wires":[]},{"id":"b6d8ce22.9c67f","type":"function","z":"b19655d8.c31cc","name":"Create Database Object","func":"msg.measurement = \"BES04FK\";\nmsg.payload = [{\n    detection:              global.get('BES04FK_detection'),\n    gain:                   global.get('BES04FK_gain')\n    \n},\n{\n    tag1:\"port14\",\n    tag2:\"condition Monitoring\"\n}];\nreturn msg;\n","outputs":1,"noerr":0,"x":1290,"y":2000,"wires":[["d6e3e4e1.7d1228","226e3d6e.3c9ed2","2dfdee15.d19192"]]},{"id":"d6e3e4e1.7d1228","type":"debug","z":"b19655d8.c31cc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1510,"y":2000,"wires":[]},{"id":"2e5c1bd4.203be4","type":"function","z":"b19655d8.c31cc","name":"Create Database Object","func":"msg.measurement = \"BIP001M\";\nmsg.payload = [{\n    distance:               global.get('BIP001M_distance'),\n    temperatureActual:      global.get('BIP001M_temperature_actual')\n},\n{\n    tag1:\"port06\",\n    tag2:\"condition Monitoring\"\n}];\nreturn msg;\n","outputs":1,"noerr":0,"x":1290,"y":2160,"wires":[["859562b2.001288","226e3d6e.3c9ed2","ae06059a.f03ee"]]},{"id":"859562b2.001288","type":"debug","z":"b19655d8.c31cc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1510,"y":2160,"wires":[]},{"id":"3f4c5262.529206","type":"function","z":"b19655d8.c31cc","name":"Create Database Object","func":"msg.measurement = \"BML06HE\";\nmsg.payload = [{\n    distance:               global.get('BML06HE_distance'),\n    temperatureActual:      global.get('BML06HE_temperature_actual')\n},\n{\n    tag1:\"port00\",\n    tag2:\"condition Monitoring\"\n}];\nreturn msg;\n","outputs":1,"noerr":0,"x":1290,"y":2320,"wires":[["6387bdf1.7c6d54","226e3d6e.3c9ed2"]]},{"id":"6387bdf1.7c6d54","type":"debug","z":"b19655d8.c31cc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1510,"y":2320,"wires":[]},{"id":"7a426f49.f228e8","type":"delay","z":"b19655d8.c31cc","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1290,"y":680,"wires":[["d8d3b912.24001"]]},{"id":"c2e078f3.1c3a3","type":"delay","z":"b19655d8.c31cc","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1290,"y":1000,"wires":[["3f750ef4.6c7122"]]},{"id":"5892f468.8fc00c","type":"change","z":"b19655d8.c31cc","name":"","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"delete","p":"measurement","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1280,"y":960,"wires":[["c2e078f3.1c3a3"]]},{"id":"b8ec6d18.74f9c","type":"change","z":"b19655d8.c31cc","name":"","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"delete","p":"measurement","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1280,"y":640,"wires":[["7a426f49.f228e8"]]},{"id":"1327c24a.746e1e","type":"delay","z":"b19655d8.c31cc","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1290,"y":1360,"wires":[["ec063640.f23cc"]]},{"id":"d84777b7.e9efd","type":"change","z":"b19655d8.c31cc","name":"","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"delete","p":"measurement","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1280,"y":1320,"wires":[["1327c24a.746e1e"]]},{"id":"6953d8be.1f4598","type":"delay","z":"b19655d8.c31cc","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1290,"y":1760,"wires":[["f8da37b8.0bdb2"]]},{"id":"cb36d047.1e79a8","type":"change","z":"b19655d8.c31cc","name":"","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"delete","p":"measurement","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1280,"y":1720,"wires":[["6953d8be.1f4598"]]},{"id":"8053dfb0.ac3c68","type":"delay","z":"b19655d8.c31cc","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1290,"y":1960,"wires":[["b6d8ce22.9c67f"]]},{"id":"9129f3ed.8a0ab8","type":"change","z":"b19655d8.c31cc","name":"","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"delete","p":"measurement","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1280,"y":1920,"wires":[["8053dfb0.ac3c68"]]},{"id":"c53a5eea.f32368","type":"delay","z":"b19655d8.c31cc","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1290,"y":2120,"wires":[["2e5c1bd4.203be4"]]},{"id":"2dfdee15.d19192","type":"change","z":"b19655d8.c31cc","name":"","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"delete","p":"measurement","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1280,"y":2080,"wires":[["c53a5eea.f32368"]]},{"id":"f3b0de1d.e0f54","type":"delay","z":"b19655d8.c31cc","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1290,"y":2280,"wires":[["3f4c5262.529206"]]},{"id":"ae06059a.f03ee","type":"change","z":"b19655d8.c31cc","name":"","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"delete","p":"measurement","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1280,"y":2240,"wires":[["f3b0de1d.e0f54"]]},{"id":"2e472a80.880e7e","type":"change","z":"b19655d8.c31cc","name":"","rules":[{"t":"move","p":"BAE00TP_current","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":460,"wires":[["b015cbdd.7e3a1"]]},{"id":"4fe49316.f66a6c","type":"change","z":"b19655d8.c31cc","name":"","rules":[{"t":"move","p":"BAE00TP_voltage","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":420,"wires":[["52324046.b5594"]]},{"id":"5c6d2493.85a2ec","type":"change","z":"b19655d8.c31cc","name":"","rules":[{"t":"move","p":"BAE00TP_stress_level","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":500,"wires":[["a533871e.58ff98"]]},{"id":"7d14527b.58ad5c","type":"change","z":"b19655d8.c31cc","name":"","rules":[{"t":"move","p":"BAE00TP_lifetime","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":540,"wires":[["86ed780.caa0408"]]},{"id":"68dedce9.f41e54","type":"change","z":"b19655d8.c31cc","name":"","rules":[{"t":"move","p":"BAE00TP_operating_hours","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":580,"wires":[["118bda0b.3682be"]]},{"id":"a17cc6ab.c845e","type":"change","z":"b19655d8.c31cc","name":"BAE_primary_temp","rules":[{"t":"set","p":"topic","pt":"msg","to":"Power supply primary temperature [°C]","tot":"str"},{"t":"move","p":"BAE00TP_primary_temp","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":620,"wires":[["72f4c730.829a1"]]},{"id":"abe90bcd.fcf9c8","type":"change","z":"b19655d8.c31cc","name":"BAE_secondary_temp","rules":[{"t":"set","p":"topic","pt":"msg","to":"Power supply secondary temperature [°C]","tot":"str"},{"t":"move","p":"BAE00TP_secondary_temp","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":660,"wires":[["58797f21.60f798"]]},{"id":"fb710402.8b3c68","type":"function","z":"b19655d8.c31cc","name":"primaryCapTemp","func":"msg.measurement = \"BAE00TP\";\nmsg.payload = [\n    {\n        primaryCapTemp: msg.payload,\n        }\n    ];\n\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":620,"wires":[[]]},{"id":"4732da82.a16924","type":"function","z":"b19655d8.c31cc","name":"secondaryCapTemp","func":"msg.measurement = \"BAE00TP\";\nmsg.payload = [\n    {\n        secondaryCapTemp: msg.payload,\n        }\n    ];\n\nreturn msg;","outputs":1,"noerr":0,"x":1020,"y":660,"wires":[[]]},{"id":"34572f75.c773d","type":"function","z":"b19655d8.c31cc","name":"lifetime","func":"msg.measurement = \"BAE00TP\";\nmsg.payload = [\n    {\n        lifetime: msg.payload,\n        }\n    ];\n\nreturn msg;","outputs":1,"noerr":0,"x":980,"y":540,"wires":[[]]},{"id":"ae5be9ca.190898","type":"function","z":"b19655d8.c31cc","name":"operating_hours","func":"msg.measurement = \"BAE00TP\";\nmsg.payload = [\n    {\n        operating_hours: msg.payload,\n        }\n    ];\n\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":580,"wires":[[]]},{"id":"c42fc013.c2e3e8","type":"function","z":"b19655d8.c31cc","name":"current","func":"msg.measurement = \"BAE00TP\";\nmsg.payload = [\n    {\n        current: msg.payload,\n        }\n    ];\n\nreturn msg;","outputs":1,"noerr":0,"x":980,"y":460,"wires":[[]]},{"id":"385404d5.a52e94","type":"function","z":"b19655d8.c31cc","name":"stress_level","func":"msg.measurement = \"BAE00TP\";\nmsg.payload = [\n    {\n        stressLevel: msg.payload,\n        }\n    ];\n\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":500,"wires":[[]]},{"id":"e0505479.703218","type":"function","z":"b19655d8.c31cc","name":"voltage","func":"msg.measurement = \"BAE00TP\";\nmsg.payload = [\n    {\n        voltage: msg.payload,\n        }\n    ];\n\nreturn msg;","outputs":1,"noerr":0,"x":980,"y":420,"wires":[[]]},{"id":"52324046.b5594","type":"switch","z":"b19655d8.c31cc","name":"not null","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":800,"y":420,"wires":[["e0505479.703218"]]},{"id":"b015cbdd.7e3a1","type":"switch","z":"b19655d8.c31cc","name":"not null","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":800,"y":460,"wires":[["c42fc013.c2e3e8"]]},{"id":"a533871e.58ff98","type":"switch","z":"b19655d8.c31cc","name":"not null","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":800,"y":500,"wires":[["385404d5.a52e94"]]},{"id":"86ed780.caa0408","type":"switch","z":"b19655d8.c31cc","name":"not null","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":800,"y":540,"wires":[["34572f75.c773d"]]},{"id":"118bda0b.3682be","type":"switch","z":"b19655d8.c31cc","name":"not null","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":800,"y":580,"wires":[["ae5be9ca.190898"]]},{"id":"72f4c730.829a1","type":"switch","z":"b19655d8.c31cc","name":"not null","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":800,"y":620,"wires":[["fb710402.8b3c68"]]},{"id":"58797f21.60f798","type":"switch","z":"b19655d8.c31cc","name":"not null","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":800,"y":660,"wires":[["4732da82.a16924"]]},{"id":"4054f5ad.b2e28c","type":"change","z":"b19655d8.c31cc","name":"","rules":[{"t":"move","p":"BOS026R_gain","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":140,"wires":[["f57647f6.5038d"]]},{"id":"cdf3ea99.d6c208","type":"change","z":"b19655d8.c31cc","name":"","rules":[{"t":"move","p":"BOS026R_operating_hours","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":180,"wires":[["7645ac39.81bf6c"]]},{"id":"93843c2a.49e1c","type":"change","z":"b19655d8.c31cc","name":"","rules":[{"t":"move","p":"BOS026R_last_maintenance","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":220,"wires":[["7c098041.91168"]]},{"id":"31721574.68f812","type":"change","z":"b19655d8.c31cc","name":"","rules":[{"t":"move","p":"BOS026R_LED_life_time","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":260,"wires":[["2a5eaff6.bcc"]]},{"id":"f2a45d6f.a303d8","type":"change","z":"b19655d8.c31cc","name":"","rules":[{"t":"move","p":"BOS026R_stress_level","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":300,"wires":[["8e82e76b.dafd58"]]},{"id":"f856a5bb.060a28","type":"comment","z":"b19655d8.c31cc","name":"BOS21","info":"","x":350,"y":60,"wires":[]},{"id":"4edc1e12.97e618","type":"function","z":"b19655d8.c31cc","name":"counter","func":"msg.measurement = \"BOS026R\";\nmsg.payload = [\n    {\n        counter: msg.payload,\n        }\n    ];\n\nreturn msg;","outputs":1,"noerr":0,"x":980,"y":100,"wires":[[]]},{"id":"5c4b2723.7d534","type":"function","z":"b19655d8.c31cc","name":"access_gain","func":"msg.measurement = \"BOS026R\";\nmsg.payload = [\n    {\n        access_gain: msg.payload,\n        }\n    ];\n\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":140,"wires":[[]]},{"id":"4264d0c2.4628c","type":"function","z":"b19655d8.c31cc","name":"operating_hours","func":"msg.measurement = \"BOS026R\";\nmsg.payload = [\n    {\n        operating_hours: msg.payload,\n        }\n    ];\n\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":180,"wires":[[]]},{"id":"c73e5fb4.7b91f8","type":"function","z":"b19655d8.c31cc","name":"last_maintenance","func":"msg.measurement = \"BOS026R\";\nmsg.payload = [\n    {\n        last_maintenance: msg.payload,\n        }\n    ];\n\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":220,"wires":[[]]},{"id":"2680b933.2c52e6","type":"function","z":"b19655d8.c31cc","name":"LED_life_time","func":"msg.measurement = \"BOS026R\";\nmsg.payload = [\n    {\n        LED_life_time: msg.payload,\n        }\n    ];\n\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":260,"wires":[[]]},{"id":"a2c1bd73.79a66","type":"function","z":"b19655d8.c31cc","name":"stress_level","func":"msg.measurement = \"BOS026R\";\nmsg.payload = [\n    {\n        stress_level: msg.payload,\n    }\n];\n\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":300,"wires":[[]]},{"id":"f56ad113.92b68","type":"switch","z":"b19655d8.c31cc","name":"not null","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":800,"y":100,"wires":[["4edc1e12.97e618"]]},{"id":"f57647f6.5038d","type":"switch","z":"b19655d8.c31cc","name":"not null","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":800,"y":140,"wires":[["5c4b2723.7d534"]]},{"id":"7645ac39.81bf6c","type":"switch","z":"b19655d8.c31cc","name":"not null","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":800,"y":180,"wires":[["4264d0c2.4628c"]]},{"id":"7c098041.91168","type":"switch","z":"b19655d8.c31cc","name":"not null","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":800,"y":220,"wires":[["c73e5fb4.7b91f8"]]},{"id":"2a5eaff6.bcc","type":"switch","z":"b19655d8.c31cc","name":"not null","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":800,"y":260,"wires":[["2680b933.2c52e6"]]},{"id":"8e82e76b.dafd58","type":"switch","z":"b19655d8.c31cc","name":"not null","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":800,"y":300,"wires":[["a2c1bd73.79a66"]]},{"id":"8f5b8b51.d13c6","type":"influxdb","z":"","hostname":"localhost","port":"8086","protocol":"http","database":"fair","name":"","usetls":false,"tls":""}]