docker/balluff_NodeRed_arm_dev/lib/flows/RasperryPi/Balluff/BAW004M.json
[{"id":"4ff7b028.9f5648","type":"function","z":"269995cd.407e12","name":"BAW Convert to decimal","func":"msg.raw = msg.payload;\n\nif(msg.raw === \"fa 08\"){\n    msg.payload = 4;\n}else{\n    msg.payload = parseInt((parseInt(msg.raw.split(' ').join(''),16).toString(2)).slice(0,-4),2)/1000;\n}\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":320,"wires":[["e098fa9f.6c8068","2e8590c.9cb707","e1f3ce69.674998"]]},{"id":"895f93e3.d2ac48","type":"link in","z":"269995cd.407e12","name":"Process Data Handler","links":["99900e35.ab1578"],"x":275,"y":320,"wires":[["77197611.266c98"]]},{"id":"e0d57e6d.336cb","type":"comment","z":"269995cd.407e12","name":"Process Data","info":"","x":330,"y":260,"wires":[]},{"id":"e4f6a376.9cd94","type":"comment","z":"269995cd.407e12","name":"Service Data 10s Cycle","info":"","x":340,"y":480,"wires":[]},{"id":"fc800430.874b3","type":"comment","z":"269995cd.407e12","name":"Write Service data","info":"","x":350,"y":940,"wires":[]},{"id":"dc524007.276708","type":"comment","z":"269995cd.407e12","name":"Write Process Data ","info":"","x":350,"y":1000,"wires":[]},{"id":"77197611.266c98","type":"function","z":"269995cd.407e12","name":"ProcessInputs: BAW","func":"if (msg.BNIPort === (parseInt(global.get('BAW004M'),16)) && msg.command === 10) {\n    msg.payload = msg.response.substr(15,5);\n} else {\n    return;\n    \n}\nreturn msg;\n","outputs":1,"noerr":0,"x":500,"y":320,"wires":[["4ff7b028.9f5648","7b037a95.67888c"]]},{"id":"e098fa9f.6c8068","type":"ui_chart","z":"269995cd.407e12","name":"BAW Abstand","group":"3bfcbc86.4fae1c","order":1,"width":"0","height":"0","label":"BAW004M","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"No Data Yet :-)","dot":false,"ymin":"0","ymax":"4","removeOlder":"30","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#000000","#aec7e8","#ff7f0e","#12ba3d","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"outputs":2,"x":980,"y":320,"wires":[[],[]]},{"id":"9c670175.ff8f58","type":"inject","z":"269995cd.407e12","name":"TS-2s","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":false,"onceDelay":"","x":340,"y":520,"wires":[["8be8268b.2849b8"]]},{"id":"8be8268b.2849b8","type":"switch","z":"269995cd.407e12","name":"","property":"SensorsAreSet","propertyType":"global","rules":[{"t":"eq","v":"OK","vt":"str"},{"t":"neq","v":"OK","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":510,"y":520,"wires":[["4a581a7c.dce83c"],["b130cbe3.dddf68"]]},{"id":"b130cbe3.dddf68","type":"change","z":"269995cd.407e12","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Sensors Not Set","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":560,"wires":[["893d386f.0ee7c8"]]},{"id":"4a581a7c.dce83c","type":"function","z":"269995cd.407e12","name":"AL_ReadReq BAW temp Array","func":"msg.Start = '08 00'; //Startbyte\nmsg.Revision = '02'; //Protokoll Revision 02\nmsg.Command = '02'; // Kommando\nmsg.IOLPort = global.get('BAW004M'); //Port Nummer\nmsg.LowIndex = '52'; //IO-Link Index \nmsg.HighIndex = '00'; //IO-Link Index (meißtens 00)\nmsg.SubIndex = '00'; //IO-Link SubIndex \n\nmsg.PL = msg.payload; //Payload of inject\n\nmsg.hex = msg.Start +\" \"+ msg.Revision +\" \"+ msg.Command +\" \"+ msg.IOLPort +\" \"+ msg.LowIndex +\" \"+ msg.HighIndex +\" \"+ msg.SubIndex;\n\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":500,"wires":[["fd672b4d.076b4"]]},{"id":"893d386f.0ee7c8","type":"debug","z":"269995cd.407e12","name":"Sensors not set","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":920,"y":560,"wires":[]},{"id":"fd672b4d.076b4","type":"function","z":"269995cd.407e12","name":"Set Payload to Buffer","func":"if (msg.hex.includes(undefined) === false){\n    var string = msg.hex.replace(/\\s/g,'');\n    msg.ip = global.get('host');\n    msg.port = '1999';\n    msg.payload = Buffer.from(string,\"hex\");\n} else {\n    msg.payload = \"not Present\"\n}\n\nreturn msg;\n\n//msg.payload = Buffer.from(msg.payload, \"hex\");\n","outputs":1,"noerr":0,"x":1200,"y":500,"wires":[["ce04d30e.aaf7e8"]]},{"id":"ce04d30e.aaf7e8","type":"switch","z":"269995cd.407e12","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"not Present","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1390,"y":500,"wires":[["b0f03e77.8c0458"],["73896de4.7ed114"]]},{"id":"b0f03e77.8c0458","type":"link out","z":"269995cd.407e12","name":"10s Service Data send","links":["2514d289.79f41e"],"x":1535,"y":480,"wires":[]},{"id":"73896de4.7ed114","type":"debug","z":"269995cd.407e12","name":"BAW004M not Present","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1620,"y":520,"wires":[]},{"id":"98859c6c.dfef58","type":"function","z":"269995cd.407e12","name":"BAW Temp array","func":"if (msg.BNIPort === parseInt(global.get('BAW004M'),16) && msg.command === 9 && msg.LowIndex === '52' && msg.SubIndex === \"00\") {\n    msg.payload = msg.response.substr(18,15);\n} else {return;\n    \n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":550,"y":620,"wires":[["f4d57fef.a71bb"]]},{"id":"f4d57fef.a71bb","type":"function","z":"269995cd.407e12","name":"Transform","func":"msg.internal_temp_actual = parseInt(msg.payload.substr(0,2),16);\nmsg.internal_temp_max_startup = parseInt(msg.payload.substr(3,2),16);\nmsg.internal_temp_min_startup = parseInt(msg.payload.substr(6,2),16);\nmsg.internal_temp_max_lifetime = parseInt(msg.payload.substr(9,2),16);\nmsg.internal_temp_min_lifetime = parseInt(msg.payload.substr(12,2),16)\n\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":620,"wires":[["1e2a4641.f091aa","c4899f62.6cd65","45901b7c.6a79d4","b0e8111b.490a5","6c92d860.847eb"]]},{"id":"25ff03ae.4f628c","type":"link in","z":"269995cd.407e12","name":"10s service data return","links":["99900e35.ab1578"],"x":335,"y":620,"wires":[["98859c6c.dfef58"]]},{"id":"83d06967.bec8e8","type":"ui_chart","z":"269995cd.407e12","name":"","group":"3bfcbc86.4fae1c","order":0,"width":0,"height":0,"label":"internal Temperatures","chartType":"line","legend":"false","xformat":"mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-25","ymax":"125","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":1260,"y":620,"wires":[[],[]]},{"id":"1e2a4641.f091aa","type":"function","z":"269995cd.407e12","name":"internal_temp_actual","func":"msg.payload = msg.internal_temp_actual;\nmsg.topic = \"internal_temp_actual\";\n//msg.label = \"internal_temp_actual\"\nreturn msg;","outputs":1,"noerr":0,"x":980,"y":620,"wires":[["83d06967.bec8e8","8585d1c7.a533a8"]]},{"id":"c4899f62.6cd65","type":"function","z":"269995cd.407e12","name":"internal_temp_max_startup","func":"msg.payload = msg.internal_temp_max_startup;\nmsg.topic = \"internal_temp_max_startup\";\n//msg.label = \"internal_temp_max_startup\"\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":660,"wires":[["83d06967.bec8e8","af15f4.0046ca1"]]},{"id":"45901b7c.6a79d4","type":"function","z":"269995cd.407e12","name":"internal_temp_min_startup","func":"msg.payload = msg.internal_temp_min_startup;\nmsg.topic = \"internal_temp_min_startup\";\n//msg.label = \"internal_temp_min_startup\"\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":700,"wires":[["83d06967.bec8e8","60464a6a.47c38c"]]},{"id":"b0e8111b.490a5","type":"function","z":"269995cd.407e12","name":"internal_temp_max_lifetime","func":"msg.payload = msg.internal_temp_max_lifetime;\nmsg.topic = \"internal_temp_max_lifetime\";\n//msg.label = \"internal_temp_max_lifetime\"\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":740,"wires":[["83d06967.bec8e8","48786100.298c"]]},{"id":"6c92d860.847eb","type":"function","z":"269995cd.407e12","name":"internal_temp_min_lifetime","func":"msg.payload = msg.internal_temp_min_lifetime;\nmsg.topic = \"internal_temp_min_lifetime\";\n//msg.label = \"internal_temp_min_lifetime\"\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":780,"wires":[["83d06967.bec8e8","215821bf.f2e87e"]]},{"id":"2e8590c.9cb707","type":"change","z":"269995cd.407e12","name":"","rules":[{"t":"set","p":"BAW004M_distance","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1030,"y":280,"wires":[[]]},{"id":"8585d1c7.a533a8","type":"change","z":"269995cd.407e12","name":"","rules":[{"t":"set","p":"BAW004M_temperature_actual","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1580,"y":600,"wires":[[]]},{"id":"af15f4.0046ca1","type":"change","z":"269995cd.407e12","name":"","rules":[{"t":"set","p":"BAW004M_temperature_max_startup","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1600,"y":640,"wires":[[]]},{"id":"60464a6a.47c38c","type":"change","z":"269995cd.407e12","name":"","rules":[{"t":"set","p":"BAW004M_temperature_min_startup","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1600,"y":680,"wires":[[]]},{"id":"48786100.298c","type":"change","z":"269995cd.407e12","name":"","rules":[{"t":"set","p":"BAW004M_temperature_max_lifetime","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1600,"y":720,"wires":[[]]},{"id":"215821bf.f2e87e","type":"change","z":"269995cd.407e12","name":"","rules":[{"t":"set","p":"BAW004M_temperature_min_lifetime","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1600,"y":760,"wires":[[]]},{"id":"e1f3ce69.674998","type":"debug","z":"269995cd.407e12","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":950,"y":240,"wires":[]},{"id":"7b037a95.67888c","type":"debug","z":"269995cd.407e12","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":690,"y":240,"wires":[]},{"id":"3bfcbc86.4fae1c","type":"ui_group","z":"","name":"Charts","tab":"fb722174.7e03","order":1,"disp":true,"width":"16","collapse":false},{"id":"fb722174.7e03","type":"ui_tab","z":"","name":"BAW004M","icon":"dashboard","order":3}]