docker/balluff_NodeRed_arm_dev/lib/flows/RasperryPi/Balluff/BCS012N.json
[{"id":"af7dabea.8c83b8","type":"function","z":"8086ddf7.15e35","name":"BCS Convert to Decimal","func":"msg.hexValue = msg.payload;\n\nmsg.payload = parseInt((parseInt(msg.hexValue.split(' ').join(''),16).toString(2)).slice(0,-4),2);\n\n\n/*\nif (msg.hexValue.substr(0,2) === \"ff\"){\n    //cut first two, binarize second pair, parse int\n    msg.payload = ((parseInt((parseInt(msg.hexValue.substr(3,2),16).toString(2)).slice(0,-2),2)/100)-0.63).toFixed(2);\n}else if (msg.hexValue === \"00 00\"){\n    msg.payload = 0;\n}else {\n    msg.payload = parseInt((parseInt(msg.hexValue.split(' ').join(''),16).toString(2)).slice(0,-2),2)/100;\n}*/\n\nreturn msg;\n","outputs":1,"noerr":0,"x":730,"y":260,"wires":[["6df3f21a.5d3714","e25587b1.2e3468","d123548.491f5a8"]]},{"id":"9d16cc6c.b8f3b","type":"function","z":"8086ddf7.15e35","name":"ProcessInputs:BCS012N","func":"if (msg.BNIPort === (parseInt(global.get('BCS012N'),16)) && msg.command === 10) {\n    msg.payload = msg.response.substr(15,5);\n} else {\n    return;\n    \n}\nreturn msg;\n","outputs":1,"noerr":0,"x":430,"y":260,"wires":[["af7dabea.8c83b8","cc49dbcb.6b734"]]},{"id":"3cdb92c8.e61a9e","type":"comment","z":"8086ddf7.15e35","name":"Process Data","info":"","x":310,"y":180,"wires":[]},{"id":"26fb1abb.a16f6e","type":"link in","z":"8086ddf7.15e35","name":"Process Data Handler","links":["99900e35.ab1578"],"x":255,"y":260,"wires":[["9d16cc6c.b8f3b"]]},{"id":"406cc007.2ef6b8","type":"comment","z":"8086ddf7.15e35","name":"Service Data 10s Cycle","info":"","x":320,"y":400,"wires":[]},{"id":"3df341ed.2ec73e","type":"comment","z":"8086ddf7.15e35","name":"Write Service data","info":"","x":310,"y":460,"wires":[]},{"id":"ffc1a78b.79c8b8","type":"comment","z":"8086ddf7.15e35","name":"Write Process Data ","info":"","x":310,"y":520,"wires":[]},{"id":"cc49dbcb.6b734","type":"debug","z":"8086ddf7.15e35","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":620,"y":320,"wires":[]},{"id":"6df3f21a.5d3714","type":"debug","z":"8086ddf7.15e35","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":910,"y":320,"wires":[]},{"id":"e25587b1.2e3468","type":"ui_chart","z":"8086ddf7.15e35","name":"","group":"fda0a02b.486668","order":0,"width":0,"height":0,"label":"BCS012N","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"4096","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":960,"y":260,"wires":[[],[]]},{"id":"d123548.491f5a8","type":"change","z":"8086ddf7.15e35","name":"","rules":[{"t":"set","p":"BCS012N_distance","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1030,"y":220,"wires":[[]]},{"id":"fda0a02b.486668","type":"ui_group","z":"","name":"Charts","tab":"b79d935b.07b3d","order":1,"disp":true,"width":"16","collapse":false},{"id":"b79d935b.07b3d","type":"ui_tab","z":"","name":"BCS012N","icon":"dashboard","order":20}]