docker/balluff_NodeRed_arm_dev/lib/flows/RasperryPi/Balluff/BES004K.json
[{"id":"2d57f78f.0bc6d","type":"function","z":"fbc8c273.5e4838","name":"BES Convert to Decimal","func":"msg.hexValue = msg.payload;\n\nif(msg.hexValue == \"1\"){\n    msg.payload = \"Target in reach\";\n}else if(msg.hexValue == \"4\"){\n    msg.payload = \"Target out of reach\"\n}else if(msg.hexValue ==\"3\"){\n    msg.payload = \"Target too close\"\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":730,"y":320,"wires":[["7af19f01.f0e6c","effb0652.2e7a28","4b7e391d.09fa48"]]},{"id":"68253a04.fd9af4","type":"function","z":"fbc8c273.5e4838","name":"ProcessInputs:BES04FK","func":"if (msg.BNIPort === (parseInt(global.get('BES04FK'),16)) && msg.command === 10) {\n    msg.payload = msg.response.substr(16,1);\n} else {\n    return;\n    \n}\nreturn msg;\n","outputs":1,"noerr":0,"x":430,"y":320,"wires":[["2d57f78f.0bc6d","518ce0bb.28a13"]]},{"id":"c319ce1e.f2d6c8","type":"comment","z":"fbc8c273.5e4838","name":"Process Data","info":"","x":310,"y":240,"wires":[]},{"id":"dd24b209.186598","type":"link in","z":"fbc8c273.5e4838","name":"Process Data Handler","links":["99900e35.ab1578"],"x":255,"y":320,"wires":[["68253a04.fd9af4"]]},{"id":"eaeeb4cb.98bda","type":"comment","z":"fbc8c273.5e4838","name":"Service Data 10s Cycle","info":"","x":320,"y":460,"wires":[]},{"id":"fa926ae8.696e","type":"comment","z":"fbc8c273.5e4838","name":"Write Service data","info":"","x":290,"y":760,"wires":[]},{"id":"a561fe3d.eec9f8","type":"comment","z":"fbc8c273.5e4838","name":"Write Process Data ","info":"","x":290,"y":820,"wires":[]},{"id":"518ce0bb.28a13","type":"debug","z":"fbc8c273.5e4838","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":620,"y":380,"wires":[]},{"id":"7af19f01.f0e6c","type":"debug","z":"fbc8c273.5e4838","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":910,"y":380,"wires":[]},{"id":"33189b4.ceb42e4","type":"inject","z":"fbc8c273.5e4838","name":"TS-2sec","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":false,"onceDelay":"","x":340,"y":520,"wires":[["436bd620.189b98"]]},{"id":"436bd620.189b98","type":"switch","z":"fbc8c273.5e4838","name":"check if Sensors are set?","property":"SensorsAreSet","propertyType":"global","rules":[{"t":"eq","v":"OK","vt":"str"},{"t":"neq","v":"OK","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":590,"y":540,"wires":[["a3b30beb.7812d"],["5050eafa.43ff9c"]]},{"id":"a3b30beb.7812d","type":"function","z":"fbc8c273.5e4838","name":"AL_ReadReq Analog Value BES04FK","func":"msg.Start = '08 00'; //Startbyte\nmsg.Revision = '02'; //Protokoll Revision 02\nmsg.Command = '02'; // Kommando\nmsg.IOLPort = global.get('BES04FK'); //Port Nummer\nmsg.LowIndex = 'B2'; //IO-Link Index \nmsg.HighIndex = '00'; //IO-Link Index (meißtens 00)\nmsg.SubIndex = '00'; //IO-Link SubIndex \n\nmsg.PL = msg.payload; //Payload of inject\n\nmsg.hex = msg.Start +\" \"+ msg.Revision +\" \"+ msg.Command +\" \"+ msg.IOLPort +\" \"+ msg.LowIndex +\" \"+ msg.HighIndex +\" \"+ msg.SubIndex;\n\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":520,"wires":[["1e3eb2e8.f2bdf5"]]},{"id":"5050eafa.43ff9c","type":"change","z":"fbc8c273.5e4838","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Sensors Not Set","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":560,"wires":[["df409a4d.289398"]]},{"id":"df409a4d.289398","type":"debug","z":"fbc8c273.5e4838","name":"sensors not set BOS026R","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1050,"y":560,"wires":[]},{"id":"1e3eb2e8.f2bdf5","type":"function","z":"fbc8c273.5e4838","name":"Set Payload to Buffer","func":"if (msg.hex.includes(undefined) === false){\n    var string = msg.hex.replace(/\\s/g,'');\n    msg.ip = global.get('host');\n    msg.port = '1999';\n    msg.payload = Buffer.from(string,\"hex\");\n} else {\n    msg.payload = \"not Present\"\n}\n\nreturn msg;\n\n//msg.payload = Buffer.from(msg.payload, \"hex\");\n","outputs":1,"noerr":0,"x":1400,"y":520,"wires":[["b7057ed1.7664f8"]]},{"id":"b7057ed1.7664f8","type":"switch","z":"fbc8c273.5e4838","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"not Present","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1570,"y":520,"wires":[["2d5cabe5.4eb1a4"],["eed235c3.dce44"]]},{"id":"2d5cabe5.4eb1a4","type":"link out","z":"fbc8c273.5e4838","name":"1s Service Data sender","links":["2514d289.79f41e"],"x":1715,"y":500,"wires":[]},{"id":"eed235c3.dce44","type":"debug","z":"fbc8c273.5e4838","name":"BOS026R not Present","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1800,"y":540,"wires":[]},{"id":"2e7ec405.071964","type":"link in","z":"fbc8c273.5e4838","name":"1s Service Data return","links":["99900e35.ab1578"],"x":475,"y":720,"wires":[["dd696ebd.a6ca08"]]},{"id":"dd696ebd.a6ca08","type":"function","z":"fbc8c273.5e4838","name":"BNI00E0 access Gain","func":"if (msg.BNIPort === parseInt(global.get('BES04FK'),16) && msg.command === 9 && msg.LowIndex ===\"B2\" && msg.SubIndex === \"00\") {\n    msg.payload = msg.response.substr(18,5);\n} else {return;\n    \n}\n\nreturn msg;\n//{ payload:msg.payload.substr(15,8) };","outputs":1,"noerr":0,"x":700,"y":660,"wires":[["8b2c85c8.8bb8"]]},{"id":"8b2c85c8.8bb8","type":"function","z":"fbc8c273.5e4838","name":"Calc Gain","func":"msg.payload = parseInt(msg.payload.split(\" \").join(\"\"),16);\nreturn msg;\n","outputs":1,"noerr":0,"x":1000,"y":660,"wires":[["6d5165c7.7f9754","3977578b.abb1d8","e95735c6.96854"]]},{"id":"6d5165c7.7f9754","type":"ui_chart","z":"fbc8c273.5e4838","name":"","group":"88cfcd4c.bdd72","order":1,"width":"12","height":"7","label":"Analog Value","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"4096","removeOlder":"20","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":1170,"y":660,"wires":[[],[]]},{"id":"3977578b.abb1d8","type":"debug","z":"fbc8c273.5e4838","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1130,"y":700,"wires":[]},{"id":"effb0652.2e7a28","type":"ui_text","z":"fbc8c273.5e4838","group":"7b68b4dd.8b38c4","order":0,"width":0,"height":0,"name":"","label":"Switch State","format":"{{msg.payload}}","layout":"row-spread","x":1020,"y":320,"wires":[]},{"id":"4b7e391d.09fa48","type":"change","z":"fbc8c273.5e4838","name":"","rules":[{"t":"set","p":"BES04FK_detection","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1070,"y":280,"wires":[[]]},{"id":"e95735c6.96854","type":"change","z":"fbc8c273.5e4838","name":"","rules":[{"t":"set","p":"BES04FK_gain","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1390,"y":640,"wires":[[]]},{"id":"88cfcd4c.bdd72","type":"ui_group","z":"","name":"Charts","tab":"28afc09d.854578","disp":true,"width":"16","collapse":false},{"id":"7b68b4dd.8b38c4","type":"ui_group","z":"","name":"Text Values","tab":"28afc09d.854578","disp":true,"width":"10","collapse":false},{"id":"28afc09d.854578","type":"ui_tab","z":"","name":"BES04FK","icon":"dashboard","order":6}]