docker/balluff_NodeRed_arm_dev/lib/flows/RasperryPi/Balluff/BML06HE.json
[{"id":"c7786ce8.34b54","type":"function","z":"e3df194d.4a5fc","name":"ProcessInputs: BML06HE","func":"if (msg.BNIPort === (parseInt(global.get('BMLL1IOL1011'),16)) && msg.command === 10) {\n    msg.payload = msg.response.substr(15,11);\n} else {\n    return;\n    \n}\nreturn msg;\n","outputs":1,"noerr":0,"x":390,"y":240,"wires":[["bb2596c7.5fa2c","ec7b74aa.43bab"]]},{"id":"bb2596c7.5fa2c","type":"function","z":"e3df194d.4a5fc","name":"BML06HE Convert to Decimal","func":"msg.hexValue = msg.payload;\n\nmsg.payload = (((parseInt(msg.hexValue.split(' ').join(''),16)/1000))-6024);\n\n\nreturn msg;\n","outputs":1,"noerr":0,"x":710,"y":240,"wires":[["6f698aab.cc94e4","7811d28a.f5886c","e4d04588.16188"]]},{"id":"6f698aab.cc94e4","type":"ui_chart","z":"e3df194d.4a5fc","name":"","group":"eefa16f9.799748","order":3,"width":"20","height":"16","label":"BML06HE","chartType":"line","legend":"false","xformat":"ss","interpolate":"linear","nodata":"No Data Yet :-)","dot":false,"ymin":"0","ymax":"130","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#0000ff","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":950,"y":240,"wires":[[],[]]},{"id":"381dc2c9.1cfa36","type":"comment","z":"e3df194d.4a5fc","name":"Process Data","info":"","x":270,"y":160,"wires":[]},{"id":"b4000ca5.215e58","type":"link in","z":"e3df194d.4a5fc","name":"Process Data Handler","links":["99900e35.ab1578"],"x":215,"y":240,"wires":[["c7786ce8.34b54"]]},{"id":"65d0185c.b7ed68","type":"comment","z":"e3df194d.4a5fc","name":"Service Data 10s Cycle","info":"","x":280,"y":380,"wires":[]},{"id":"a5a20b33.97e82","type":"comment","z":"e3df194d.4a5fc","name":"Write Service data","info":"","x":250,"y":860,"wires":[]},{"id":"16e9b241.bbf4be","type":"comment","z":"e3df194d.4a5fc","name":"Write Process Data ","info":"","x":250,"y":900,"wires":[]},{"id":"ec7b74aa.43bab","type":"debug","z":"e3df194d.4a5fc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":580,"y":300,"wires":[]},{"id":"7811d28a.f5886c","type":"debug","z":"e3df194d.4a5fc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":870,"y":300,"wires":[]},{"id":"e4d04588.16188","type":"change","z":"e3df194d.4a5fc","name":"","rules":[{"t":"set","p":"BML06HE_distance","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":200,"wires":[[]]},{"id":"2b272b1a.d6353c","type":"comment","z":"e3df194d.4a5fc","name":"TO Do Internal Device Temps","info":"","x":680,"y":380,"wires":[]},{"id":"9849d0b.99fafb","type":"function","z":"e3df194d.4a5fc","name":"BML01HE Temp array","func":"if (msg.BNIPort === parseInt(global.get('BMLL1IOL1011'),16) && msg.command === 9 && msg.LowIndex === '52' && msg.SubIndex === \"00\") {\n    msg.payload = msg.response.substr(18,5);\n} else {return;\n    \n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":360,"y":700,"wires":[["f367071f.8a12a8"]]},{"id":"f367071f.8a12a8","type":"function","z":"e3df194d.4a5fc","name":"Transform","func":"msg.internal_temp_actual = parseInt(msg.payload.split(' ').join(''),16);\n\n\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":700,"wires":[["b72f7939.b30128"]]},{"id":"65185394.02167c","type":"link in","z":"e3df194d.4a5fc","name":"10s service data return","links":["99900e35.ab1578"],"x":135,"y":700,"wires":[["9849d0b.99fafb"]]},{"id":"e3b71ff9.61f248","type":"ui_chart","z":"e3df194d.4a5fc","name":"","group":"eefa16f9.799748","order":0,"width":0,"height":0,"label":"internal Temperatures","chartType":"line","legend":"false","xformat":"mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-25","ymax":"125","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":1060,"y":700,"wires":[[],[]]},{"id":"b72f7939.b30128","type":"function","z":"e3df194d.4a5fc","name":"internal_temp_actual","func":"msg.payload = msg.internal_temp_actual;\nmsg.topic = \"internal_temp_actual\";\n//msg.label = \"internal_temp_actual\"\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":700,"wires":[["e3b71ff9.61f248","d6d3c128.6f6c","8ab51714.9a054"]]},{"id":"d6d3c128.6f6c","type":"change","z":"e3df194d.4a5fc","name":"","rules":[{"t":"set","p":"BML06HE_temperature_actual","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1380,"y":680,"wires":[[]]},{"id":"98be84d8.c1911","type":"function","z":"e3df194d.4a5fc","name":"AL_ReadReq BAW temp Array","func":"msg.Start = '08 00'; //Startbyte\nmsg.Revision = '02'; //Protokoll Revision 02\nmsg.Command = '02'; // Kommando\nmsg.IOLPort = global.get('BMLL1IOL1011'); //Port Nummer\nmsg.LowIndex = '52'; //IO-Link Index \nmsg.HighIndex = '00'; //IO-Link Index (meißtens 00)\nmsg.SubIndex = '00'; //IO-Link SubIndex \n\nmsg.PL = msg.payload; //Payload of inject\n\nmsg.hex = msg.Start +\" \"+ msg.Revision +\" \"+ msg.Command +\" \"+ msg.IOLPort +\" \"+ msg.LowIndex +\" \"+ msg.HighIndex +\" \"+ msg.SubIndex;\n\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":520,"wires":[["35e827c6.e851c"]]},{"id":"2fec21e3.1004b6","type":"switch","z":"e3df194d.4a5fc","name":"","property":"SensorsAreSet","propertyType":"global","rules":[{"t":"eq","v":"OK","vt":"str"},{"t":"neq","v":"OK","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":540,"wires":[["98be84d8.c1911"],["cb36ccaf.9bc028"]]},{"id":"b0f5824.acde2","type":"inject","z":"e3df194d.4a5fc","name":"TS-2s","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":false,"onceDelay":"","x":180,"y":540,"wires":[["2fec21e3.1004b6"]]},{"id":"cb36ccaf.9bc028","type":"change","z":"e3df194d.4a5fc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Sensors Not Set","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":580,"wires":[["b85f07d3.1bcbb"]]},{"id":"b85f07d3.1bcbb","type":"debug","z":"e3df194d.4a5fc","name":"Sensors not set","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":760,"y":580,"wires":[]},{"id":"35e827c6.e851c","type":"function","z":"e3df194d.4a5fc","name":"Set Payload to Buffer","func":"if (msg.hex.includes(undefined) === false){\n    var string = msg.hex.replace(/\\s/g,'');\n    msg.ip = global.get('host');\n    msg.port = '1999';\n    msg.payload = Buffer.from(string,\"hex\");\n} else {\n    msg.payload = \"not Present\"\n}\n\nreturn msg;\n\n//msg.payload = Buffer.from(msg.payload, \"hex\");\n","outputs":1,"noerr":0,"x":1040,"y":520,"wires":[["b1b79f0d.0d0c08","4314fbbb.3f3694"]]},{"id":"b1b79f0d.0d0c08","type":"switch","z":"e3df194d.4a5fc","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"not Present","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1230,"y":520,"wires":[["972e71ac.44934"],["ef0596af.f992b8"]]},{"id":"972e71ac.44934","type":"link out","z":"e3df194d.4a5fc","name":"10s Service Data send","links":["2514d289.79f41e"],"x":1375,"y":500,"wires":[]},{"id":"ef0596af.f992b8","type":"debug","z":"e3df194d.4a5fc","name":"BML06HE not Present","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1460,"y":540,"wires":[]},{"id":"8ab51714.9a054","type":"debug","z":"e3df194d.4a5fc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1010,"y":640,"wires":[]},{"id":"4314fbbb.3f3694","type":"debug","z":"e3df194d.4a5fc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1250,"y":580,"wires":[]},{"id":"e39594ee.291be8","type":"comment","z":"e3df194d.4a5fc","name":"0...65635","info":"","x":1000,"y":380,"wires":[]},{"id":"eefa16f9.799748","type":"ui_group","z":"","name":"Charts","tab":"84af45ef.3eb4","order":1,"disp":true,"width":"20","collapse":false},{"id":"84af45ef.3eb4","type":"ui_tab","z":"","name":"BML06HE","icon":"dashboard","order":8}]