docker/balluff_NodeRed_arm_dev/lib/flows/RasperryPi/Balluff/BNI0008.json
[{"id":"b0c86d05.7c33a8","type":"function","z":"ac01202d.54177","name":"BNI Hub swpoints extract BNI0008","func":"if (msg.payload.substr(0,1)=== \"0\"){\n    msg.payload = \"0000\";\n} else {\nmsg.payload = parseInt(msg.payload.substr(0,1),16).toString(2);\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":240,"wires":[["bc1eab7d.58cff","8ae4fcb4.6d3db8","270f2f83.3584e","b8405a38.ebdfb8"]]},{"id":"383580c5.2c76f8","type":"function","z":"ac01202d.54177","name":"ProcessInputs: BNI HUB BNI0008","func":"if (msg.BNIPort === parseInt(global.get('BNI0008'),16) && msg.command === 10) {\n    msg.payload = msg.response.substr(15,30)\n    } else {return;\n    \n}\n\nreturn msg;\n//{ payload:msg.payload.substr(15,8) };","outputs":1,"noerr":0,"x":400,"y":240,"wires":[["b0c86d05.7c33a8"]]},{"id":"bc1eab7d.58cff","type":"function","z":"ac01202d.54177","name":"Port 7","func":"var sub1 = msg.payload.substr(0, 1);\nmsg.string = sub1;\n//return {payload:msg.dist};\nreturn {payload:msg.string};","outputs":1,"noerr":0,"x":950,"y":180,"wires":[["98db6885.8a5c1"]]},{"id":"8ae4fcb4.6d3db8","type":"function","z":"ac01202d.54177","name":"Port 6","func":"var sub1 = msg.payload.substr(1, 1);\nmsg.string = sub1;\n//return {payload:msg.dist};\nreturn {payload:msg.string};","outputs":1,"noerr":0,"x":950,"y":220,"wires":[["4de14bc6.2827b4"]]},{"id":"270f2f83.3584e","type":"function","z":"ac01202d.54177","name":"Port 5","func":"var sub1 = msg.payload.substr(2, 1);\nmsg.string = sub1;\n//return {payload:msg.dist};\nreturn {payload:msg.string};","outputs":1,"noerr":0,"x":950,"y":260,"wires":[["8e64be3d.cadf1"]]},{"id":"b8405a38.ebdfb8","type":"function","z":"ac01202d.54177","name":"Port 4","func":"var sub1 = msg.payload.substr(3, 1);\nmsg.string = sub1;\n//return {payload:msg.dist};\nreturn {payload:msg.string};","outputs":1,"noerr":0,"x":950,"y":300,"wires":[["4fc317e1.84fd8"]]},{"id":"4fc317e1.84fd8","type":"ui_chart","z":"ac01202d.54177","name":"Port 4","group":"bde0a0a7.61f7e","order":5,"width":"3","height":"3","label":"Port 4","chartType":"pie","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":2,"x":1150,"y":300,"wires":[[],[]]},{"id":"8e64be3d.cadf1","type":"ui_chart","z":"ac01202d.54177","name":"Port 5","group":"bde0a0a7.61f7e","order":6,"width":"3","height":"3","label":"Port 5","chartType":"pie","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":2,"x":1150,"y":260,"wires":[[],[]]},{"id":"4de14bc6.2827b4","type":"ui_chart","z":"ac01202d.54177","name":"Port 6","group":"bde0a0a7.61f7e","order":7,"width":"3","height":"3","label":"Port 6","chartType":"pie","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":2,"x":1150,"y":220,"wires":[[],[]]},{"id":"98db6885.8a5c1","type":"ui_chart","z":"ac01202d.54177","name":"Port 7","group":"bde0a0a7.61f7e","order":8,"width":"3","height":"3","label":"Port 7","chartType":"pie","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"outputs":2,"x":1150,"y":180,"wires":[[],[]]},{"id":"fe7ec91b.5d45d8","type":"link in","z":"ac01202d.54177","name":"Process Data Handler","links":["99900e35.ab1578"],"x":195,"y":240,"wires":[["383580c5.2c76f8"]]},{"id":"23783507.57651a","type":"comment","z":"ac01202d.54177","name":"Process Data","info":"","x":250,"y":180,"wires":[]},{"id":"e4cc5462.c3d538","type":"comment","z":"ac01202d.54177","name":"Service Data 10s Cycle","info":"","x":260,"y":400,"wires":[]},{"id":"3be6cfb0.434b28","type":"comment","z":"ac01202d.54177","name":"Write Service data","info":"","x":250,"y":460,"wires":[]},{"id":"1d8d524.fd249ae","type":"comment","z":"ac01202d.54177","name":"Write Process Data ","info":"","x":250,"y":520,"wires":[]},{"id":"bde0a0a7.61f7e","type":"ui_group","z":"","name":"Switch Ports","tab":"d8cdd54f.00bdb8","order":1,"disp":true,"width":"6","collapse":false},{"id":"d8cdd54f.00bdb8","type":"ui_tab","z":"","name":"BNI0008","icon":"dashboard","order":17}]