docker/balluff_NodeRed_arm_dev/lib/flows/RasperryPi/Balluff/BOD0023.json
[{"id":"fd886355.bb77a8","type":"function","z":"7ff484de.d72a94","name":"ProcessInputs: BUS BOD0026","func":"if (msg.BNIPort === (parseInt(global.get('BOD0023'),16)) && msg.command === 10) {\n    msg.payload = msg.response.substr(15,5);\n} else {\n    return;\n    \n}\nreturn msg;\n","outputs":1,"noerr":0,"x":330,"y":300,"wires":[["44cbfedf.1b4ea","8309f1ff.f691d8"]]},{"id":"44cbfedf.1b4ea","type":"function","z":"7ff484de.d72a94","name":"BUS Convert to Decimal","func":"msg.hexValue = msg.payload;\n\nmsg.payload = parseInt(msg.hexValue.split(' ').join(''),16)/100;\n\n\nreturn msg;\n","outputs":1,"noerr":0,"x":610,"y":300,"wires":[["f9766948.e12b08","d16705f7.1cc4a","89fc7a92.ea2c5"]]},{"id":"f9766948.e12b08","type":"ui_chart","z":"7ff484de.d72a94","name":"BOD0026 Chart","group":"fcdd05fc.acc488","order":3,"width":"0","height":"0","label":"BOD0026","chartType":"line","legend":"false","xformat":"ss","interpolate":"linear","nodata":"No Data Yet :-)","dot":false,"ymin":"0","ymax":"150","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#0000ff","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":820,"y":300,"wires":[[],[]]},{"id":"b3d058d5.5cf728","type":"comment","z":"7ff484de.d72a94","name":"Process Data","info":"","x":190,"y":220,"wires":[]},{"id":"5f03dc7d.ffc5e4","type":"link in","z":"7ff484de.d72a94","name":"Process Data Handler","links":["99900e35.ab1578"],"x":135,"y":300,"wires":[["fd886355.bb77a8"]]},{"id":"3a013346.e94444","type":"comment","z":"7ff484de.d72a94","name":"Service Data 10s Cycle","info":"","x":200,"y":440,"wires":[]},{"id":"9d6de2b5.86b07","type":"comment","z":"7ff484de.d72a94","name":"Write Service data","info":"","x":190,"y":500,"wires":[]},{"id":"835e618a.35f14","type":"comment","z":"7ff484de.d72a94","name":"Write Process Data ","info":"","x":190,"y":560,"wires":[]},{"id":"8309f1ff.f691d8","type":"debug","z":"7ff484de.d72a94","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":500,"y":360,"wires":[]},{"id":"d16705f7.1cc4a","type":"debug","z":"7ff484de.d72a94","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":790,"y":360,"wires":[]},{"id":"89fc7a92.ea2c5","type":"change","z":"7ff484de.d72a94","name":"","rules":[{"t":"set","p":"BOD0023_distance","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":260,"wires":[[]]},{"id":"fcdd05fc.acc488","type":"ui_group","z":"","name":"Charts","tab":"2e071a36.7353ce","disp":true,"width":"16","collapse":false},{"id":"2e071a36.7353ce","type":"ui_tab","z":"","name":"BOD0023","icon":"dashboard","order":22}]