docker/balluff_NodeRed_arm_dev/lib/flows/RasperryPi/Balluff/BOD0026.json
[{"id":"d5168874.f1de9","type":"function","z":"890b0bb6.7278d","name":"ProcessInputs: BUS BOD0026","func":"if (msg.BNIPort === (parseInt(global.get('BOD0026'),16)) && msg.command === 10) {\n    msg.payload = msg.response.substr(15,5);\n} else {\n    return;\n    \n}\nreturn msg;\n","outputs":1,"noerr":0,"x":410,"y":360,"wires":[["14c88507.9c170b","508db956.a859b"]]},{"id":"14c88507.9c170b","type":"function","z":"890b0bb6.7278d","name":"BUS Convert to Decimal","func":"msg.hexValue = msg.payload;\n\nmsg.payload = parseInt(msg.hexValue.split(' ').join(''),16)/10;\n\n\nreturn msg;\n","outputs":1,"noerr":0,"x":690,"y":360,"wires":[["352a9866.00a38","950b2384.e0057","20358dae.960b5a"]]},{"id":"352a9866.00a38","type":"ui_chart","z":"890b0bb6.7278d","name":"BOD0026 Chart","group":"c39776da.a6f91","order":3,"width":"0","height":"0","label":"BOD0026","chartType":"line","legend":"false","xformat":"ss","interpolate":"linear","nodata":"No Data Yet :-)","dot":false,"ymin":"0","ymax":"655","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#0000ff","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":900,"y":360,"wires":[[],[]]},{"id":"ad134cd8.1a0e2","type":"comment","z":"890b0bb6.7278d","name":"Process Data","info":"","x":270,"y":280,"wires":[]},{"id":"e8054375.2a7cb8","type":"link in","z":"890b0bb6.7278d","name":"Process Data Handler","links":["99900e35.ab1578"],"x":215,"y":360,"wires":[["d5168874.f1de9"]]},{"id":"c5585c0e.e36098","type":"comment","z":"890b0bb6.7278d","name":"Service Data 10s Cycle","info":"","x":280,"y":500,"wires":[]},{"id":"217ed731.6c4b18","type":"comment","z":"890b0bb6.7278d","name":"Write Service data","info":"","x":270,"y":560,"wires":[]},{"id":"6521acaa.fc6cd4","type":"comment","z":"890b0bb6.7278d","name":"Write Process Data ","info":"","x":270,"y":620,"wires":[]},{"id":"508db956.a859b","type":"debug","z":"890b0bb6.7278d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":580,"y":420,"wires":[]},{"id":"950b2384.e0057","type":"debug","z":"890b0bb6.7278d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":870,"y":420,"wires":[]},{"id":"20358dae.960b5a","type":"change","z":"890b0bb6.7278d","name":"","rules":[{"t":"set","p":"BOD0026_distance","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":320,"wires":[[]]},{"id":"c39776da.a6f91","type":"ui_group","z":"","name":"Charts","tab":"b36a05c2.fb977","disp":true,"width":"16","collapse":false},{"id":"b36a05c2.fb977","type":"ui_tab","z":"","name":"BOD0026","icon":"dashboard","order":13}]