docker/balluff_NodeRed_arm_dev/lib/flows/RasperryPi/Balluff/BOS026K.json
[{"id":"f57f21ff.fb5b","type":"function","z":"70130460.53fb64","name":"Index 7","func":"var sub1 = msg.payload.substr(0, 1);\nmsg.string = sub1;\n//return {payload:msg.dist};\nreturn {payload:msg.string};","outputs":1,"noerr":0,"x":1180,"y":400,"wires":[[]]},{"id":"a3eed551.11739","type":"function","z":"70130460.53fb64","name":"Index 6","func":"var sub1 = msg.payload.substr(1, 1);\nmsg.string = sub1;\n//return {payload:msg.dist};\nreturn {payload:msg.string};","outputs":1,"noerr":0,"x":1180,"y":440,"wires":[[]]},{"id":"17bdac53.ab9b0c","type":"function","z":"70130460.53fb64","name":"Index 5","func":"var sub1 = msg.payload.substr(2, 1);\nmsg.string = sub1;\n//return {payload:msg.dist};\nreturn {payload:msg.string};","outputs":1,"noerr":0,"x":1180,"y":480,"wires":[["36ed3cad.582e34"]]},{"id":"ed501a06.32265","type":"function","z":"70130460.53fb64","name":"Index 4","func":"var sub1 = msg.payload.substr(3, 1);\nmsg.string = sub1;\n//return {payload:msg.dist};\nreturn {payload:msg.string};","outputs":1,"noerr":0,"x":1180,"y":520,"wires":[["d1789db6.5c70b8"]]},{"id":"d413e7a4.2ef7a8","type":"function","z":"70130460.53fb64","name":"Index 3","func":"var sub1 = msg.payload.substr(4, 1);\nmsg.string = sub1;\n//return {payload:msg.dist};\nreturn {payload:msg.string};","outputs":1,"noerr":0,"x":1180,"y":560,"wires":[["f0fe7153.cbe688"]]},{"id":"536e880f.e5f3a8","type":"function","z":"70130460.53fb64","name":"Index 2","func":"var sub1 = msg.payload.substr(5, 1);\nmsg.string = sub1;\n//return {payload:msg.dist};\nreturn {payload:msg.string};","outputs":1,"noerr":0,"x":1180,"y":600,"wires":[["503157a0.2692b8"]]},{"id":"82777cd4.567ec","type":"function","z":"70130460.53fb64","name":"Index 1","func":"var sub1 = msg.payload.substr(6, 1);\nmsg.string = sub1;\n//return {payload:msg.dist};\nreturn {payload:msg.string};","outputs":1,"noerr":0,"x":1180,"y":640,"wires":[["5d5611bc.95fa78"]]},{"id":"6ea1a892.1abdd","type":"function","z":"70130460.53fb64","name":"Index 0","func":"var sub1 = msg.payload.substr(7, 1);\nmsg.string = sub1;\n//return {payload:msg.dist};\nreturn {payload:msg.string};","outputs":1,"noerr":0,"x":1180,"y":680,"wires":[["8351c71f.974198"]]},{"id":"8351c71f.974198","type":"ui_chart","z":"70130460.53fb64","name":"","group":"f4049a04.6be1b","order":0,"width":"3","height":"3","label":"BCD1","chartType":"pie","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":2,"x":1310,"y":680,"wires":[[],[]]},{"id":"5d5611bc.95fa78","type":"ui_chart","z":"70130460.53fb64","name":"","group":"f4049a04.6be1b","order":0,"width":"3","height":"3","label":"Stability","chartType":"pie","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":2,"x":1320,"y":640,"wires":[[],[]]},{"id":"503157a0.2692b8","type":"ui_chart","z":"70130460.53fb64","name":"","group":"f4049a04.6be1b","order":0,"width":"3","height":"3","label":"Teach In","chartType":"pie","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":2,"x":1320,"y":600,"wires":[[],[]]},{"id":"f0fe7153.cbe688","type":"ui_chart","z":"70130460.53fb64","name":"","group":"f4049a04.6be1b","order":0,"width":"3","height":"3","label":"OK","chartType":"pie","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":2,"x":1310,"y":560,"wires":[[],[]]},{"id":"d1789db6.5c70b8","type":"ui_chart","z":"70130460.53fb64","name":"","group":"f4049a04.6be1b","order":0,"width":"3","height":"3","label":"Too Low","chartType":"pie","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":2,"x":1320,"y":520,"wires":[[],[]]},{"id":"36ed3cad.582e34","type":"ui_chart","z":"70130460.53fb64","name":"","group":"f4049a04.6be1b","order":0,"width":"3","height":"3","label":"Too High","chartType":"pie","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":2,"x":1320,"y":480,"wires":[[],[]]},{"id":"9c385ac.45356a8","type":"ui_gauge","z":"70130460.53fb64","name":"Cunter to 25","group":"ffa716d4.13ef9","order":0,"width":"10","height":"6","gtype":"gage","title":"Counter to 25","label":"units","format":"{{value}}","min":0,"max":"25","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1330,"y":340,"wires":[]},{"id":"e3a10aeb.ffe8c","type":"function","z":"70130460.53fb64","name":"BOS Counter","func":"var sub1 = msg.payload.substr(0, 2);\nvar sub2 = msg.payload.substr(3, 2);\n\nvar count = sub1 + sub2;\nvar dec = parseInt(count ,16);\n\nmsg.dist = dec;\n\nreturn {payload:msg.dist};\n\n","outputs":1,"noerr":0,"x":910,"y":340,"wires":[["9c385ac.45356a8"]]},{"id":"75cf14ca.3beadc","type":"function","z":"70130460.53fb64","name":"BOS Convert to binary","func":"var hex3 = msg.payload.substr(6, 2);\n\nvar dec = parseInt(hex3 ,16);\nvar string = dec.toString(2);\nwhile (string.length%8){string=\"0\"+string;}\nmsg.dist = string;\n\nreturn {payload:msg.dist};\n\n","outputs":1,"noerr":0,"x":940,"y":400,"wires":[["f57f21ff.fb5b","a3eed551.11739","17bdac53.ab9b0c","ed501a06.32265","d413e7a4.2ef7a8","536e880f.e5f3a8","82777cd4.567ec","6ea1a892.1abdd"]]},{"id":"276c4b2f.9910f4","type":"function","z":"70130460.53fb64","name":"ProcessInputs: BOS21Laser","func":"if (msg.BNIPort === (parseInt(global.get('BOS026K'),16)) && msg.command === 10) {\n    msg.payload = msg.response.substr(15,8);\n} else {\n    return;\n    \n}\nreturn msg;\n","outputs":1,"noerr":0,"x":660,"y":340,"wires":[["75cf14ca.3beadc","e3a10aeb.ffe8c"]]},{"id":"4825128b.ab8da4","type":"comment","z":"70130460.53fb64","name":"BOS21M Laser LED Diode","info":"","x":210,"y":100,"wires":[]},{"id":"79844a28.78b2bc","type":"ui_button","z":"70130460.53fb64","name":"Laser ON","group":"60cff789.472c6","order":0,"width":0,"height":0,"passthru":false,"label":"LED On","color":"","bgcolor":"","icon":"","payload":"00","payloadType":"str","topic":"","x":220,"y":180,"wires":[["6c5a3b1b.f72dec"]]},{"id":"f7e36510.10f9a8","type":"ui_button","z":"70130460.53fb64","name":"Laser OFF","group":"60cff789.472c6","order":0,"width":0,"height":0,"passthru":false,"label":"LED OFF","color":"","bgcolor":"","icon":"","payload":"02","payloadType":"str","topic":"","x":210,"y":220,"wires":[["6c5a3b1b.f72dec"]]},{"id":"69d2ec04.57090c","type":"change","z":"70130460.53fb64","name":"","rules":[{"t":"set","p":"host","pt":"msg","to":"host","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":180,"wires":[["6b2be337.2b3094"]]},{"id":"6b2be337.2b3094","type":"function","z":"70130460.53fb64","name":"Set Payload to Buffer","func":"var string = msg.hex.replace(/\\s/g,'');\nmsg.ip = msg.host;\nmsg.port = '1999';\nmsg.payload = Buffer.from(string,\"hex\");\n\nreturn msg;\n\n//msg.payload = Buffer.from(msg.payload, \"hex\");\n","outputs":1,"noerr":0,"x":920,"y":180,"wires":[[]]},{"id":"6c5a3b1b.f72dec","type":"function","z":"70130460.53fb64","name":"Principle String","func":"onOff = msg.payload;\n\nmsg.hex = \"06 00 02 0B 02 \"+onOff;\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":180,"wires":[["69d2ec04.57090c"]]},{"id":"f786481d.76dc28","type":"function","z":"70130460.53fb64","name":"ProcessInputs:BCS012N","func":"if (msg.BNIPort === (parseInt(global.get('BCS012N'),16)) && msg.command === 10) {\n    msg.payload = msg.response.substr(15,5);\n} else {\n    return;\n    \n}\nreturn msg;\n","outputs":1,"noerr":0,"x":350,"y":820,"wires":[["9507aab1.84bc8","88330a96.828828"]]},{"id":"9507aab1.84bc8","type":"function","z":"70130460.53fb64","name":"BCS Convert to Decimal","func":"msg.hexValue = msg.payload;\n\nmsg.payload = parseInt((parseInt(msg.hexValue.split(' ').join(''),16).toString(2)).slice(0,-4),2);\n\n\n/*\nif (msg.hexValue.substr(0,2) === \"ff\"){\n    //cut first two, binarize second pair, parse int\n    msg.payload = ((parseInt((parseInt(msg.hexValue.substr(3,2),16).toString(2)).slice(0,-2),2)/100)-0.63).toFixed(2);\n}else if (msg.hexValue === \"00 00\"){\n    msg.payload = 0;\n}else {\n    msg.payload = parseInt((parseInt(msg.hexValue.split(' ').join(''),16).toString(2)).slice(0,-2),2)/100;\n}*/\n\nreturn msg;\n","outputs":1,"noerr":0,"x":650,"y":820,"wires":[["e1610b25.d8d5a","8ebad3b1.cee47","9b988c92.6304f8"]]},{"id":"da5810c7.c7973","type":"comment","z":"70130460.53fb64","name":"Process Data","info":"","x":230,"y":740,"wires":[]},{"id":"9e70f7d4.2e1ad","type":"link in","z":"70130460.53fb64","name":"Process Data Handler","links":["99900e35.ab1578"],"x":175,"y":820,"wires":[["f786481d.76dc28"]]},{"id":"88330a96.828828","type":"debug","z":"70130460.53fb64","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":540,"y":880,"wires":[]},{"id":"e1610b25.d8d5a","type":"debug","z":"70130460.53fb64","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":830,"y":880,"wires":[]},{"id":"8ebad3b1.cee47","type":"ui_chart","z":"70130460.53fb64","name":"","group":"fda0a02b.486668","order":0,"width":0,"height":0,"label":"BCS012N","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"4096","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":880,"y":820,"wires":[[],[]]},{"id":"9b988c92.6304f8","type":"change","z":"70130460.53fb64","name":"","rules":[{"t":"set","p":"BCS012N_distance","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":780,"wires":[[]]},{"id":"f4049a04.6be1b","type":"ui_group","z":"","name":"Process Data","tab":"8baad196.a0b88","order":2,"disp":true,"width":"6"},{"id":"ffa716d4.13ef9","type":"ui_group","z":"","name":"Counter","tab":"8baad196.a0b88","order":1,"disp":true,"width":"10"},{"id":"60cff789.472c6","type":"ui_group","z":"","name":"Settings","tab":"8baad196.a0b88","order":3,"disp":true,"width":"6"},{"id":"fda0a02b.486668","type":"ui_group","z":"","name":"Charts","tab":"b79d935b.07b3d","order":1,"disp":true,"width":"16","collapse":false},{"id":"8baad196.a0b88","type":"ui_tab","z":"","name":"BOS21M LASER","icon":"dashboard","order":21},{"id":"b79d935b.07b3d","type":"ui_tab","z":"","name":"BCS012N","icon":"dashboard","order":20}]