docker/balluff_NodeRed_arm_dev/lib/flows/RasperryPi/Balluff/BUS004P.json
[{"id":"af547855.d3c938","type":"function","z":"76230495.ae29fc","name":"ProcessInputs: BUS BUS004P","func":"if (msg.BNIPort === (parseInt(global.get('BUS004P'),16)) && msg.command === 10) {\n    msg.payload = msg.response.substr(15,5);\n} else {\n    return;\n    \n}\nreturn msg;\n","outputs":1,"noerr":0,"x":410,"y":160,"wires":[["a0272448.71a948"]]},{"id":"a0272448.71a948","type":"function","z":"76230495.ae29fc","name":"BUS Convert to Decimal","func":"var sub1 = msg.payload.substr(0, 2);\nvar sub2 = msg.payload.substr(3, 2);\n\nvar subIn = sub1+sub2;\nvar subInt = parseInt(subIn ,16);\nvar string = subInt.toString(2);\nvar dist1 = string.substr(0, 14);\n\nmsg.dist = parseInt(dist1 ,2)/10;\n\nreturn {payload:msg.dist};\n","outputs":1,"noerr":0,"x":690,"y":160,"wires":[["50c40e1.fd0d77","59590fff.504db8"]]},{"id":"50c40e1.fd0d77","type":"ui_chart","z":"76230495.ae29fc","name":"BUS Chart","group":"449689f1.c1aa78","order":3,"width":"0","height":"0","label":"BUS004P","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"120","ymax":"1400","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#0000ff","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"outputs":2,"x":890,"y":160,"wires":[[],[]]},{"id":"8a3e1cd9.62c06","type":"comment","z":"76230495.ae29fc","name":"Process Data","info":"","x":270,"y":80,"wires":[]},{"id":"9a4f9f6f.570c58","type":"link in","z":"76230495.ae29fc","name":"Process Data Handler","links":["99900e35.ab1578"],"x":215,"y":160,"wires":[["af547855.d3c938"]]},{"id":"29827e71.8e8a02","type":"comment","z":"76230495.ae29fc","name":"Service Data 10s Cycle","info":"","x":280,"y":300,"wires":[]},{"id":"5f874fb0.dc47e","type":"comment","z":"76230495.ae29fc","name":"Write Service data","info":"","x":270,"y":360,"wires":[]},{"id":"a33181fa.8acfe","type":"comment","z":"76230495.ae29fc","name":"Write Process Data ","info":"","x":270,"y":420,"wires":[]},{"id":"59590fff.504db8","type":"change","z":"76230495.ae29fc","name":"","rules":[{"t":"set","p":"BUS_distance","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":120,"wires":[[]]},{"id":"449689f1.c1aa78","type":"ui_group","z":"","name":"Charts","tab":"857d54da.0791b8","order":1,"disp":true,"width":"16","collapse":false},{"id":"857d54da.0791b8","type":"ui_tab","z":"","name":"BUS004P","icon":"dashboard","order":18}]