docker/balluff_NodeRed_arm_dev/lib/flows/RasperryPi/Balluff/DS235.json
[{"id":"e36ff18a.9f9da8","type":"function","z":"bab41e31.5596f8","name":"ProcessInputs: bsp DS235","func":"if (msg.BNIPort === (parseInt(global.get('DS235'),16)) && msg.command === 10) {\n    msg.payload = msg.response.substr(15,5);\n} else {\n    return;\n    \n}\nreturn msg;\n","outputs":1,"noerr":0,"x":500,"y":340,"wires":[["46e8c4bc.8779e4","45035ecd.5e4be"]]},{"id":"46e8c4bc.8779e4","type":"function","z":"bab41e31.5596f8","name":"BUS Convert to Decimal","func":"msg.hexValue = msg.payload;\n\nif (msg.hexValue.substr(0,2) === \"ff\"){\n    //cut first two, binarize second pair, parse int\n    msg.test = \n    msg.payload = ((parseInt((parseInt(msg.hexValue.substr(3,2),16).toString(2)).slice(0,-2),2)/100)-0.63).toFixed(2);\n}else if (msg.hexValue === \"00 00\"){\n    msg.payload = 0;\n}else {\n    msg.payload = parseInt((parseInt(msg.hexValue.split(' ').join(''),16).toString(2)).slice(0,-2),2)/100;\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":790,"y":340,"wires":[["9c5e3bc9.575c1","758b8716.21423","ef490d32.8246e"]]},{"id":"766e6f78.3f6448","type":"comment","z":"bab41e31.5596f8","name":"Process Data","info":"","x":370,"y":260,"wires":[]},{"id":"91c55992.c4f73","type":"link in","z":"bab41e31.5596f8","name":"Process Data Handler","links":["99900e35.ab1578"],"x":315,"y":340,"wires":[["e36ff18a.9f9da8"]]},{"id":"ee1f518d.8ff6","type":"comment","z":"bab41e31.5596f8","name":"Service Data 10s Cycle","info":"","x":380,"y":480,"wires":[]},{"id":"75537e3a.19dc08","type":"comment","z":"bab41e31.5596f8","name":"Write Service data","info":"","x":370,"y":540,"wires":[]},{"id":"465d80ad.df86b8","type":"comment","z":"bab41e31.5596f8","name":"Write Process Data ","info":"","x":370,"y":600,"wires":[]},{"id":"45035ecd.5e4be","type":"debug","z":"bab41e31.5596f8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":680,"y":400,"wires":[]},{"id":"9c5e3bc9.575c1","type":"debug","z":"bab41e31.5596f8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":970,"y":400,"wires":[]},{"id":"758b8716.21423","type":"ui_gauge","z":"bab41e31.5596f8","name":"","group":"8a2e1037.78754","order":1,"width":0,"height":0,"gtype":"gage","title":"DS235","label":"Bar","format":"{{value}}","min":"-1","max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1040,"y":340,"wires":[]},{"id":"ef490d32.8246e","type":"change","z":"bab41e31.5596f8","name":"","rules":[{"t":"set","p":"DS235_distance","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1120,"y":300,"wires":[[]]},{"id":"8a2e1037.78754","type":"ui_group","z":"","name":"Charts","tab":"fcdaf584.fb844","order":2,"disp":true,"width":"16","collapse":false},{"id":"fcdaf584.fb844","type":"ui_tab","z":"","name":"BSP008A","icon":"dashboard","order":14}]