docker/balluff_NodeRed_arm_dev/lib/flows/RasperryPi/Balluff/startup.json
[{"id":"6f68fb85.118b0c","type":"comment","z":"5ab47588.643974","name":"set ports to IO-Link mode EIP","info":"","x":220,"y":760,"wires":[]},{"id":"7cab0729.44a338","type":"change","z":"5ab47588.643974","name":"read host and ports from config","rules":[{"t":"set","p":"host","pt":"msg","to":"host","tot":"global"},{"t":"set","p":"ports","pt":"msg","to":"ports","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":840,"wires":[["f226a18e.670d6"]]},{"id":"c741af6d.6ba14","type":"function","z":"5ab47588.643974","name":"foreach port","func":"// list of ports to initialize\nlet ports = msg.ports || [0]; \n\n// get port_index from node context, or initialize\nlet port_index = context.get('port_index') || 0;\n\n// finished?\nif (port_index >= ports.length) {\n    context.set('port_index', null); // undefine port_index\n    return null;\n}\n    \n// prepare message:\nif ((ports[port_index]) <16) {\n    msg.Data = \"0\"+ (ports[port_index].toString(16));\n} else { \n    msg.Data = (ports[port_index].toString(16));\n}\n//msg.port = (\"00\" + ports[port_index]).slice(-2);\n// next port...\ncontext.set('port_index', port_index+1);\n\n\nmsg.hex = '24 00 02 0F '+ msg.Data +' 00 0C 11 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 32 32';\n\nreturn msg;\n\n//24 00.02.0F.00.00.0C.11.00.00.00.00.00.00.00.00.00.00.00.00.00.00.00.00.00.00.00.00.00.00.00.00.00.00.32.32","outputs":"1","noerr":0,"x":1370,"y":700,"wires":[["5f979432.af9264","ba7807af.567028"]]},{"id":"5f979432.af9264","type":"delay","z":"5ab47588.643974","name":"","pauseType":"delay","timeout":"20","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1370,"y":740,"wires":[["c741af6d.6ba14"]]},{"id":"ba7807af.567028","type":"function","z":"5ab47588.643974","name":"Set Payload to Buffer","func":"var string = msg.hex.replace(/\\s/g,'');\nmsg.ip = msg.host;\nmsg.port = '1999';\nmsg.payload = Buffer.from(string,\"hex\");\n\nreturn msg;\n\n//msg.payload = Buffer.from(msg.payload, \"hex\");\n","outputs":1,"noerr":0,"x":1600,"y":700,"wires":[["904f1d20.267e48","b7384286.67aba"]]},{"id":"34eddc7e.da2794","type":"http request","z":"5ab47588.643974","name":"","method":"GET","ret":"obj","url":"http://{{host}}/ports.jsn","tls":"","x":810,"y":1040,"wires":[["939dc95f.cbcaa"]]},{"id":"130fe125.19d05f","type":"inject","z":"5ab47588.643974","name":"TS-32sec","topic":"","payload":"","payloadType":"date","repeat":"32","crontab":"","once":false,"onceDelay":"3","x":210,"y":1060,"wires":[["fb616ff7.0dfe38"]]},{"id":"798d9b1.61d3564","type":"change","z":"5ab47588.643974","name":"read config","rules":[{"t":"set","p":"host","pt":"msg","to":"host","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":1040,"wires":[["34eddc7e.da2794"]]},{"id":"939dc95f.cbcaa","type":"function","z":"5ab47588.643974","name":"construct Devices object and set Global values","func":"//construct Devices object: \nmsg.devices = { \n    \"Port 0\":msg.payload.ports[0].productId,\n    \"Port 1\":msg.payload.ports[1].productId,\n    \"Port 2\":msg.payload.ports[2].productId,\n    \"Port 3\":msg.payload.ports[3].productId,\n    \"Port 4\":msg.payload.ports[4].productId,\n    \"Port 5\":msg.payload.ports[5].productId,\n    \"Port 6\":msg.payload.ports[6].productId,\n    \"Port 7\":msg.payload.ports[7].productId\n};\n//mach Product Code to Port Number: \nmsg.test = msg.devices[\"Port 0\"];\n\nif       (msg.devices[\"Port 0\"] === \"BOS026R\"){\n    msg.portnumberBOS026R = \"00\";\n}else if (msg.devices[\"Port 1\"] === \"BOS026R\"){\n    msg.portnumberBOS026R = \"08\";\n}else if (msg.devices[\"Port 2\"] === \"BOS026R\"){\n    msg.portnumberBOS026R = \"02\";\n}else if (msg.devices[\"Port 3\"] === \"BOS026R\"){\n    msg.portnumberBOS026R = \"0A\";\n}else if (msg.devices[\"Port 4\"] === \"BOS026R\"){\n    msg.portnumberBOS026R = \"04\";\n}else if (msg.devices[\"Port 5\"] === \"BOS026R\"){\n    msg.portnumberBOS026R = \"0C\";\n}else if (msg.devices[\"Port 6\"] === \"BOS026R\"){\n    msg.portnumberBOS026R = \"06\";\n}else if (msg.devices[\"Port 7\"] === \"BOS026R\"){\n    msg.portnumberBOS026R = \"0E\";\n}else {\n    msg.portnumberBOS026R = undefined;\n}\nif       (msg.devices[\"Port 0\"] === \"BAE00TP\"){\n    msg.portnumberBAE00TP = \"00\";\n}else if (msg.devices[\"Port 1\"] === \"BAE00TP\"){\n    msg.portnumberBAE00TP = \"08\";\n}else if (msg.devices[\"Port 2\"] === \"BAE00TP\"){\n    msg.portnumberBAE00TP = \"02\";\n}else if (msg.devices[\"Port 3\"] === \"BAE00TP\"){\n    msg.portnumberBAE00TP = \"0A\";\n}else if (msg.devices[\"Port 4\"] === \"BAE00TP\"){\n    msg.portnumberBAE00TP = \"04\";\n}else if (msg.devices[\"Port 5\"] === \"BAE00TP\"){\n    msg.portnumberBAE00TP = \"0C\";\n}else if (msg.devices[\"Port 6\"] === \"BAE00TP\"){\n    msg.portnumberBAE00TP = \"06\";\n}else if (msg.devices[\"Port 7\"] === \"BAE00TP\"){\n    msg.portnumberBAE00TP = \"0E\";\n}else {\n    msg.portnumberBAE00TP = undefined;\n}\n\n\nif       (msg.devices[\"Port 0\"] === \"BNI00E0\"){\n    msg.portnumberBNI00E0 = \"00\";\n}else if (msg.devices[\"Port 1\"] === \"BNI00E0\"){\n    msg.portnumberBNI00E0 = \"08\";\n}else if (msg.devices[\"Port 2\"] === \"BNI00E0\"){\n    msg.portnumberBNI00E0 = \"02\";\n}else if (msg.devices[\"Port 3\"] === \"BNI00E0\"){\n    msg.portnumberBNI00E0 = \"0A\";\n}else if (msg.devices[\"Port 4\"] === \"BNI00E0\"){\n    msg.portnumberBNI00E0 = \"04\";\n}else if (msg.devices[\"Port 5\"] === \"BNI00E0\"){\n    msg.portnumberBNI00E0 = \"0C\";\n}else if (msg.devices[\"Port 6\"] === \"BNI00E0\"){\n    msg.portnumberBNI00E0 = \"06\";\n}else if (msg.devices[\"Port 7\"] === \"BNI00E0\"){\n    msg.portnumberBNI00E0 = \"0E\";\n}else {\n    msg.portnumberBNI00E0 = undefined;\n}\nif       (msg.devices[\"Port 0\"] === \"BUS004P\"){\n    msg.portnumberBUS004P = \"00\";\n}else if (msg.devices[\"Port 1\"] === \"BUS004P\"){\n    msg.portnumberBUS004P = \"08\";\n}else if (msg.devices[\"Port 2\"] === \"BUS004P\"){\n    msg.portnumberBUS004P = \"02\";\n}else if (msg.devices[\"Port 3\"] === \"BUS004P\"){\n    msg.portnumberBUS004P = \"0A\";\n}else if (msg.devices[\"Port 4\"] === \"BUS004P\"){\n    msg.portnumberBUS004P = \"04\";\n}else if (msg.devices[\"Port 5\"] === \"BUS004P\"){\n    msg.portnumberBUS004P = \"0c\";\n}else if (msg.devices[\"Port 6\"] === \"BUS004P\"){\n    msg.portnumberBUS004P = \"06\";\n}else if (msg.devices[\"Port 7\"] === \"BUS004P\"){\n    msg.portnumberBUS004P = \"0E\";\n}else {\n    msg.portnumberBUS004P = undefined;\n}\nif       (msg.devices[\"Port 0\"] === \"BNI0088\"){\n    msg.portnumberBNI0088 = \"00\";\n}else if (msg.devices[\"Port 1\"] === \"BNI0088\"){\n    msg.portnumberBNI0088 = \"08\";\n}else if (msg.devices[\"Port 2\"] === \"BNI0088\"){\n    msg.portnumberBNI0088 = \"02\";\n}else if (msg.devices[\"Port 3\"] === \"BNI0088\"){\n    msg.portnumberBNI0088 = \"0A\";\n}else if (msg.devices[\"Port 4\"] === \"BNI0088\"){\n    msg.portnumberBNI0088 = \"04\";\n}else if (msg.devices[\"Port 5\"] === \"BNI0088\"){\n    msg.portnumberBNI0088 = \"0C\";\n}else if (msg.devices[\"Port 6\"] === \"BNI0088\"){\n    msg.portnumberBNI0088 = \"06\";\n}else if (msg.devices[\"Port 7\"] === \"BNI0088\"){\n    msg.portnumberBNI0088 = \"0E\";\n}else {\n    msg.portnumberBNI0088 = undefined;\n}\nif       (msg.devices[\"Port 0\"] === \"BNI0008\"){\n    msg.portnumberBNI0008 = \"00\";\n}else if (msg.devices[\"Port 1\"] === \"BNI0008\"){\n    msg.portnumberBNI0008 = \"08\";\n}else if (msg.devices[\"Port 2\"] === \"BNI0008\"){\n    msg.portnumberBNI0008 = \"02\";\n}else if (msg.devices[\"Port 3\"] === \"BNI0008\"){\n    msg.portnumberBNI0008 = \"0A\";\n}else if (msg.devices[\"Port 4\"] === \"BNI0008\"){\n    msg.portnumberBNI0008 = \"04\";\n}else if (msg.devices[\"Port 5\"] === \"BNI0008\"){\n    msg.portnumberBNI0008 = \"0C\";\n}else if (msg.devices[\"Port 6\"] === \"BNI0008\"){\n    msg.portnumberBNI0008 = \"06\";\n}else if (msg.devices[\"Port 7\"] === \"BNI0008\"){\n    msg.portnumberBNI0008 = \"0E\";\n}else {\n    msg.portnumberBNI0008 = undefined;\n}\nif       (msg.devices[\"Port 0\"] === \"BAW004M\"){\n    msg.portnumberBAW004M = \"00\";\n}else if (msg.devices[\"Port 1\"] === \"BAW004M\"){\n    msg.portnumberBAW004M = \"08\";\n}else if (msg.devices[\"Port 2\"] === \"BAW004M\"){\n    msg.portnumberBAW004M = \"02\";\n}else if (msg.devices[\"Port 3\"] === \"BAW004M\"){\n    msg.portnumberBAW004M = \"0A\";\n}else if (msg.devices[\"Port 4\"] === \"BAW004M\"){\n    msg.portnumberBAW004M = \"04\";\n}else if (msg.devices[\"Port 5\"] === \"BAW004M\"){\n    msg.portnumberBAW004M = \"0C\";\n}else if (msg.devices[\"Port 6\"] === \"BAW004M\"){\n    msg.portnumberBAW004M = \"06\";\n}else if (msg.devices[\"Port 7\"] === \"BAW004M\"){\n    msg.portnumberBAW004M = \"0E\";\n}else {\n    msg.portnumberBAW004M = undefined;\n}\nif       (msg.devices[\"Port 0\"] === \"BTL6PFIOL001\"){\n    msg.portnumberBTL6PFIOL001 = \"00\";\n}else if (msg.devices[\"Port 1\"] === \"BTL6PFIOL001\"){\n    msg.portnumberBTL6PFIOL001 = \"08\";\n}else if (msg.devices[\"Port 2\"] === \"BTL6PFIOL001\"){\n    msg.portnumberBTL6PFIOL001 = \"02\";\n}else if (msg.devices[\"Port 3\"] === \"BTL6PFIOL001\"){\n    msg.portnumberBTL6PFIOL001 = \"0A\";\n}else if (msg.devices[\"Port 4\"] === \"BTL6PFIOL001\"){\n    msg.portnumberBTL6PFIOL001 = \"04\";\n}else if (msg.devices[\"Port 5\"] === \"BTL6PFIOL001\"){\n    msg.portnumberBTL6PFIOL001 = \"0C\";\n}else if (msg.devices[\"Port 6\"] === \"BTL6PFIOL001\"){\n    msg.portnumberBTL6PFIOL001 = \"06\";\n}else if (msg.devices[\"Port 7\"] === \"BTL6PFIOL001\"){\n    msg.portnumberBTL6PFIOL001 = \"0E\";\n}else {\n    msg.portnumberBTL6PFIOL001 = undefined;\n}\nif       (msg.devices[\"Port 0\"] === \"BTS0002\"){\n    msg.portnumberBTS0002 = \"00\";\n}else if (msg.devices[\"Port 1\"] === \"BTS0002\"){\n    msg.portnumberBTS0002 = \"08\";\n}else if (msg.devices[\"Port 2\"] === \"BTS0002\"){\n    msg.portnumberBTS0002 = \"02\";\n}else if (msg.devices[\"Port 3\"] === \"BTS0002\"){\n    msg.portnumberBTS0002 = \"0A\";\n}else if (msg.devices[\"Port 4\"] === \"BTS0002\"){\n    msg.portnumberBTS0002 = \"04\";\n}else if (msg.devices[\"Port 5\"] === \"BTS0002\"){\n    msg.portnumberBTS0002 = \"0C\";\n}else if (msg.devices[\"Port 6\"] === \"BTS0002\"){\n    msg.portnumberBTS0002 = \"06\";\n}else if (msg.devices[\"Port 7\"] === \"BTS0002\"){\n    msg.portnumberBTS0002 = \"0E\";\n}else {\n    msg.portnumberBOS21M = undefined;\n}\nif       (msg.devices[\"Port 0\"] === \"50132941\"){\n    msg.portnumberBOD0026 = \"00\";\n}else if (msg.devices[\"Port 1\"] === \"50132941\"){\n    msg.portnumberBOD0026 = \"08\";\n}else if (msg.devices[\"Port 2\"] === \"50132941\"){\n    msg.portnumberBOD0026 = \"02\";\n}else if (msg.devices[\"Port 3\"] === \"50132941\"){\n    msg.portnumberBOD0026 = \"0A\";\n}else if (msg.devices[\"Port 4\"] === \"50132941\"){\n    msg.portnumberBOD0026 = \"04\";\n}else if (msg.devices[\"Port 5\"] === \"50132941\"){\n    msg.portnumberBOD0026 = \"0C\";\n}else if (msg.devices[\"Port 6\"] === \"50132941\"){\n    msg.portnumberBOD0026 = \"06\";\n}else if (msg.devices[\"Port 7\"] === \"50132941\"){\n    msg.portnumberBOD0026 = \"0E\";\n}else {\n    msg.portnumberBOD0026 = undefined;\n}\nif       (msg.devices[\"Port 0\"] === \"BOD0020\"){\n    msg.portnumberBOD0020 = \"00\";\n}else if (msg.devices[\"Port 1\"] === \"BOD0020\"){\n    msg.portnumberBOD0020 = \"08\";\n}else if (msg.devices[\"Port 2\"] === \"BOD0020\"){\n    msg.portnumberBOD0020 = \"02\";\n}else if (msg.devices[\"Port 3\"] === \"BOD0020\"){\n    msg.portnumberBOD0020 = \"0A\";\n}else if (msg.devices[\"Port 4\"] === \"BOD0020\"){\n    msg.portnumberBOD0020 = \"04\";\n}else if (msg.devices[\"Port 5\"] === \"BOD0020\"){\n    msg.portnumberBOD0020 = \"0C\";\n}else if (msg.devices[\"Port 6\"] === \"BOD0020\"){\n    msg.portnumberBOD0020 = \"06\";\n}else if (msg.devices[\"Port 7\"] === \"BOD0020\"){\n    msg.portnumberBOD0020 = \"0E\";\n}else {\n    msg.portnumberBOD0020 = undefined;\n}\nif       (msg.devices[\"Port 0\"] === \"DS235\"){\n    msg.portnumberDS235 = \"00\";\n}else if (msg.devices[\"Port 1\"] === \"DS235\"){\n    msg.portnumberDS235 = \"08\";\n}else if (msg.devices[\"Port 2\"] === \"DS235\"){\n    msg.portnumberDS235 = \"02\";\n}else if (msg.devices[\"Port 3\"] === \"DS235\"){\n    msg.portnumberDS235 = \"0A\";\n}else if (msg.devices[\"Port 4\"] === \"DS235\"){\n    msg.portnumberDS235 = \"04\";\n}else if (msg.devices[\"Port 5\"] === \"DS235\"){\n    msg.portnumberDS235 = \"0C\";\n}else if (msg.devices[\"Port 6\"] === \"DS235\"){\n    msg.portnumberDS235 = \"06\";\n}else if (msg.devices[\"Port 7\"] === \"DS235\"){\n    msg.portnumberDS235 = \"0E\";\n}else {\n    msg.portnumberDS235 = undefined;\n}\nif       (msg.devices[\"Port 0\"] === \"BCS012N\"){\n    msg.portnumberBCS012N = \"00\";\n}else if (msg.devices[\"Port 1\"] === \"BCS012N\"){\n    msg.portnumberBCS012N = \"08\";\n}else if (msg.devices[\"Port 2\"] === \"BCS012N\"){\n    msg.portnumberBCS012N = \"02\";\n}else if (msg.devices[\"Port 3\"] === \"BCS012N\"){\n    msg.portnumberBCS012N = \"0A\";\n}else if (msg.devices[\"Port 4\"] === \"BCS012N\"){\n    msg.portnumberBCS012N = \"04\";\n}else if (msg.devices[\"Port 5\"] === \"BCS012N\"){\n    msg.portnumberBCS012N = \"0C\";\n}else if (msg.devices[\"Port 6\"] === \"BCS012N\"){\n    msg.portnumberBCS012N = \"06\";\n}else if (msg.devices[\"Port 7\"] === \"BCS012N\"){\n    msg.portnumberBCS012N = \"0E\";\n}else {\n    msg.portnumberBCS012N = undefined;\n}\nif       (msg.devices[\"Port 0\"] === \"BES04FK\"){\n    msg.portnumberBES04FK = \"00\";\n}else if (msg.devices[\"Port 1\"] === \"BES04FK\"){\n    msg.portnumberBES04FK = \"08\";\n}else if (msg.devices[\"Port 2\"] === \"BES04FK\"){\n    msg.portnumberBES04FK = \"02\";\n}else if (msg.devices[\"Port 3\"] === \"BES04FK\"){\n    msg.portnumberBES04FK = \"0A\";\n}else if (msg.devices[\"Port 4\"] === \"BES04FK\"){\n    msg.portnumberBES04FK = \"04\";\n}else if (msg.devices[\"Port 5\"] === \"BES04FK\"){\n    msg.portnumberBES04FK = \"0C\";\n}else if (msg.devices[\"Port 6\"] === \"BES04FK\"){\n    msg.portnumberBES04FK = \"06\";\n}else if (msg.devices[\"Port 7\"] === \"BES04FK\"){\n    msg.portnumberBES04FK = \"0E\";\n}else {\n    msg.portnumberBES04FK = undefined;\n}\nif       (msg.devices[\"Port 0\"] === \"50129266\"){\n    msg.portnumberBOD0023 = \"00\";\n}else if (msg.devices[\"Port 1\"] === \"50129266\"){\n    msg.portnumberBOD0023 = \"08\";\n}else if (msg.devices[\"Port 2\"] === \"50129266\"){\n    msg.portnumberBOD0023 = \"02\";\n}else if (msg.devices[\"Port 3\"] === \"50129266\"){\n    msg.portnumberBOD0023 = \"0A\";\n}else if (msg.devices[\"Port 4\"] === \"50129266\"){\n    msg.portnumberBOD0023 = \"04\";\n}else if (msg.devices[\"Port 5\"] === \"50129266\"){\n    msg.portnumberBOD0023 = \"0C\";\n}else if (msg.devices[\"Port 6\"] === \"50129266\"){\n    msg.portnumberBOD0023 = \"06\";\n}else if (msg.devices[\"Port 7\"] === \"50129266\"){\n    msg.portnumberBOD0023 = \"0E\";\n}else {\n    msg.portnumberBOD0023 = undefined;\n}\nif       (msg.devices[\"Port 0\"] === \"BMLL1IOL1011\"){\n    msg.portnumberBMLL1IOL1011 = \"00\";\n}else if (msg.devices[\"Port 1\"] === \"BMLL1IOL1011\"){\n    msg.portnumberBMLL1IOL1011 = \"08\";\n}else if (msg.devices[\"Port 2\"] === \"BMLL1IOL1011\"){\n    msg.portnumberBMLL1IOL1011 = \"02\";\n}else if (msg.devices[\"Port 3\"] === \"BMLL1IOL1011\"){\n    msg.portnumberBMLL1IOL1011 = \"0A\";\n}else if (msg.devices[\"Port 4\"] === \"BMLL1IOL1011\"){\n    msg.portnumberBMLL1IOL1011 = \"04\";\n}else if (msg.devices[\"Port 5\"] === \"BMLL1IOL1011\"){\n    msg.portnumberBMLL1IOL1011 = \"0C\";\n}else if (msg.devices[\"Port 6\"] === \"BMLL1IOL1011\"){\n    msg.portnumberBMLL1IOL1011 = \"06\";\n}else if (msg.devices[\"Port 7\"] === \"BMLL1IOL1011\"){\n    msg.portnumberBMLL1IOL1011 = \"0E\";\n}else {\n    msg.portnumberBMLL1IOL1011 = undefined;\n}\nif       (msg.devices[\"Port 0\"] === \"BIP001M\"){\n    msg.portnumberBIP001M = \"00\";\n}else if (msg.devices[\"Port 1\"] === \"BIP001M\"){\n    msg.portnumberBIP001M = \"08\";\n}else if (msg.devices[\"Port 2\"] === \"BIP001M\"){\n    msg.portnumberBIP001M = \"02\";\n}else if (msg.devices[\"Port 3\"] === \"BIP001M\"){\n    msg.portnumberBIP001M = \"0A\";\n}else if (msg.devices[\"Port 4\"] === \"BIP001M\"){\n    msg.portnumberBIP001M = \"04\";\n}else if (msg.devices[\"Port 5\"] === \"BIP001M\"){\n    msg.portnumberBIP001M = \"0C\";\n}else if (msg.devices[\"Port 6\"] === \"BIP001M\"){\n    msg.portnumberBIP001M = \"06\";\n}else if (msg.devices[\"Port 7\"] === \"BIP001M\"){\n    msg.portnumberBIP001M = \"0E\";\n}else {\n    msg.portnumberBIP001M = undefined;\n}\nif       (msg.devices[\"Port 0\"] === \"BOS026K\"){\n    msg.portnumberBOS026K = \"00\";\n}else if (msg.devices[\"Port 1\"] === \"BOS026K\"){\n    msg.portnumberBOS026K = \"08\";\n}else if (msg.devices[\"Port 2\"] === \"BOS026K\"){\n    msg.portnumberBOS026K = \"02\";\n}else if (msg.devices[\"Port 3\"] === \"BOS026K\"){\n    msg.portnumberBOS026K = \"0A\";\n}else if (msg.devices[\"Port 4\"] === \"BOS026K\"){\n    msg.portnumberBOS026K = \"04\";\n}else if (msg.devices[\"Port 5\"] === \"BOS026K\"){\n    msg.portnumberBOS026K = \"0C\";\n}else if (msg.devices[\"Port 6\"] === \"BOS026K\"){\n    msg.portnumberBOS026K = \"06\";\n}else if (msg.devices[\"Port 7\"] === \"BOS026K\"){\n    msg.portnumberBOS026K = \"0E\";\n}else {\n    msg.portnumberBOS026K = undefined;\n}\n/*\nif       (msg.devices[\"Port 0\"] === \"BOS026K\"){\n    msg.portnumberBOS026K = \"00\";\n}else if (msg.devices[\"Port 1\"] === \"BOS026K\"){\n    msg.portnumberBOS026K = \"08\";\n}else if (msg.devices[\"Port 2\"] === \"BOS026K\"){\n    msg.portnumberBOS026K = \"02\";\n}else if (msg.devices[\"Port 3\"] === \"BOS026K\"){\n    msg.portnumberBOS026K = \"0A\";\n}else if (msg.devices[\"Port 4\"] === \"BOS026K\"){\n    msg.portnumberBOS026K = \"04\";\n}else if (msg.devices[\"Port 5\"] === \"BOS026K\"){\n    msg.portnumberBOS026K = \"0C\";\n}else if (msg.devices[\"Port 6\"] === \"BOS026K\"){\n    msg.portnumberBOS026K = \"06\";\n}else if (msg.devices[\"Port 7\"] === \"BOS026K\"){\n    msg.portnumberBOS026K = \"0E\";\n}else {\n    msg.portnumberBOS026K = undefined;\n}\n*/    \n//set global variables to control data flows. \n\nglobal.set('BOS026R', msg.portnumberBOS026R);\nglobal.set('BAE00TP',msg.portnumberBAE00TP);\nglobal.set('BNI00E0',msg.portnumberBNI00E0);\nglobal.set('BUS004P',msg.portnumberBUS004P);\nglobal.set('BNI0088',msg.portnumberBNI0088);\nglobal.set('BNI0008',msg.portnumberBNI0008);\nglobal.set('BAW004M',msg.portnumberBAW004M);\nglobal.set('BTL6PFIOL001',msg.portnumberBTL6PFIOL001);\nglobal.set('BTS0002',msg.portnumberBTS0002);\nglobal.set('BOD0026',msg.portnumberBOD0026);\nglobal.set('BOD0020',msg.portnumberBOD0020);\nglobal.set('DS235',msg.portnumberDS235);\nglobal.set('BCS012N',msg.portnumberBCS012N);\nglobal.set('BES04FK',msg.portnumberBES04FK);\nglobal.set('BOD0023',msg.portnumberBOD0023);\nglobal.set('BMLL1IOL1011',msg.portnumberBMLL1IOL1011);\nglobal.set('BIP001M',msg.portnumberBIP001M);\nglobal.set('BOS026K',msg.portnumberBOS026K);\n\n\n/*\nflow.set('sensor1',);\nflow.set('sensor1',);\nflow.set('sensor1',);\nflow.set('sensor1',);\nflow.set('sensor1',);\nflow.set('sensor1',);\n*/\n\nreturn msg;","outputs":1,"noerr":0,"x":1100,"y":1040,"wires":[["797a0da0.0b501c","8afbd383.c14ba8"]]},{"id":"d41776e9.aa5728","type":"comment","z":"5ab47588.643974","name":"Get IO-Link Port Infos via dprop","info":"","x":230,"y":1020,"wires":[]},{"id":"3adf45e2.930372","type":"ui_button","z":"5ab47588.643974","name":"","group":"42c75026.9b50a8","order":0,"width":0,"height":0,"passthru":false,"label":"Set Ports to IO-Link","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":210,"y":800,"wires":[["7cab0729.44a338"]]},{"id":"f226a18e.670d6","type":"switch","z":"5ab47588.643974","name":"check if config is set","property":"configIsSet","propertyType":"flow","rules":[{"t":"eq","v":"OK","vt":"str"},{"t":"neq","v":"OK","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":700,"y":840,"wires":[["88081c1a.f7b038"],["9b741b67.ac61"]]},{"id":"1149bdb1.2c0082","type":"change","z":"5ab47588.643974","name":"Set Ports are Set...","rules":[{"t":"set","p":"portsAreSet","pt":"flow","to":"OK","tot":"str"},{"t":"set","p":"portsAreSet","pt":"global","to":"OK","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1570,"y":800,"wires":[[]]},{"id":"55640083.7ada78","type":"delay","z":"5ab47588.643974","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1400,"y":800,"wires":[["1149bdb1.2c0082"]]},{"id":"fb616ff7.0dfe38","type":"switch","z":"5ab47588.643974","name":"check if ports are set?","property":"portsAreSet","propertyType":"flow","rules":[{"t":"eq","v":"OK","vt":"str"},{"t":"neq","v":"OK","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":420,"y":1060,"wires":[["798d9b1.61d3564"],["3100e701.e025"]]},{"id":"3100e701.e025","type":"change","z":"5ab47588.643974","name":"Ports Not Set","rules":[{"t":"set","p":"payload","pt":"msg","to":"Ports Not Set","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":1080,"wires":[["8cafa43f.1559d"]]},{"id":"9b741b67.ac61","type":"change","z":"5ab47588.643974","name":"","rules":[{"t":"set","p":"configIsSet","pt":"msg","to":"Config Not Set","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":880,"wires":[["982772b5.4e9d7"]]},{"id":"797a0da0.0b501c","type":"delay","z":"5ab47588.643974","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1240,"y":1100,"wires":[["fee88a84.af6378"]]},{"id":"fee88a84.af6378","type":"change","z":"5ab47588.643974","name":"Sensors are Set...","rules":[{"t":"set","p":"SensorsAreSet","pt":"flow","to":"OK","tot":"str"},{"t":"set","p":"SensorsAreSet","pt":"global","to":"OK","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1430,"y":1100,"wires":[[]]},{"id":"b5bdbf15.58ddc8","type":"inject","z":"5ab47588.643974","name":"inject once at start...","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"","x":220,"y":100,"wires":[["7a544daa.a0b464"]]},{"id":"7a544daa.a0b464","type":"change","z":"5ab47588.643974","name":"set configuration...EIP","rules":[{"t":"set","p":"host","pt":"flow","to":"192.168.2.11","tot":"str"},{"t":"set","p":"ports","pt":"flow","to":"[0,2,4,6,8,10,12,14]","tot":"json"},{"t":"set","p":"configIsSet","pt":"flow","to":"OK","tot":"str"},{"t":"set","p":"host","pt":"global","to":"192.168.2.11","tot":"str"},{"t":"set","p":"ports","pt":"global","to":"[0,2,4,6,8,10,12,14]","tot":"json"},{"t":"set","p":"EIP","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":100,"wires":[[]]},{"id":"48777754.914a5","type":"comment","z":"5ab47588.643974","name":"change configuration here!","info":"","x":390,"y":60,"wires":[]},{"id":"8afbd383.c14ba8","type":"debug","z":"5ab47588.643974","name":"Dprop Ports sensors Object ","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1560,"y":1040,"wires":[]},{"id":"982772b5.4e9d7","type":"debug","z":"5ab47588.643974","name":"Config Not Set","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1120,"y":880,"wires":[]},{"id":"8cafa43f.1559d","type":"debug","z":"5ab47588.643974","name":"Ports Not Set","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":810,"y":1080,"wires":[]},{"id":"904f1d20.267e48","type":"link out","z":"5ab47588.643974","name":"Send UDP from Set Prots","links":["fe17f306.ed3c08"],"x":1755,"y":700,"wires":[]},{"id":"766a52ed.3ac114","type":"inject","z":"5ab47588.643974","name":"TS-30sec","topic":"","payload":"","payloadType":"date","repeat":"30","crontab":"","once":false,"onceDelay":"3","x":210,"y":420,"wires":[["a4b7b9be.e8d3d"]]},{"id":"78ef48d.3f412b8","type":"change","z":"5ab47588.643974","name":"read config","rules":[{"t":"set","p":"host","pt":"msg","to":"host","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":400,"wires":[["724beb91.2422a4"]]},{"id":"724beb91.2422a4","type":"http request","z":"5ab47588.643974","name":"","method":"GET","ret":"obj","url":"http://{{host}}/index.jsn","tls":"","x":810,"y":400,"wires":[["679231d8.2dd158"]]},{"id":"9bbaad21.7c122","type":"debug","z":"5ab47588.643974","name":"Dprop Ports sensors Object ","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1380,"y":400,"wires":[]},{"id":"718f6482.27d33c","type":"inject","z":"5ab47588.643974","name":"TS-31sec","topic":"","payload":"","payloadType":"date","repeat":"31","crontab":"","once":true,"onceDelay":"10","x":210,"y":840,"wires":[["7cab0729.44a338"]]},{"id":"679231d8.2dd158","type":"function","z":"5ab47588.643974","name":"Check Port Status if IO-Link","func":"msg.p00Status = msg.payload[0].p00Status;\nmsg.p02Status = msg.payload[0].p02Status;\nmsg.p04Status = msg.payload[0].p04Status;\nmsg.p06Status = msg.payload[0].p06Status;\nmsg.p08Status = msg.payload[0].p08Status;\nmsg.p10Status = msg.payload[0].p10Status;\nmsg.p12Status = msg.payload[0].p12Status;\nmsg.p14Status = msg.payload[0].p14Status;\n\nif(msg.p00Status === \"87FF\" && msg.p02Status === \"87FF\" && msg.p04Status === \"87FF\" && msg.p06Status === \"87FF\" && msg.p08Status === \"87FF\" && msg.p10Status === \"87FF\" && msg.p12Status === \"87FF\" && msg.p14Status === \"87FF\"){\n    msg.portStatus = \"OK\"\n}else{\n    msg.portStatus = \"NOK\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":1060,"y":400,"wires":[["9bbaad21.7c122","e72979e.57ad088"]]},{"id":"a4b7b9be.e8d3d","type":"switch","z":"5ab47588.643974","name":"check if config is set","property":"configIsSet","propertyType":"flow","rules":[{"t":"eq","v":"OK","vt":"str"},{"t":"neq","v":"OK","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":420,"y":420,"wires":[["78ef48d.3f412b8"],[]]},{"id":"e72979e.57ad088","type":"change","z":"5ab47588.643974","name":"","rules":[{"t":"set","p":"portStatus","pt":"flow","to":"portStatus","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1350,"y":360,"wires":[[]]},{"id":"88081c1a.f7b038","type":"switch","z":"5ab47588.643974","name":"check if PortStatus is set","property":"portStatus","propertyType":"flow","rules":[{"t":"eq","v":"NOK","vt":"str"},{"t":"eq","v":"OK","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":950,"y":820,"wires":[["c741af6d.6ba14","55640083.7ada78"],["cc411dc6.f2a288"]]},{"id":"cc411dc6.f2a288","type":"change","z":"5ab47588.643974","name":"","rules":[{"t":"set","p":"PortsalreadySet","pt":"msg","to":"already set","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1190,"y":840,"wires":[["4075a718.19f1b8","55640083.7ada78"]]},{"id":"4075a718.19f1b8","type":"debug","z":"5ab47588.643974","name":"Ports already set","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"PortsalreadySet","x":1430,"y":840,"wires":[]},{"id":"b7384286.67aba","type":"debug","z":"5ab47588.643974","name":"check msg","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1810,"y":740,"wires":[]},{"id":"2db17f19.01e49","type":"comment","z":"5ab47588.643974","name":"Check if Profinet connect string thing","info":"","x":220,"y":200,"wires":[]},{"id":"56512db7.ed20b4","type":"comment","z":"5ab47588.643974","name":"set ports to IO-Link mode PNT","info":"","x":1400,"y":520,"wires":[]},{"id":"c5135af2.1b6fa","type":"inject","z":"5ab47588.643974","name":"TS-30s","topic":"","payload":"","payloadType":"date","repeat":"30.7","crontab":"","once":true,"onceDelay":"30","x":180,"y":240,"wires":[["7457a7bc.c3ad1"]]},{"id":"c1a2fb14.68ec","type":"function","z":"5ab47588.643974","name":"Set Payload to Buffer - connect String","func":"msg.ip = msg.host;\nmsg.port = '1999';\nmsg.payload = Buffer.from('1A00029900FF494F2D4C696E6B2D4465766963652D546F6F6C00',\"hex\");\n\nreturn msg;\n\n//msg.payload = Buffer.from(msg.payload, \"hex\");\n\n\n//1A00029900FF494F2D4C696E6B2D4465766963652D546F6F6C00","outputs":1,"noerr":0,"x":650,"y":240,"wires":[["161ce90f.ad214f"]]},{"id":"7457a7bc.c3ad1","type":"change","z":"5ab47588.643974","name":"","rules":[{"t":"set","p":"host","pt":"msg","to":"host","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":240,"wires":[["c1a2fb14.68ec"]]},{"id":"4cb3538e.d0d434","type":"function","z":"5ab47588.643974","name":"foreach port","func":"// list of ports to initialize\nlet ports = msg.ports || [0]; \n\n// get port_index from node context, or initialize\nlet port_index = context.get('port_index') || 0;\n\n// finished?\nif (port_index >= ports.length) {\n    context.set('port_index', null); // undefine port_index\n    return null;\n}\n    \n// prepare message:\nmsg.port = (\"00\" + ports[port_index]).slice(-2);\n\n// next port...\ncontext.set('port_index', port_index+1);\n\nmsg.hex = '24 00 02 0F '+ msg.port +' 00 0C 11 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 32 32';\n\nreturn msg;\n\n//24 00.02.0F.00.00.0C.11.00.00.00.00.00.00.00.00.00.00.00.00.00.00.00.00.00.00.00.00.00.00.00.00.00.00.32.32","outputs":"1","noerr":0,"x":1370,"y":560,"wires":[["2e431b95.b73db4","496636f1.57ebf"]]},{"id":"2e431b95.b73db4","type":"delay","z":"5ab47588.643974","name":"","pauseType":"delay","timeout":"50","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1370,"y":600,"wires":[["4cb3538e.d0d434"]]},{"id":"496636f1.57ebf","type":"function","z":"5ab47588.643974","name":"Set Payload to Buffer","func":"var string = msg.hex.replace(/\\s/g,'');\nmsg.ip = msg.host;\nmsg.port = '1999';\nmsg.payload = Buffer.from(string,\"hex\");\n\nreturn msg;\n\n//msg.payload = Buffer.from(msg.payload, \"hex\");\n","outputs":1,"noerr":0,"x":1600,"y":560,"wires":[["789ebf1b.35c638"]]},{"id":"c77b1d12.8af2d","type":"function","z":"5ab47588.643974","name":"Set Payload to Buffer - Idle String","func":"msg.ip = msg.host;\nmsg.port = '1999';\nmsg.payload = Buffer.from('0500029B00',\"hex\");\n\nreturn msg;\n\n//msg.payload = Buffer.from(msg.payload, \"hex\");\n\n\n//1A00029900FF494F2D4C696E6B2D4465766963652D546F6F6C00","outputs":1,"noerr":0,"x":640,"y":280,"wires":[["161ce90f.ad214f"]]},{"id":"dc46041b.560c7","type":"change","z":"5ab47588.643974","name":"","rules":[{"t":"set","p":"host","pt":"msg","to":"host","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":280,"wires":[["c77b1d12.8af2d"]]},{"id":"8bebce21.606b68","type":"inject","z":"5ab47588.643974","name":"TS-5s","topic":"","payload":"","payloadType":"date","repeat":"4.8","crontab":"","once":true,"onceDelay":"5","x":180,"y":280,"wires":[["dc46041b.560c7"]]},{"id":"baffcab7.e06a58","type":"change","z":"5ab47588.643974","name":"set configuration... PNT","rules":[{"t":"set","p":"host","pt":"flow","to":"192.168.2.11","tot":"str"},{"t":"set","p":"ports","pt":"flow","to":"[0,1,2,3,4,5,6,7]","tot":"json"},{"t":"set","p":"configIsSet","pt":"flow","to":"OK","tot":"str"},{"t":"set","p":"host","pt":"global","to":"192.168.2.11","tot":"str"},{"t":"set","p":"ports","pt":"global","to":"[0,1,2,3,4,5,6,7]","tot":"json"},{"t":"set","p":"pnt","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":140,"wires":[[]]},{"id":"161ce90f.ad214f","type":"link out","z":"5ab47588.643974","name":"","links":["fe17f306.ed3c08"],"x":935,"y":260,"wires":[]},{"id":"789ebf1b.35c638","type":"link out","z":"5ab47588.643974","name":"Send UDP from Set Prots","links":["fe17f306.ed3c08"],"x":1755,"y":560,"wires":[]},{"id":"42c75026.9b50a8","type":"ui_group","z":"","name":"Settings","tab":"dd302ac1.a290c8","order":1,"disp":true,"width":"6","collapse":false},{"id":"dd302ac1.a290c8","type":"ui_tab","z":"","name":"IO-Link Master","icon":"dashboard","order":9}]