flow.modules/flow.modules.devices.bos026r/flows.json
[{"id":"f46a095d.2e6a1","type":"function","z":"2a28e33f.924fac","name":"BOS Convert to binary","func":"var string = (parseInt((msg.payload.substr(6, 2)) ,16)).toString(2);\n\nwhile (string.length%8){string=\"0\"+string;}\n\nmsg.payload = string;\n\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":320,"wires":[["9a647428.421be8","c3528a45.c5b39","1cd10968.b5053f","3eca5fd8.44f5e8","d6550a9f.a05578","99833b3b.0899","14054b39.cbf49d","60b56cd5.836bc4"]]},{"id":"1a559902.8940df","type":"comment","z":"2a28e33f.924fac","name":"Process Data","info":"","x":450,"y":100,"wires":[]},{"id":"8cfd2d03.8007b","type":"function","z":"2a28e33f.924fac","name":"ProcessInputs: BOS21ACAP","func":"if (msg.BNIPort === parseInt(global.get('BOS026R'),16) && msg.command === 10) {\n    msg.payload = msg.response.substr(15,8);\n} else {return;\n    \n}\n\nreturn msg;\n//{ payload:msg.payload.substr(15,8) };","outputs":1,"noerr":0,"x":600,"y":320,"wires":[["f46a095d.2e6a1","102bbe8c.1e4bb9"]]},{"id":"102bbe8c.1e4bb9","type":"function","z":"2a28e33f.924fac","name":"BOS Counter","func":"msg.payload = parseInt((msg.payload.substr(0, 2))+(msg.payload.substr(3, 2)) ,16);\nmsg.setting = flow.get('settingBOS21');\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":850,"y":420,"wires":[["a76a27cb.a84e48","d978ebf.307af18","90d10771.8defc","6c27584d.713d8"]]},{"id":"9a647428.421be8","type":"function","z":"2a28e33f.924fac","name":"Index 7","func":"msg.payload = msg.payload.substr(0, 1);\n\nreturn msg;","outputs":1,"noerr":0,"x":1160,"y":80,"wires":[[]]},{"id":"c3528a45.c5b39","type":"function","z":"2a28e33f.924fac","name":"Index 6","func":"msg.payload = msg.payload.substr(1, 1);\n\nreturn msg;","outputs":1,"noerr":0,"x":1160,"y":120,"wires":[[]]},{"id":"1cd10968.b5053f","type":"function","z":"2a28e33f.924fac","name":"Index 5","func":"msg.payload = msg.payload.substr(2, 1);\n\nreturn msg;","outputs":1,"noerr":0,"x":1160,"y":160,"wires":[[]]},{"id":"3eca5fd8.44f5e8","type":"function","z":"2a28e33f.924fac","name":"Index 4","func":"msg.payload = msg.payload.substr(3, 1);\n\nreturn msg;","outputs":1,"noerr":0,"x":1160,"y":200,"wires":[[]]},{"id":"d6550a9f.a05578","type":"function","z":"2a28e33f.924fac","name":"Index 3","func":"msg.payload = msg.payload.substr(4, 1);\n\nreturn msg;","outputs":1,"noerr":0,"x":1160,"y":240,"wires":[[]]},{"id":"99833b3b.0899","type":"function","z":"2a28e33f.924fac","name":"Index 2","func":"msg.payload = msg.payload.substr(5, 1);\n\nreturn msg;","outputs":1,"noerr":0,"x":1160,"y":280,"wires":[[]]},{"id":"14054b39.cbf49d","type":"function","z":"2a28e33f.924fac","name":"Index 1","func":"msg.payload = msg.payload.substr(6, 1);\n\nreturn msg;","outputs":1,"noerr":0,"x":1160,"y":320,"wires":[[]]},{"id":"60b56cd5.836bc4","type":"function","z":"2a28e33f.924fac","name":"Index 0","func":"msg.payload = msg.payload.substr(7, 1);\n\nreturn msg;","outputs":1,"noerr":0,"x":1160,"y":360,"wires":[[]]},{"id":"a76a27cb.a84e48","type":"ui_text","z":"2a28e33f.924fac","group":"52c89f2b.d1fc98","order":2,"width":"7","height":"2","name":"BOS 21 Swich Settings & Counter","label":"{{msg.setting}}","format":"{{msg.payload}}","layout":"row-left","x":1160,"y":440,"wires":[]},{"id":"f1c55194.867858","type":"link in","z":"2a28e33f.924fac","name":"Process Data Hanling","links":["99900e35.ab1578"],"x":415,"y":320,"wires":[["8cfd2d03.8007b"]]},{"id":"d978ebf.307af18","type":"debug","z":"2a28e33f.924fac","name":"BOS21M counter","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1110,"y":400,"wires":[]},{"id":"6c5cee9a.5da4d","type":"function","z":"2a28e33f.924fac","name":"BOS026R Command 07 LowIndex === \"B6\"","func":"if (msg.BNIPort === parseInt(global.get('BOS026R'),16) && msg.command === 08 && msg.LowIndex === \"B6\") {\n    msg.payload = \"BOS026R Set OK\"\n} else {return;\n    \n}\n\nreturn msg;\n//{ payload:msg.payload.substr(15,8) };\n//msg.payload = msg.response;","outputs":1,"noerr":0,"x":650,"y":620,"wires":[["3d68c86c.69bad"]]},{"id":"3d68c86c.69bad","type":"ui_toast","z":"2a28e33f.924fac","position":"bottom left","displayTime":"1.5","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":990,"y":620,"wires":[]},{"id":"4674a080.e6007","type":"comment","z":"2a28e33f.924fac","name":"Service Data 1 second Cycle","info":"","x":500,"y":560,"wires":[]},{"id":"c99bf9c3.edaae8","type":"link in","z":"2a28e33f.924fac","name":"Service Data Hanling","links":["99900e35.ab1578"],"x":415,"y":620,"wires":[["6c5cee9a.5da4d"]]},{"id":"c7b19fa.a5cd0e","type":"function","z":"2a28e33f.924fac","name":"BOS21ADCAP access Gain","func":"if (msg.BNIPort === parseInt(global.get('BOS026R'),16) && msg.command === 9 && msg.LowIndex ===\"BD\" && msg.SubIndex === \"00\") {\n    msg.payload = msg.response.substr(18,5);\n} else {return;\n    \n}\n\nreturn msg;\n//{ payload:msg.payload.substr(15,8) };","outputs":1,"noerr":0,"x":520,"y":860,"wires":[["9dbe72ba.47e2a"]]},{"id":"9dbe72ba.47e2a","type":"function","z":"2a28e33f.924fac","name":"Calc Gain","func":"msg.payload = parseInt((msg.payload.substr(0, 2))+(msg.payload.substr(3, 2)) ,16);\nreturn msg;\n","outputs":1,"noerr":0,"x":800,"y":860,"wires":[["ed133c57.08272","ab990cac.87655","f96ba8f9.63f33"]]},{"id":"8ecc50b4.191f9","type":"function","z":"2a28e33f.924fac","name":"AL_ReadReq Operating Hours BOS21 ","func":"msg.Start = '08 00'; //Startbyte\nmsg.Revision = '02'; //Protokoll Revision 02\nmsg.Command = '02'; // Kommando\nmsg.IOLPort = global.get('BOS026R'); //Port Nummer\nmsg.LowIndex = '57'; //IO-Link Index \nmsg.HighIndex = '00'; //IO-Link Index (meißtens 00)\nmsg.SubIndex = '01'; //IO-Link SubIndex \n\nmsg.PL = msg.payload; //Payload of inject\n\nmsg.hex = msg.Start +\" \"+ msg.Revision +\" \"+ msg.Command +\" \"+ msg.IOLPort +\" \"+ msg.LowIndex +\" \"+ msg.HighIndex +\" \"+ msg.SubIndex;\n\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":1260,"wires":[["456df4d8.f66d8c"]]},{"id":"1c875aeb.9c0b0d","type":"function","z":"2a28e33f.924fac","name":"AL_ReadReq Operating Hours BOS21 Last Maintenance","func":"msg.Start = '08 00'; //Startbyte\nmsg.Revision = '02'; //Protokoll Revision 02\nmsg.Command = '02'; // Kommando\nmsg.IOLPort = global.get('BOS026R'); //Port Nummer\nmsg.LowIndex = '57'; //IO-Link Index \nmsg.HighIndex = '00'; //IO-Link Index (meißtens 00)\nmsg.SubIndex = '02'; //IO-Link SubIndex \n\nmsg.PL = msg.payload; //Payload of inject\n\nmsg.hex = msg.Start +\" \"+ msg.Revision +\" \"+ msg.Command +\" \"+ msg.IOLPort +\" \"+ msg.LowIndex +\" \"+ msg.HighIndex +\" \"+ msg.SubIndex;\n\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":1340,"wires":[["456df4d8.f66d8c"]]},{"id":"5df66e58.996ae8","type":"function","z":"2a28e33f.924fac","name":"AL_ReadReq Access Gain BOS21 ","func":"msg.Start = '08 00'; //Startbyte\nmsg.Revision = '02'; //Protokoll Revision 02\nmsg.Command = '02'; // Kommando\nmsg.IOLPort = global.get('BOS026R'); //Port Nummer\nmsg.LowIndex = 'BD'; //IO-Link Index \nmsg.HighIndex = '00'; //IO-Link Index (meißtens 00)\nmsg.SubIndex = '00'; //IO-Link SubIndex \n\nmsg.PL = msg.payload; //Payload of inject\n\nmsg.hex = msg.Start +\" \"+ msg.Revision +\" \"+ msg.Command +\" \"+ msg.IOLPort +\" \"+ msg.LowIndex +\" \"+ msg.HighIndex +\" \"+ msg.SubIndex;\n\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":700,"wires":[["6022f608.24fc38","c339127e.a002a"]]},{"id":"d49b9c0d.9e5dd","type":"function","z":"2a28e33f.924fac","name":"BOS21ADCAP Operating Hours","func":"if (msg.BNIPort === parseInt(global.get('BOS026R'),16) && msg.command === 9 && msg.LowIndex ===\"57\" && msg.SubIndex === \"01\") {\n    msg.payload = msg.response.substr(18,12);\n} else {return;\n    \n}\n\nreturn msg;\n//{ payload:msg.payload.substr(15,8) };","outputs":1,"noerr":0,"x":550,"y":1820,"wires":[["52ada994.7f3db"]]},{"id":"52ada994.7f3db","type":"function","z":"2a28e33f.924fac","name":"Calc Hours","func":"msg.payload = parseInt((msg.payload.substr(0, 2))+(msg.payload.substr(3, 2))+(msg.payload.substr(6, 2))+(msg.payload.substr(9, 2)),16);\nflow.set('BOSOperatingHours',msg.payload);\nreturn msg;\n","outputs":1,"noerr":0,"x":930,"y":1820,"wires":[["68cbe9a8.80ac08","1d4d7e22.8701d2"]]},{"id":"b2f80aa4.44c5a8","type":"function","z":"2a28e33f.924fac","name":"BOS21ADCAP Operating Hous last maintenance ","func":"if (msg.BNIPort === parseInt(global.get('BOS026R'),16) && msg.command === 9 && msg.LowIndex ===\"57\" && msg.SubIndex === \"02\") {\n    msg.payload = msg.response.substr(18,12);\n} else {return;\n    \n}\n\nreturn msg;\n//{ payload:msg.payload.substr(15,8) };","outputs":1,"noerr":0,"x":610,"y":1860,"wires":[["93b64ca1.a0aaa8"]]},{"id":"93b64ca1.a0aaa8","type":"function","z":"2a28e33f.924fac","name":"Calc Hours","func":"msg.payload = parseInt((msg.payload.substr(0, 2))+(msg.payload.substr(3, 2))+(msg.payload.substr(6, 2))+(msg.payload.substr(9, 2)),16);\nflow.set('BOSOperatingHoursMaintenance',msg.payload);\nreturn msg;\n","outputs":1,"noerr":0,"x":930,"y":1860,"wires":[["2d783138.a5a11e","242a7000.4efab8"]]},{"id":"af417ab6.ae6cf8","type":"function","z":"2a28e33f.924fac","name":"AL_WriteReq BOS21M Type Switch","func":"//msg.Start = '09 00';//9 + Length of Data, 00\nmsg.Revision = '02'; //Protokoll Revision 02\nmsg.Command = '03';\nmsg.IOLPort = global.get('BOS026R');\nmsg.LowIndex = 'BB';\nmsg.HighIndex = '00';\nmsg.SubIndex = '00';\nmsg.LengthOfData = '01';\nmsg.Data = msg.payload//msg.DataIn;\n\nif ((9 + parseInt(msg.LengthOfData)) <16) {\n    msg.Start = \"0\"+ (9 + parseInt(msg.LengthOfData)).toString(16) + \" 00\";\n} else { \n    msg.Start = (9 + parseInt(msg.LengthOfData)).toString(16)+ \" 00\";\n}\n\nmsg.hex = msg.Start +\" \"+ msg.Revision +\" \"+ msg.Command +\" \"+ msg.IOLPort +\" \"+ msg.LowIndex +\" \"+ msg.HighIndex +\" \"+ msg.SubIndex +\" \"+ msg.LengthOfData +\" \"+ msg.Data;\n\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":2320,"wires":[["b9bd73da.59757"]]},{"id":"ed133c57.08272","type":"ui_chart","z":"2a28e33f.924fac","name":"","group":"5777d7b7.74d6b","order":1,"width":"16","height":"14","label":"Access Gain","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"2500","removeOlder":"20","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":970,"y":860,"wires":[[],[]]},{"id":"896f0c96.9232f","type":"function","z":"2a28e33f.924fac","name":"AL_ReadReq BOS21 LED Lifetime","func":"msg.Start = '08 00'; //Startbyte\nmsg.Revision = '02'; //Protokoll Revision 02\nmsg.Command = '02'; // Kommando\nmsg.IOLPort = global.get('BOS026R'); //Port Nummer\nmsg.LowIndex = 'BE'; //IO-Link Index \nmsg.HighIndex = '00'; //IO-Link Index (meißtens 00)\nmsg.SubIndex = '00'; //IO-Link SubIndex \n\nmsg.PL = msg.payload; //Payload of inject\n\nmsg.hex = msg.Start +\" \"+ msg.Revision +\" \"+ msg.Command +\" \"+ msg.IOLPort +\" \"+ msg.LowIndex +\" \"+ msg.HighIndex +\" \"+ msg.SubIndex;\n\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":1380,"wires":[["456df4d8.f66d8c"]]},{"id":"81dc31fc.f5cd08","type":"function","z":"2a28e33f.924fac","name":"BOS21ADCAP LED Lifetime","func":"if (msg.BNIPort === parseInt(global.get('BOS026R'),16) && msg.command === 9 && msg.LowIndex === \"BE\" && msg.SubIndex === \"00\") {\n    msg.payload = msg.response.substr(18,3);\n} else {return;\n    \n}\n\nreturn msg;\n//{ payload:msg.payload.substr(15,8) };","outputs":1,"noerr":0,"x":540,"y":1900,"wires":[["ab85df7d.a74078"]]},{"id":"ab85df7d.a74078","type":"function","z":"2a28e33f.924fac","name":"Calc LED Power","func":"msg.payload = parseInt(msg.payload.substr(0, 2),16);\nreturn msg;\n","outputs":1,"noerr":0,"x":920,"y":1900,"wires":[["5e999d81.c09564","f7f0bcde.7dc4b"]]},{"id":"2b302e07.2fe3e2","type":"function","z":"2a28e33f.924fac","name":"AL_ReadReq BOS21M Vendeor name","func":"msg.Start = '08 00'; //Startbyte\nmsg.Revision = '02'; //Protokoll Revision 02\nmsg.Command = '02'; // Kommando\nmsg.IOLPort = global.get('BOS026R'); //Port Nummer\nmsg.LowIndex = '10'; //IO-Link Index \nmsg.HighIndex = '00'; //IO-Link Index (meißtens 00)\nmsg.SubIndex = '00'; //IO-Link SubIndex \n\nmsg.PL = msg.payload; //Payload of inject\n\nmsg.hex = msg.Start +\" \"+ msg.Revision +\" \"+ msg.Command +\" \"+ msg.IOLPort +\" \"+ msg.LowIndex +\" \"+ msg.HighIndex +\" \"+ msg.SubIndex;\n\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":1420,"wires":[["456df4d8.f66d8c"]]},{"id":"141e52ba.6fdc6d","type":"function","z":"2a28e33f.924fac","name":"BOS21ADCAP Vendor Name","func":"if (msg.BNIPort === parseInt(global.get('BOS026R'),16) && msg.command === 9 && msg.LowIndex === \"10\" && msg.SubIndex === \"00\") {\n    msg.payload = msg.response.substr(18,21);\n} else {return;\n    \n}\n\nreturn msg;\n//{ payload:msg.payload.substr(15,8) };","outputs":1,"noerr":0,"x":540,"y":1940,"wires":[["e31c99d2.ac1fd"]]},{"id":"e31c99d2.ac1fd","type":"function","z":"2a28e33f.924fac","name":"Hex to Ascii","func":"var string = msg.payload.replace(/\\s/g,'');\n\nmsg.balluffHex = Buffer.from(string,\"hex\");\nmsg.payload = msg.balluffHex.toString('ascii')\n\nreturn msg;\n","outputs":1,"noerr":0,"x":930,"y":1940,"wires":[["7f5a0c87.196574"]]},{"id":"7f5a0c87.196574","type":"ui_text","z":"2a28e33f.924fac","group":"2ff2295d.292c06","order":5,"width":0,"height":0,"name":"","label":"Vendor Name:","format":"{{msg.payload}}","layout":"row-left","x":1100,"y":1940,"wires":[]},{"id":"59169cad.65d17c","type":"function","z":"2a28e33f.924fac","name":"AL_ReadReq BOS21M product Code ","func":"msg.Start = '08 00'; //Startbyte\nmsg.Revision = '02'; //Protokoll Revision 02\nmsg.Command = '02'; // Kommando\nmsg.IOLPort = global.get('BOS026R'); //Port Nummer\nmsg.LowIndex = '13'; //IO-Link Index \nmsg.HighIndex = '00'; //IO-Link Index (meißtens 00)\nmsg.SubIndex = '00'; //IO-Link SubIndex \n\nmsg.PL = msg.payload; //Payload of inject\n\nmsg.hex = msg.Start +\" \"+ msg.Revision +\" \"+ msg.Command +\" \"+ msg.IOLPort +\" \"+ msg.LowIndex +\" \"+ msg.HighIndex +\" \"+ msg.SubIndex;\n\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":1460,"wires":[["456df4d8.f66d8c"]]},{"id":"7b1b5ba6.3eb83c","type":"function","z":"2a28e33f.924fac","name":"BOS21ADCAP Order Code","func":"if (msg.BNIPort === parseInt(global.get('BOS026R'),16) && msg.command === 9 && msg.LowIndex === \"13\" && msg.SubIndex === \"00\") {\n    msg.payload = msg.response.substr(18,21);\n} else {return;\n    \n}\n\nreturn msg;\n//{ payload:msg.payload.substr(15,8) };","outputs":1,"noerr":0,"x":540,"y":1980,"wires":[["b7c80f70.743f08","199fa0b7.5214df"]]},{"id":"b7c80f70.743f08","type":"function","z":"2a28e33f.924fac","name":"Hex to Ascii","func":"var string = msg.payload.replace(/\\s/g,'');\n\nmsg.balluffHex = Buffer.from(string,\"hex\");\nmsg.payload = msg.balluffHex.toString('ascii')\n\nreturn msg;\n","outputs":1,"noerr":0,"x":930,"y":1980,"wires":[["eb878220.21d61"]]},{"id":"eb878220.21d61","type":"ui_text","z":"2a28e33f.924fac","group":"2ff2295d.292c06","order":7,"width":0,"height":0,"name":"","label":"Order Code:","format":"{{msg.payload}}","layout":"row-left","x":1090,"y":1980,"wires":[]},{"id":"5bc2cc18.dd923c","type":"function","z":"2a28e33f.924fac","name":"AL_ReadReq BOS21M Serial Number","func":"msg.Start = '08 00'; //Startbyte\nmsg.Revision = '02'; //Protokoll Revision 02\nmsg.Command = '02'; // Kommando\nmsg.IOLPort = global.get('BOS026R'); //Port Nummer\nmsg.LowIndex = '15'; //IO-Link Index \nmsg.HighIndex = '00'; //IO-Link Index (meißtens 00)\nmsg.SubIndex = '00'; //IO-Link SubIndex \n\nmsg.PL = msg.payload; //Payload of inject\n\nmsg.hex = msg.Start +\" \"+ msg.Revision +\" \"+ msg.Command +\" \"+ msg.IOLPort +\" \"+ msg.LowIndex +\" \"+ msg.HighIndex +\" \"+ msg.SubIndex;\n\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":1500,"wires":[["456df4d8.f66d8c"]]},{"id":"1f0c7c91.33ae0b","type":"function","z":"2a28e33f.924fac","name":"BOS21ADCAP Serial Number","func":"\nif (msg.BNIPort === parseInt(global.get('BOS026R'),16) && msg.command === 9 && msg.LowIndex === \"15\" && msg.SubIndex === \"00\") {\n    msg.payload = msg.response.substr(18,39);\n} else {return;\n    \n}\n\nreturn msg;\n//{ payload:msg.payload.substr(15,8) };","outputs":1,"noerr":0,"x":550,"y":2020,"wires":[["45902bc0.c1f454"]]},{"id":"45902bc0.c1f454","type":"function","z":"2a28e33f.924fac","name":"Hex to Ascii","func":"var string = msg.payload.replace(/\\s/g,'');\n\nmsg.balluffHex = Buffer.from(string,\"hex\");\nmsg.payload = msg.balluffHex.toString('ascii')\n\nreturn msg;\n","outputs":1,"noerr":0,"x":930,"y":2020,"wires":[["6e176c5a.6322b4"]]},{"id":"6e176c5a.6322b4","type":"ui_text","z":"2a28e33f.924fac","group":"2ff2295d.292c06","order":6,"width":0,"height":0,"name":"","label":"Serial Number:","format":"{{msg.payload}}","layout":"row-left","x":1100,"y":2020,"wires":[]},{"id":"8573ec90.d19ad8","type":"function","z":"2a28e33f.924fac","name":"AL_ReadReq BOS21M Sensor Principle","func":"msg.Start = '08 00'; //Startbyte\nmsg.Revision = '02'; //Protokoll Revision 02\nmsg.Command = '02'; // Kommando\nmsg.IOLPort = global.get('BOS026R'); //Port Nummer\nmsg.LowIndex = 'BB'; //IO-Link Index \nmsg.HighIndex = '00'; //IO-Link Index (meißtens 00)\nmsg.SubIndex = '00'; //IO-Link SubIndex \n\nmsg.PL = msg.payload; //Payload of inject\n\nmsg.hex = msg.Start +\" \"+ msg.Revision +\" \"+ msg.Command +\" \"+ msg.IOLPort +\" \"+ msg.LowIndex +\" \"+ msg.HighIndex +\" \"+ msg.SubIndex;\n\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":740,"wires":[["c339127e.a002a"]]},{"id":"f5c641f7.4c2d4","type":"function","z":"2a28e33f.924fac","name":"BOS21ADCAP sensor principle","func":"if (msg.BNIPort === parseInt(global.get('BOS026R'),16) && msg.command === 9 && msg.LowIndex === \"BB\" && msg.SubIndex === \"00\") {\n    msg.payload = msg.response.substr(18,2);\n} else {return;\n    \n}\n\nreturn msg;\n//{ payload:msg.payload.substr(15,8) };","outputs":1,"noerr":0,"x":530,"y":980,"wires":[["c4fc3100.e1eb"]]},{"id":"c4fc3100.e1eb","type":"function","z":"2a28e33f.924fac","name":"Transform","func":"var principle = msg.payload;\n\nif(principle === \"00\"){\n    msg.payload = \"Diffuse  sensor\"\n} else if(principle === \"01\"){\n    msg.payload = \"Diffuse sensor BGS\"\n} else if(principle === \"02\"){\n    msg.payload = \"Retro-reflective\"\n}\nflow.set ('bosType',msg.payload)    \nreturn msg;","outputs":1,"noerr":0,"x":770,"y":980,"wires":[["d34b812c.f082d"]]},{"id":"d34b812c.f082d","type":"ui_text","z":"2a28e33f.924fac","group":"52c89f2b.d1fc98","order":1,"width":"0","height":"0","name":"","label":"Sensor Principle:","format":"{{msg.payload}}","layout":"row-left","x":990,"y":980,"wires":[]},{"id":"fc72dda0.9ea4b8","type":"ui_dropdown","z":"2a28e33f.924fac","name":"","label":"Switch Counter Settings","place":"Select option","group":"52c89f2b.d1fc98","order":3,"width":0,"height":0,"passthru":true,"options":[{"label":"Inactive","value":"00","type":"str"},{"label":"Static Counter","value":"01","type":"str"},{"label":"Auto Reset","value":"02","type":"str"},{"label":"Speed","value":"03","type":"str"}],"payload":"","topic":"","x":230,"y":2440,"wires":[["d2bb4ec3.e2a0a","b0c9f583.0aaf48"]]},{"id":"d2bb4ec3.e2a0a","type":"function","z":"2a28e33f.924fac","name":"AL_WriteReq BOS21M Type Switch","func":"//msg.Start = '09 00';//9 + Length of Data, 00\nmsg.Revision = '02'; //Protokoll Revision 02\nmsg.Command = '03';\nmsg.IOLPort = global.get('BOS026R');\nmsg.LowIndex = 'B6';\nmsg.HighIndex = '00';\nmsg.SubIndex = '01';\nmsg.LengthOfData = '01';\nmsg.Data = msg.payload//msg.DataIn;\n\nif ((9 + parseInt(msg.LengthOfData)) <16) {\n    msg.Start = \"0\"+ (9 + parseInt(msg.LengthOfData)).toString(16) + \" 00\";\n} else { \n    msg.Start = (9 + parseInt(msg.LengthOfData)).toString(16)+ \" 00\";\n}\n\nmsg.hex = msg.Start +\" \"+ msg.Revision +\" \"+ msg.Command +\" \"+ msg.IOLPort +\" \"+ msg.LowIndex +\" \"+ msg.HighIndex +\" \"+ msg.SubIndex +\" \"+ msg.LengthOfData +\" \"+ msg.Data;\n\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":2440,"wires":[["b9bd73da.59757"]]},{"id":"751d78f.beb4a08","type":"function","z":"2a28e33f.924fac","name":"AL_ReadReq BOS21M Stresslevel","func":"msg.Start = '08 00'; //Startbyte\nmsg.Revision = '02'; //Protokoll Revision 02\nmsg.Command = '02'; // Kommando\nmsg.IOLPort = global.get('BOS026R'); //Port Nummer\nmsg.LowIndex = '00'; //IO-Link Index \nmsg.HighIndex = '05'; //IO-Link Index (meißtens 00)\nmsg.SubIndex = '00'; //IO-Link SubIndex \nmsg.Index = 'XF';\nmsg.PL = msg.payload; //Payload of inject\n\nmsg.hex = msg.Start +\" \"+ msg.Revision +\" \"+ msg.Command +\" \"+ msg.IOLPort +\" \"+ msg.LowIndex +\" \"+ msg.HighIndex +\" \"+ msg.SubIndex;\n\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":1540,"wires":[["8cb1aa52.1fe3b"]]},{"id":"453e62fa.121494","type":"function","z":"2a28e33f.924fac","name":"BOS21ADCAP Stresslevel","func":"if (msg.BNIPort === parseInt(global.get('BOS026R'),16) && msg.command === 9 && msg.LowIndex === \"XF\" && msg.SubIndex === \"00\") {\n    msg.payload = msg.response.substr(18,2);\n} else {return;\n    \n}\n\nreturn msg;\n//{ payload:msg.payload.substr(15,8) };","outputs":1,"noerr":0,"x":540,"y":2060,"wires":[["61fcf01.5126f1"]]},{"id":"61fcf01.5126f1","type":"function","z":"2a28e33f.924fac","name":"Transform","func":"var principle = msg.payload;\n\nif(principle === \"01\"){\n    msg.payload = \"Good\"\n} else if(principle === \"02\"){\n    msg.payload = \"Heavy Load\"\n} else if(principle === \"03\"){\n    msg.payload = \"Critical\"\n}\n\nflow.set('BOSStressLevel',msg.payload)\n    \nreturn msg;","outputs":1,"noerr":0,"x":920,"y":2060,"wires":[["e8c64b.4998f1b8","df7cebfe.5bcf18","d38f043e.aa0688"]]},{"id":"e8c64b.4998f1b8","type":"ui_text","z":"2a28e33f.924fac","group":"2ff2295d.292c06","order":4,"width":0,"height":0,"name":"","label":"Stress level:","format":"{{msg.payload}}","layout":"row-left","x":1090,"y":2060,"wires":[]},{"id":"2d783138.a5a11e","type":"ui_text","z":"2a28e33f.924fac","group":"2ff2295d.292c06","order":3,"width":0,"height":0,"name":"","label":"Last maintenance:","format":"{{msg.payload}} h","layout":"row-left","x":1110,"y":1860,"wires":[]},{"id":"68cbe9a8.80ac08","type":"ui_text","z":"2a28e33f.924fac","group":"2ff2295d.292c06","order":2,"width":0,"height":0,"name":"","label":"Operating Hours:","format":"{{msg.payload}} h","layout":"row-left","x":1110,"y":1820,"wires":[]},{"id":"5e999d81.c09564","type":"ui_text","z":"2a28e33f.924fac","group":"2ff2295d.292c06","order":3,"width":0,"height":0,"name":"","label":"LED Life Time:","format":"{{msg.payload}} %","layout":"row-left","x":1100,"y":1900,"wires":[]},{"id":"548d5da3.93fb04","type":"ui_numeric","z":"2a28e33f.924fac","name":"","label":"Counter Limit ","group":"52c89f2b.d1fc98","order":4,"width":"7","height":"2","passthru":false,"topic":"","format":"{{value}}","min":"1","max":"100","step":1,"x":190,"y":2520,"wires":[["37c378a0.c9c34"]]},{"id":"b5e76359.96c9e8","type":"function","z":"2a28e33f.924fac","name":"AL_WriteReq BOS21M Type Switch Value","func":"//msg.Start = '09 00';//9 + Length of Data, 00\nmsg.Revision = '02'; //Protokoll Revision 02\nmsg.Command = '03';\nmsg.IOLPort = global.get('BOS026R');\nmsg.LowIndex = 'B6';\nmsg.HighIndex = '00';\nmsg.SubIndex = '02';\nmsg.LengthOfData = '02';\n//msg.Data = msg.payload//msg.DataIn;\n\nif ((9 + parseInt(msg.LengthOfData)) <16) {\n    msg.Start = \"0\"+ (9 + parseInt(msg.LengthOfData)).toString(16) + \" 00\";\n} else { \n    msg.Start = (9 + parseInt(msg.LengthOfData)).toString(16)+ \" 00\";\n}\n\nif ((msg.payload) <16) {\n    msg.Data = \"00 0\"+ (msg.payload.toString(16));\n} else if (msg.payload >=16 && msg.payload < 256){\n    msg.Data = \"00 \" + (msg.payload.toString(16));\n} else if (msg.payload >=256 && msg.payload < 4096){\n    msg.Data = \"0\" + (msg.payload.toString(16));\n} else { \n    msg.Data = (msg.payload.toString(16));\n}\n\nmsg.hex = msg.Start +\" \"+ msg.Revision +\" \"+ msg.Command +\" \"+ msg.IOLPort +\" \"+ msg.LowIndex +\" \"+ msg.HighIndex +\" \"+ msg.SubIndex +\" \"+ msg.LengthOfData +\" \"+ msg.Data;\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":640,"y":2520,"wires":[["b9bd73da.59757"]]},{"id":"37c378a0.c9c34","type":"delay","z":"2a28e33f.924fac","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":380,"y":2520,"wires":[["b5e76359.96c9e8"]]},{"id":"b0c9f583.0aaf48","type":"function","z":"2a28e33f.924fac","name":"Set Flow settingBOS21","func":"if(msg.payload === \"00\"){\n    flow.set('settingBOS21',\"inactive\")\n}else if (msg.payload === \"01\"){\n    flow.set('settingBOS21',\"Static Counter: \")\n}else if (msg.payload === \"02\"){\n    flow.set('settingBOS21',\"Automatic Reset Counter: \")\n}else if (msg.payload === \"03\"){\n    flow.set('settingBOS21',\"Parts per Minute :\")\n}\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":2400,"wires":[[]]},{"id":"67f3ebb4.23bb2c","type":"ui_dropdown","z":"2a28e33f.924fac","name":"","label":"Switch BOS21 Type","place":"Select option","group":"52c89f2b.d1fc98","order":3,"width":0,"height":0,"passthru":true,"options":[{"label":"Diffuse","value":"00","type":"str"},{"label":"Diffuse BGS","value":"01","type":"str"},{"label":"Retro Reflective","value":"02","type":"str"}],"payload":"","topic":"","x":220,"y":2320,"wires":[["af417ab6.ae6cf8"]]},{"id":"856e0bb1.a7b2c","type":"inject","z":"2a28e33f.924fac","name":"","topic":"","payload":"02","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":190,"y":2400,"wires":[["b0c9f583.0aaf48"]]},{"id":"378c12f4.1b41f6","type":"inject","z":"2a28e33f.924fac","name":"TS-30s","topic":"","payload":"","payloadType":"date","repeat":"30","crontab":"","once":false,"onceDelay":"15","x":140,"y":1280,"wires":[["91a999c.8917868"]]},{"id":"8ebfa02.57d29e","type":"inject","z":"2a28e33f.924fac","name":"TS-1s","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":"","x":160,"y":740,"wires":[["d9fe63fe.cdf16"]]},{"id":"d9fe63fe.cdf16","type":"switch","z":"2a28e33f.924fac","name":"check if Sensors are set?","property":"SensorsAreSet","propertyType":"global","rules":[{"t":"eq","v":"OK","vt":"str"},{"t":"neq","v":"OK","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":740,"wires":[["8573ec90.d19ad8"],["b2fec695.bd73c8"]]},{"id":"b2fec695.bd73c8","type":"change","z":"2a28e33f.924fac","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Sensors Not Set","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":780,"wires":[["1b385ee8.ba5e61"]]},{"id":"91a999c.8917868","type":"switch","z":"2a28e33f.924fac","name":"","property":"SensorsAreSet","propertyType":"global","rules":[{"t":"eq","v":"OK","vt":"str"},{"t":"neq","v":"OK","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":270,"y":1280,"wires":[["8ecc50b4.191f9","1c875aeb.9c0b0d","896f0c96.9232f","2b302e07.2fe3e2","59169cad.65d17c","5bc2cc18.dd923c","751d78f.beb4a08"],["53d66f71.0c439"]]},{"id":"53d66f71.0c439","type":"change","z":"2a28e33f.924fac","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Sensors Not Set","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":1300,"wires":[["8c95136.c1554f"]]},{"id":"c339127e.a002a","type":"function","z":"2a28e33f.924fac","name":"Set Payload to Buffer","func":"if (msg.hex.includes(undefined) === false){\n    var string = msg.hex.replace(/\\s/g,'');\n    msg.ip = global.get('host');\n    msg.port = '1999';\n    msg.payload = Buffer.from(string,\"hex\");\n} else {\n    msg.payload = \"not Present\"\n}\n\nreturn msg;\n\n//msg.payload = Buffer.from(msg.payload, \"hex\");\n","outputs":1,"noerr":0,"x":1300,"y":760,"wires":[["39361a7a.b5dd46"]]},{"id":"39361a7a.b5dd46","type":"switch","z":"2a28e33f.924fac","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"not Present","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1490,"y":760,"wires":[["49c5f2c0.e1d8a4"],["744af228.1e563c"]]},{"id":"b9bd73da.59757","type":"function","z":"2a28e33f.924fac","name":"Set Payload to Buffer","func":"if (msg.hex.includes(undefined) === false){\n    var string = msg.hex.replace(/\\s/g,'');\n    msg.ip = global.get('host');\n    msg.port = '1999';\n    msg.payload = Buffer.from(string,\"hex\");\n} else {\n    msg.payload = \"not Present\"\n}\n\nreturn msg;\n\n//msg.payload = Buffer.from(msg.payload, \"hex\");\n","outputs":1,"noerr":0,"x":1020,"y":2400,"wires":[["c5a72ca1.39d8d"]]},{"id":"c5a72ca1.39d8d","type":"switch","z":"2a28e33f.924fac","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"not Present","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1390,"y":2400,"wires":[["1d138951.aa560f"],["73132d64.4dd5c4"]]},{"id":"62f42c3e.f5411c","type":"function","z":"2a28e33f.924fac","name":"Set Payload to Buffer","func":"if (msg.hex.includes(undefined) === false){\n    var string = msg.hex.replace(/\\s/g,'');\n    msg.ip = global.get('host');\n    msg.port = '1999';\n    msg.payload = Buffer.from(string,\"hex\");\n} else {\n    msg.payload = \"not Present\"\n}\n\nreturn msg;\n\n//msg.payload = Buffer.from(msg.payload, \"hex\");\n","outputs":1,"noerr":0,"x":1320,"y":1360,"wires":[["2e9b3fd2.577e18"]]},{"id":"2e9b3fd2.577e18","type":"switch","z":"2a28e33f.924fac","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"not Present","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1550,"y":1360,"wires":[["8c472b76.d1a83"],["32e2363c.2a392a"]]},{"id":"25a3e947.558406","type":"function","z":"2a28e33f.924fac","name":"WriteProcessDataReq","func":"//msg.Start = '05 00';//5 + Length of Data, 00\nmsg.Revision = '02'; //Protokoll Revision 02\nmsg.Command = '0B'; // In Hex\nmsg.IOLPort =  global.get('BOS026R'); // In Hex\nmsg.LengthOfData = '01'; //in count of Hex Bytes\nmsg.Data = msg.payload; //port data in HEX\nmsg.PL = msg.payload; //Payload of inject\n\n\nif ((5+parseInt(msg.LengthOfData)) <15) {\n    msg.Start = \"0\"+ (5+parseInt(msg.LengthOfData)).toString(16) + \" 00\";\n} else { \n    msg.Start = (5+parseInt(msg.LengthOfData)).toString(16)+ \" 00\";\n}\n\nmsg.hex = msg.Start +\" \"+ msg.Revision +\" \"+ msg.Command +\" \"+ msg.IOLPort +\" \"+ msg.Data;\n\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":2700,"wires":[["e3a0dbfa.bfa2e8"]]},{"id":"ca03d012.a931e8","type":"function","z":"2a28e33f.924fac","name":"WriteProcessDataReq","func":"//msg.Start = '05 00';//5 + Length of Data, 00\nmsg.Revision = '02'; //Protokoll Revision 02\nmsg.Command = '0B'; // In Hex\nmsg.IOLPort =  global.get('BOS026R'); // In Hex\nmsg.LengthOfData = '01'; //in count of Hex Bytes\nmsg.Data = msg.payload; //port data in HEX\nmsg.PL = msg.payload; //Payload of inject\n\n\nif ((5+parseInt(msg.LengthOfData)) <15) {\n    msg.Start = \"0\"+ (5+parseInt(msg.LengthOfData)).toString(16) + \" 00\";\n} else { \n    msg.Start = (5+parseInt(msg.LengthOfData)).toString(16)+ \" 00\";\n}\n\nmsg.hex = msg.Start +\" \"+ msg.Revision +\" \"+ msg.Command +\" \"+ msg.IOLPort +\" \"+ msg.Data;\n\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":2760,"wires":[["e3a0dbfa.bfa2e8"]]},{"id":"5229f145.e290d","type":"ui_button","z":"2a28e33f.924fac","name":"","group":"52c89f2b.d1fc98","order":0,"width":0,"height":0,"passthru":false,"label":"RESET COUNTER","color":"","bgcolor":"","icon":"","payload":"01","payloadType":"str","topic":"","x":210,"y":2780,"wires":[["ca03d012.a931e8"]]},{"id":"bbae8380.59db1","type":"ui_button","z":"2a28e33f.924fac","name":"","group":"52c89f2b.d1fc98","order":0,"width":0,"height":0,"passthru":false,"label":"LED OFF","color":"","bgcolor":"","icon":"","payload":"03","payloadType":"str","topic":"","x":180,"y":2740,"wires":[["ca03d012.a931e8"]]},{"id":"4dd117bc.f16828","type":"ui_button","z":"2a28e33f.924fac","name":"","group":"52c89f2b.d1fc98","order":0,"width":0,"height":0,"passthru":false,"label":"LED ON","color":"","bgcolor":"","icon":"","payload":"00","payloadType":"str","topic":"","x":180,"y":2700,"wires":[["25a3e947.558406"]]},{"id":"1b385ee8.ba5e61","type":"debug","z":"2a28e33f.924fac","name":"sensors not set BOS026R","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":850,"y":780,"wires":[]},{"id":"744af228.1e563c","type":"debug","z":"2a28e33f.924fac","name":"BOS026R not Present","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1720,"y":780,"wires":[]},{"id":"49c5f2c0.e1d8a4","type":"link out","z":"2a28e33f.924fac","name":"1s Service Data sender","links":["2514d289.79f41e"],"x":1635,"y":740,"wires":[]},{"id":"433e4405.e9d76c","type":"link in","z":"2a28e33f.924fac","name":"1s Service Data return","links":["99900e35.ab1578"],"x":275,"y":860,"wires":[["c7b19fa.a5cd0e","f5c641f7.4c2d4","6932c9cd.9e95e8"]]},{"id":"590737fe.d75e88","type":"comment","z":"2a28e33f.924fac","name":"Service Data 5 min Cycle","info":"","x":490,"y":1160,"wires":[]},{"id":"8c472b76.d1a83","type":"link out","z":"2a28e33f.924fac","name":"5min service Data sender","links":["2514d289.79f41e"],"x":1695,"y":1340,"wires":[]},{"id":"32e2363c.2a392a","type":"debug","z":"2a28e33f.924fac","name":"BOS026R not Present","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1780,"y":1380,"wires":[]},{"id":"e14ce8b7.7946a","type":"link in","z":"2a28e33f.924fac","name":"c5min service data return","links":["99900e35.ab1578"],"x":215,"y":1940,"wires":[["d49b9c0d.9e5dd","b2f80aa4.44c5a8","81dc31fc.f5cd08","141e52ba.6fdc6d","7b1b5ba6.3eb83c","1f0c7c91.33ae0b","453e62fa.121494"]]},{"id":"8c95136.c1554f","type":"debug","z":"2a28e33f.924fac","name":"sensors not set BOS026R","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":830,"y":1300,"wires":[]},{"id":"73132d64.4dd5c4","type":"debug","z":"2a28e33f.924fac","name":"BOS026R not Present","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1620,"y":2420,"wires":[]},{"id":"e3a0dbfa.bfa2e8","type":"function","z":"2a28e33f.924fac","name":"Set Payload to Buffer","func":"if (msg.hex.includes(undefined) === false){\n    var string = msg.hex.replace(/\\s/g,'');\n    msg.ip = global.get('host');\n    msg.port = '1999';\n    msg.payload = Buffer.from(string,\"hex\");\n} else {\n    msg.payload = \"not Present\"\n}\n\nreturn msg;\n\n//msg.payload = Buffer.from(msg.payload, \"hex\");\n","outputs":1,"noerr":0,"x":1020,"y":2720,"wires":[["3b01316f.b400be"]]},{"id":"3b01316f.b400be","type":"switch","z":"2a28e33f.924fac","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"not Present","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1390,"y":2720,"wires":[["280a3efd.9cbff2"],["33a1e2fa.360436"]]},{"id":"6c16560.64bf9ac","type":"comment","z":"2a28e33f.924fac","name":"Write Service data","info":"","x":390,"y":2260,"wires":[]},{"id":"93f587c0.2d2968","type":"comment","z":"2a28e33f.924fac","name":"Write Process Data ","info":"","x":370,"y":2660,"wires":[]},{"id":"1d138951.aa560f","type":"link out","z":"2a28e33f.924fac","name":"Write Service Data send","links":["2514d289.79f41e"],"x":1535,"y":2380,"wires":[]},{"id":"280a3efd.9cbff2","type":"link out","z":"2a28e33f.924fac","name":"Write Process Data send","links":["2514d289.79f41e"],"x":1535,"y":2700,"wires":[]},{"id":"33a1e2fa.360436","type":"debug","z":"2a28e33f.924fac","name":"BOS026R not Present","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1620,"y":2740,"wires":[]},{"id":"8cb1aa52.1fe3b","type":"change","z":"2a28e33f.924fac","name":"","rules":[{"t":"set","p":"LowIndex","pt":"msg","to":"Index","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":1540,"wires":[["1022af65.02e551","456df4d8.f66d8c"]]},{"id":"6932c9cd.9e95e8","type":"function","z":"2a28e33f.924fac","name":"BOS21ADCAP access Gain Error","func":"if (msg.BNIPort === parseInt(global.get('BOS026R'),16) && msg.command === 6 && msg.LowIndex ===\"BD\" && msg.SubIndex === \"00\") {\n    msg.payload = \"Access Gain Error please check the Sensor\"\n} else {return;\n    \n}\n\nreturn msg;\n//{ payload:msg.payload.substr(15,8) };","outputs":1,"noerr":0,"x":540,"y":900,"wires":[["7fe3fb62.581ddc","30374b88.d21504"]]},{"id":"7fe3fb62.581ddc","type":"debug","z":"2a28e33f.924fac","name":"Access Gain Error ","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":990,"y":940,"wires":[]},{"id":"30374b88.d21504","type":"ui_toast","z":"2a28e33f.924fac","position":"top right","displayTime":"2s","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":990,"y":900,"wires":[]},{"id":"df7cebfe.5bcf18","type":"debug","z":"2a28e33f.924fac","name":"Check if flow has succedded","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1170,"y":2120,"wires":[]},{"id":"1022af65.02e551","type":"debug","z":"2a28e33f.924fac","name":"Check if flow has succedded","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1300,"y":1560,"wires":[]},{"id":"6022f608.24fc38","type":"debug","z":"2a28e33f.924fac","name":"Check if flow has succedded","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1160,"y":700,"wires":[]},{"id":"456df4d8.f66d8c","type":"simple-queue","z":"2a28e33f.924fac","name":"queue1","firstMessageBypass":true,"bypassInterval":"500","x":1120,"y":1360,"wires":[["62f42c3e.f5411c"]]},{"id":"90d10771.8defc","type":"change","z":"2a28e33f.924fac","name":"","rules":[{"t":"set","p":"BOS026R_counter","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1130,"y":480,"wires":[[]]},{"id":"1d4d7e22.8701d2","type":"change","z":"2a28e33f.924fac","name":"","rules":[{"t":"set","p":"BOS026R_operating_hours","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1390,"y":1820,"wires":[[]]},{"id":"242a7000.4efab8","type":"change","z":"2a28e33f.924fac","name":"","rules":[{"t":"set","p":"BOS026R_last_maintenance","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1400,"y":1860,"wires":[[]]},{"id":"f7f0bcde.7dc4b","type":"change","z":"2a28e33f.924fac","name":"","rules":[{"t":"set","p":"BOS026R_LED_life_time","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1380,"y":1900,"wires":[[]]},{"id":"d38f043e.aa0688","type":"change","z":"2a28e33f.924fac","name":"","rules":[{"t":"set","p":"BOS026R_stress_level","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1380,"y":2060,"wires":[[]]},{"id":"6c27584d.713d8","type":"link out","z":"2a28e33f.924fac","name":"BOS21 counter","links":["37daf758.071ee8","ea7a4955.1050d8"],"x":1035,"y":520,"wires":[]},{"id":"199fa0b7.5214df","type":"debug","z":"2a28e33f.924fac","name":"Check if flow has succedded","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":980,"y":2180,"wires":[]},{"id":"ab990cac.87655","type":"change","z":"2a28e33f.924fac","name":"","rules":[{"t":"set","p":"BOS026R_gain","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1270,"y":880,"wires":[[]]},{"id":"f96ba8f9.63f33","type":"debug","z":"2a28e33f.924fac","name":"BOS026R Gain","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1060,"y":820,"wires":[]},{"id":"26b1f79b.3a21a","type":"switch","z":"2a28e33f.924fac","name":"check if Sensors are set?","property":"SensorsAreSet","propertyType":"global","rules":[{"t":"eq","v":"OK","vt":"str"},{"t":"neq","v":"OK","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":680,"wires":[["5df66e58.996ae8"],["b2fec695.bd73c8"]]},{"id":"c85df690.8b47f8","type":"inject","z":"2a28e33f.924fac","name":"TS-2.1s","topic":"","payload":"","payloadType":"date","repeat":"2.1","crontab":"","once":false,"onceDelay":"","x":160,"y":680,"wires":[["26b1f79b.3a21a"]]},{"id":"52c89f2b.d1fc98","type":"ui_group","z":"","name":"Settings","tab":"8a4c3772.6ffea","order":4,"disp":false,"width":"7","collapse":false},{"id":"5777d7b7.74d6b","type":"ui_group","z":"","name":"Charts","tab":"8a4c3772.6ffea","order":2,"disp":false,"width":"16","collapse":false},{"id":"2ff2295d.292c06","type":"ui_group","z":"","name":"Text Data","tab":"8a4c3772.6ffea","order":3,"disp":false,"width":"7","collapse":false},{"id":"8a4c3772.6ffea","type":"ui_tab","z":"","name":"BOS026R","icon":"dashboard","order":1}]